ipykernel~=6.16
ipython~=8.5
Sphinx~=4.1
sphinxcontrib-fulltoc~=1.2
myst-parser~=0.18.0
nbsphinx~=0.8
jinja2<4.0
geopandas~=0.11.1
hvplot~=0.8.1
matplotlib~=3.6.0
geojson~=2.5.0
pygeoif~=0.7
pydata-sphinx-theme~=0.10