ipykernel~=6.21
ipython~=8.11
Sphinx~=5.3
sphinxcontrib-fulltoc~=1.2
myst-parser~=1.0.0
nbsphinx~=0.8
jinja2<4.0
geopandas~=0.12.2
hvplot~=0.8.2
matplotlib~=3.7.1
geojson~=3.0.1
pygeoif~=1.0
pydata-sphinx-theme~=0.13
boto3~=1.26