interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.sage.uvt.ro/
  response:
    body:
      string: "{\"type\":\"Catalog\",\"id\":\"stac-fastapi\",\"title\":\"stac-fastapi\",\"description\":\"stac-fastapi\",\"stac_version\":\"1.0.0\",\"conformsTo\":[\"http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter\",\"http://www.opengis.net/spec/cql2/1.0/conf/cql2-json\",\"http://www.opengis.net/spec/cql2/1.0/conf/cql2-text\",\"https://api.stacspec.org/v1.0.0/item-search#fields\",\"https://api.stacspec.org/v1.0.0/item-search#sort\",\"https://api.stacspec.org/v1.0.0/item-search\",\"http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson\",\"https://api.stacspec.org/v1.0.0/collections\",\"http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2\",\"https://api.stacspec.org/v1.0.0/core\",\"https://api.stacspec.org/v1.0.0-rc.2/item-search#filter\",\"http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core\",\"https://api.stacspec.org/v1.0.0/item-search#query\",\"https://api.stacspec.org/v1.0.0/ogcapi-features\",\"http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30\",\"http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter\"],\"links\":[{\"rel\":\"self\",\"type\":\"application/json\",\"href\":\"https://stac.sage.uvt.ro/\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://stac.sage.uvt.ro/\"},{\"rel\":\"data\",\"type\":\"application/json\",\"href\":\"https://stac.sage.uvt.ro/collections\"},{\"rel\":\"conformance\",\"type\":\"application/json\",\"title\":\"STAC/OGC
        conformance classes implemented by this server\",\"href\":\"https://stac.sage.uvt.ro/conformance\"},{\"rel\":\"search\",\"type\":\"application/geo+json\",\"title\":\"STAC
        search\",\"href\":\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.sage.uvt.ro/queryables
  response:
    body:
      string: '{"$id":"https://stac.sage.uvt.ro/queryables","type":"object","title":"STAC
        Queryables.","$schema":"http://json-schema.org/draft-07/schema#","properties":{"id":{"$ref":"https://schemas.stacspec.org/v1.0.0/item-spec/json-schema/item.json#/definitions/core/allOf/2/properties/id","title":"Item
        ID","description":"Item identifier"},"datetime":{"type":"string","title":"Acquired","format":"date-time","pattern":"(\\+00:00|Z)$","description":"Datetime"},"geometry":{"$ref":"https://geojson.org/schema/Feature.json","title":"Item
        Geometry","description":"Item Geometry"},"platform":{"type":"string"},"proj:bbox":{"type":"array"},"proj:epsg":{"type":"number"},"proj:shape":{"type":"array"},"instruments":{"type":"array"},"s2:mgrs_tile":{"type":"string"},"constellation":{"type":"string"},"proj:geometry":{"type":"object"},"proj:projjson":{"type":"object"},"s2:granule_id":{"type":"string"},"eo:cloud_cover":{"$ref":"https://stac-extensions.github.io/eo/v1.0.0/schema.json#/definitions/fieldsproperties/eo:cloud_cover"},"proj:transform":{"type":"array"},"s2:datatake_id":{"type":"string"},"s2:product_uri":{"type":"string"},"s2:datastrip_id":{"type":"string"},"s2:product_type":{"type":"string"},"sat:orbit_state":{"type":"string"},"s2:datatake_type":{"type":"string"},"s2:generation_time":{"type":"string"},"sat:relative_orbit":{"type":"number"},"eocubero:snow_cover":{"type":"number"},"s2:mean_solar_zenith":{"type":"number"},"s2:mean_solar_azimuth":{"type":"number"},"eocubero:rain-detected":{"type":"boolean"},"s2:processing_baseline":{"type":"string"},"s2:snow_ice_percentage":{"type":"number"},"eocubero:s2-source-item":{"type":"string"},"eocubero:hotspot-detected":{"type":"boolean"},"eocubero:sun-glint-detected":{"type":"boolean"},"s2:degraded_msi_data_percentage":{"type":"number"}},"additionalProperties":true}'
    headers:
      Content-Type:
      - application/schema+json
    status:
      code: 200
      message: OK
version: 1
