interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.sage.uvt.ro/
  response:
    body:
      string: "{\"type\":\"Catalog\",\"id\":\"stac-fastapi\",\"title\":\"stac-fastapi\",\"description\":\"stac-fastapi\",\"stac_version\":\"1.0.0\",\"conformsTo\":[\"http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core\",\"http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2\",\"http://www.opengis.net/spec/cql2/1.0/conf/cql2-json\",\"http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter\",\"http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter\",\"https://api.stacspec.org/v1.0.0/collections\",\"http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson\",\"https://api.stacspec.org/v1.0.0/ogcapi-features\",\"http://www.opengis.net/spec/cql2/1.0/conf/cql2-text\",\"https://api.stacspec.org/v1.0.0/item-search#sort\",\"https://api.stacspec.org/v1.0.0/item-search\",\"http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30\",\"https://api.stacspec.org/v1.0.0/core\",\"https://api.stacspec.org/v1.0.0-rc.2/item-search#filter\",\"https://api.stacspec.org/v1.0.0/item-search#query\",\"https://api.stacspec.org/v1.0.0/item-search#fields\"],\"links\":[{\"rel\":\"self\",\"type\":\"application/json\",\"href\":\"https://stac.sage.uvt.ro/\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://stac.sage.uvt.ro/\"},{\"rel\":\"data\",\"type\":\"application/json\",\"href\":\"https://stac.sage.uvt.ro/collections\"},{\"rel\":\"conformance\",\"type\":\"application/json\",\"title\":\"STAC/OGC
        conformance classes implemented by this server\",\"href\":\"https://stac.sage.uvt.ro/conformance\"},{\"rel\":\"search\",\"type\":\"application/geo+json\",\"title\":\"STAC
        search\",\"href\":\[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://stac.sage.uvt.ro/search
  response:
    body:
      string: '{"type":"FeatureCollection","context":{"limit":10,"returned":10},"features":[{"id":"S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827","bbox":[30.230932062986902,48.63303181535822,31.77513103779051,49.64598096654525],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://stac.sage.uvt.ro/collections/sentinel-2-l1c"},{"rel":"parent","type":"application/json","href":"https://stac.sage.uvt.ro/collections/sentinel-2-l1c"},{"rel":"root","type":"application/json","href":"https://stac.sage.uvt.ro/"},{"rel":"self","type":"application/geo+json","href":"https://stac.sage.uvt.ro/collections/sentinel-2-l1c/items/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827"}],"assets":{"B01":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/GRANULE/L1C_T36UUV_A002551_20250302T090611/IMG_DATA/T36UUV_20250302T085921_B01.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        1 - Coastal aerosol - 60m","eo:bands":[{"name":"B01","common_name":"coastal","description":"Band
        1 - Coastal aerosol","center_wavelength":0.443,"full_width_half_max":0.027}],"proj:bbox":[300000.0,5390220.0,409800.0,5500020.0],"proj:epsg":32636,"proj:shape":[1830,1830],"proj:transform":[60.0,0.0,300000.0,0.0,-60.0,5500020.0,0.0,0.0,1.0]},"B02":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/GRANULE/L1C_T36UUV_A002551_20250302T090611/IMG_DATA/T36UUV_20250302T085921_B02.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        2 - Blue - 10m","eo:bands":[{"name":"B02","common_name":"blue","description":"Band
        2 - Blue","center_wavelength":0.49,"full_width_half_max":0.098}],"proj:bbox":[300000.0,5390220.0,409800.0,5500020.0],"proj:epsg":32636,"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,300000.0,0.0,-10.0,5500020.0,0.0,0.0,1.0]},"B03":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/GRANULE/L1C_T36UUV_A002551_20250302T090611/IMG_DATA/T36UUV_20250302T085921_B03.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        3 - Green - 10m","eo:bands":[{"name":"B03","common_name":"green","description":"Band
        3 - Green","center_wavelength":0.56,"full_width_half_max":0.045}],"proj:bbox":[300000.0,5390220.0,409800.0,5500020.0],"proj:epsg":32636,"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,300000.0,0.0,-10.0,5500020.0,0.0,0.0,1.0]},"B04":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/GRANULE/L1C_T36UUV_A002551_20250302T090611/IMG_DATA/T36UUV_20250302T085921_B04.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        4 - Red - 10m","eo:bands":[{"name":"B04","common_name":"red","description":"Band
        4 - Red","center_wavelength":0.665,"full_width_half_max":0.038}],"proj:bbox":[300000.0,5390220.0,409800.0,5500020.0],"proj:epsg":32636,"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,300000.0,0.0,-10.0,5500020.0,0.0,0.0,1.0]},"B05":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/GRANULE/L1C_T36UUV_A002551_20250302T090611/IMG_DATA/T36UUV_20250302T085921_B05.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        5 - Vegetation red edge 1 - 20m","eo:bands":[{"name":"B05","common_name":"rededge","description":"Band
        5 - Vegetation red edge 1","center_wavelength":0.704,"full_width_half_max":0.019}],"proj:bbox":[300000.0,5390220.0,409800.0,5500020.0],"proj:epsg":32636,"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,5500020.0,0.0,0.0,1.0]},"B06":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/GRANULE/L1C_T36UUV_A002551_20250302T090611/IMG_DATA/T36UUV_20250302T085921_B06.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        6 - Vegetation red edge 2 - 20m","eo:bands":[{"name":"B06","common_name":"rededge","description":"Band
        6 - Vegetation red edge 2","center_wavelength":0.74,"full_width_half_max":0.018}],"proj:bbox":[300000.0,5390220.0,409800.0,5500020.0],"proj:epsg":32636,"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,5500020.0,0.0,0.0,1.0]},"B07":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/GRANULE/L1C_T36UUV_A002551_20250302T090611/IMG_DATA/T36UUV_20250302T085921_B07.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        7 - Vegetation red edge 3 - 20m","eo:bands":[{"name":"B07","common_name":"rededge","description":"Band
        7 - Vegetation red edge 3","center_wavelength":0.783,"full_width_half_max":0.028}],"proj:bbox":[300000.0,5390220.0,409800.0,5500020.0],"proj:epsg":32636,"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,5500020.0,0.0,0.0,1.0]},"B08":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/GRANULE/L1C_T36UUV_A002551_20250302T090611/IMG_DATA/T36UUV_20250302T085921_B08.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        8 - NIR - 10m","eo:bands":[{"name":"B08","common_name":"nir","description":"Band
        8 - NIR","center_wavelength":0.842,"full_width_half_max":0.145}],"proj:bbox":[300000.0,5390220.0,409800.0,5500020.0],"proj:epsg":32636,"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,300000.0,0.0,-10.0,5500020.0,0.0,0.0,1.0]},"B09":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/GRANULE/L1C_T36UUV_A002551_20250302T090611/IMG_DATA/T36UUV_20250302T085921_B09.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        9 - Water vapor - 60m","eo:bands":[{"name":"B09","description":"Band 9 - Water
        vapor","center_wavelength":0.945,"full_width_half_max":0.026}],"proj:bbox":[300000.0,5390220.0,409800.0,5500020.0],"proj:epsg":32636,"proj:shape":[1830,1830],"proj:transform":[60.0,0.0,300000.0,0.0,-60.0,5500020.0,0.0,0.0,1.0]},"B10":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/GRANULE/L1C_T36UUV_A002551_20250302T090611/IMG_DATA/T36UUV_20250302T085921_B10.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        10 - Short Wave Infrared (SWIR)","eo:bands":[{"name":"B10","common_name":"cirrus","description":"Band
        11 - SWIR (1.3)","center_wavelength":1.375,"full_width_half_max":0.075}],"proj:bbox":[300000.0,5390220.0,409800.0,5500020.0],"proj:epsg":32636,"proj:shape":[1830,1830],"proj:transform":[60.0,0.0,300000.0,0.0,-60.0,5500020.0,0.0,0.0,1.0]},"B11":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/GRANULE/L1C_T36UUV_A002551_20250302T090611/IMG_DATA/T36UUV_20250302T085921_B11.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        11 - SWIR (1.6) - 20m","eo:bands":[{"name":"B11","common_name":"swir16","description":"Band
        11 - SWIR (1.6)","center_wavelength":1.61,"full_width_half_max":0.143}],"proj:bbox":[300000.0,5390220.0,409800.0,5500020.0],"proj:epsg":32636,"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,5500020.0,0.0,0.0,1.0]},"B12":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/GRANULE/L1C_T36UUV_A002551_20250302T090611/IMG_DATA/T36UUV_20250302T085921_B12.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        12 - SWIR (2.2) - 20m","eo:bands":[{"name":"B12","common_name":"swir22","description":"Band
        12 - SWIR (2.2)","center_wavelength":2.19,"full_width_half_max":0.242}],"proj:bbox":[300000.0,5390220.0,409800.0,5500020.0],"proj:epsg":32636,"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,5500020.0,0.0,0.0,1.0]},"B8A":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/GRANULE/L1C_T36UUV_A002551_20250302T090611/IMG_DATA/T36UUV_20250302T085921_B8A.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        8A - Vegetation red edge 4 - 20m","eo:bands":[{"name":"B8A","common_name":"rededge","description":"Band
        8A - Vegetation red edge 4","center_wavelength":0.865,"full_width_half_max":0.033}],"proj:bbox":[300000.0,5390220.0,409800.0,5500020.0],"proj:epsg":32636,"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,5500020.0,0.0,0.0,1.0]},"TCI":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/GRANULE/L1C_T36UUV_A002551_20250302T090611/IMG_DATA/T36UUV_20250302T085921_TCI.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"True
        color image","eo:bands":[{"name":"B04","common_name":"red","description":"Band
        4 - Red","center_wavelength":0.665,"full_width_half_max":0.038},{"name":"B03","common_name":"green","description":"Band
        3 - Green","center_wavelength":0.56,"full_width_half_max":0.045},{"name":"B02","common_name":"blue","description":"Band
        2 - Blue","center_wavelength":0.49,"full_width_half_max":0.098}],"proj:bbox":[300000.0,5390220.0,409800.0,5500020.0],"proj:epsg":32636,"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,300000.0,0.0,-10.0,5500020.0,0.0,0.0,1.0]},"fmask":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/GRANULE/L1C_T36UUV_A002551_20250302T090611/IMG_DATA/T36UUV_20250302T085921_CLDFMASK.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"FMask
        generated cloud mask","proj:bbox":[300000.0,5390220.0,409800.0,5500020.0],"proj:epsg":32636,"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,5500020.0,0.0,0.0,1.0]},"preview":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/GRANULE/L1C_T36UUV_A002551_20250302T090611/QI_DATA/T36UUV_20250302T085921_PVI.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["thumbnail"],"title":"Thumbnail"},"safe-manifest":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/manifest.safe","type":"application/xml","roles":["metadata"],"title":"SAFE
        manifest"},"granule-metadata":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/GRANULE/L1C_T36UUV_A002551_20250302T090611/MTD_TL.xml","type":"application/xml","roles":["metadata"],"title":"Granule
        metadata"},"inspire-metadata":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/INSPIRE.xml","type":"application/xml","roles":["metadata"],"title":"INSPIRE
        metadata"},"product-metadata":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/MTD_MSIL1C.xml","type":"application/xml","roles":["metadata"],"title":"Product
        metadata"},"rendered_preview":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827-ql.jpg","type":"image/jpeg","roles":["overview"],"title":"Rendered
        preview"},"datastrip-metadata":{"href":"https://storage.info.uvt.ro/eodata/Sentinel-2/2025/3/2/T36UUV/S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE/DATASTRIP/DS_2CPS_20250302T110827_S20250302T090611/MTD_DS.xml","type":"application/xml","roles":["metadata"],"title":"Datastrip
        metadata"}},"geometry":{"type":"Polygon","coordinates":[[[30.230932062986902,49.619596875011254],[31.75053740496535,49.64598096654525],[31.77513103779051,48.6585189163826],[30.285371051797206,48.63303181535822],[30.230932062986902,49.619596875011254]]]},"collection":"sentinel-2-l1c","properties":{"datetime":"2025-03-02T11:08:27Z","platform":"Sentinel-2C","proj:epsg":32636,"instruments":["msi"],"s2:mgrs_tile":"T36UUV","constellation":"Sentinel
        2","s2:granule_id":"S2C_OPER_MSI_L1C_TL_2CPS_20250302T110827_A002551_T36UUV_N05.11","eo:cloud_cover":99.96321180089,"s2:datatake_id":"GS2C_20250302T085921_002551_N05.11","s2:product_uri":"S2C_MSIL1C_20250302T085921_N0511_R007_T36UUV_20250302T110827.SAFE","s2:datastrip_id":"S2C_OPER_MSI_L1C_DS_2CPS_20250302T110827_S20250302T090611_N05.11","s2:product_type":"S2MSI1C","sat:orbit_state":"descending","s2:datatake_type":"INS-NOBS","s2:generation_time":"2025-03-02T11:08:27+00:00","sat:relative_orbit":7,"s2:mean_solar_zenith":57.748344077577,"s2:mean_solar_azimuth":162.03833101329,"s2:processing_baseline":"05.11","s2:snow_ice_percentage":0.0,"s2:degraded_msi_data_percentage":0.0},"stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v1.0.0/schema.json","https://stac-extensions.github.io/sat/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json"]},{"id":"S2C_MSIL1C_20250302T085921_N0511_R007_T36UUU_20250302T110827","bbox":[30.2806415047717,47.734155602346505,31.796401702235197,48.74648044472784],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://stac.sage.uvt.ro/collections/sentinel-2-l1c"},{"rel":"parent","type":"appli[...]
