interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/item-search#fields","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","https://api.stacspec.org/v1.0.0/ogcapi-features","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/collections","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search#sort"],"links":[{"rel":"self","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"data","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://planetarycomputer.microsoft.com/api/stac/v1/conformance"},{"rel":"search","type":"applicat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/cil-gdpcir-cc-by
  response:
    body:
      string: "{\"id\":\"cil-gdpcir-cc-by\",\"type\":\"Collection\",\"links\":[{\"rel\":\"items\",\"type\":\"application/geo+json\",\"href\":\"https://planetarycomputer.microsoft.com/api/stac/v1/collections/cil-gdpcir-cc-by/items\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://planetarycomputer.microsoft.com/api/stac/v1/\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://planetarycomputer.microsoft.com/api/stac/v1/\"},{\"rel\":\"self\",\"type\":\"application/json\",\"href\":\"https://planetarycomputer.microsoft.com/api/stac/v1/collections/cil-gdpcir-cc-by\"},{\"rel\":\"license\",\"href\":\"https://spdx.org/licenses/CC-BY-4.0.html\",\"type\":\"text/html\",\"title\":\"Creative
        Commons Attribution 4.0 International\"},{\"rel\":\"cite-as\",\"href\":\"https://zenodo.org/record/6403794\",\"type\":\"text/html\"},{\"rel\":\"describedby\",\"href\":\"https://github.com/ClimateImpactLab/downscaleCMIP6/\",\"type\":\"text/html\",\"title\":\"Project
        homepage\"},{\"rel\":\"describedby\",\"href\":\"https://planetarycomputer.microsoft.com/dataset/cil-gdpcir-cc-by\",\"title\":\"Human
        readable dataset overview and reference\",\"type\":\"text/html\"}],\"title\":\"CIL
        Global Downscaled Projections for Climate Impacts Research (CC-BY-4.0)\",\"assets\":{\"thumbnail\":{\"href\":\"https://ai4edatasetspublicassets.blob.core.windows.net/assets/pc_thumbnails/gdpcir.png\",\"type\":\"image/png\",\"title\":\"Thumbnail\"},\"geoparquet-items\":{\"href\":\"abfs://items/cil-gdpcir-cc-by.parquet\",\"type\":\"application/x-parquet\",\"roles\":[\"stac-items\"],\"title\":\"GeoParquet
        STAC items\",\"description\":\"Snapshot of the collection's STAC items exported
        to GeoParquet format.\",\"msft:partition_info\":{\"is_partitioned\":false},\"table:storage_options\":{\"account_name\":\"pcstacitems\"}}},\"extent\":{\"spatial\":{\"bbox\":[[-180,-90,180,90]]},\"temporal\":{\"interval\":[[\"1950-01-01T00:00:00Z\",\"2100-12-31T00:00:00Z\"]]}},\"license\":\"CC-BY-4.0\",\"sci:doi\":\"10.5194/egusphere-2022-1513\",\"keywords\":[\"CMIP6\",\"Climate
        Impact Lab\",\"Rhodium Group\",\"Precipitation\",\"Temperature\"],\"providers\":[{\"url\":\"https://impactlab.org/\",\"name\":\"Climate
        Impact Lab\",\"roles\":[\"producer\"]},{\"url\":\"https://planetarycomputer.microsoft.com/\",\"name\":\"Microsoft\",\"roles\":[\"host\"]}],\"summaries\":{\"cmip6:variable\":[\"pr\",\"tasmax\",\"tasmin\"],\"cmip6:source_id\":[\"BCC-CSM2-MR\",\"ACCESS-ESM1-5\",\"ACCESS-CM2\",\"MIROC-ES2L\",\"MIROC6\",\"NorESM2-LM\",\"NorESM2-MM\",\"GFDL-CM4\",\"GFDL-ESM4\",\"NESM3\",\"MPI-ESM1-2-HR\",\"HadGEM3-GC31-LL\",\"UKESM1-0-LL\",\"MPI-ESM1-2-LR\",\"EC-Earth3\",\"EC-Earth3-AerChem\",\"EC-Earth3-CC\",\"EC-Earth3-Veg\",\"EC-Earth3-Veg-LR\",\"CMCC-CM2-SR5\",\"CMCC-ESM2\"],\"cmip6:experiment_id\":[\"historical\",\"ssp126\",\"ssp245\",\"ssp370\",\"ssp585\"],\"cmi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/cil-gdpcir-cc-by/items/cil-gdpcir-NUIST-NESM3-ssp585-r1i1p1f1-day
  response:
    body:
      string: '{"id":"cil-gdpcir-NUIST-NESM3-ssp585-r1i1p1f1-day","bbox":[-180,-90,180,90],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/cil-gdpcir-cc-by"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/cil-gdpcir-cc-by"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/cil-gdpcir-cc-by/items/cil-gdpcir-NUIST-NESM3-ssp585-r1i1p1f1-day"}],"assets":{"pr":{"href":"abfs://cil-gdpcir/ScenarioMIP/NUIST/NESM3/ssp585/r1i1p1f1/day/pr/v1.1.zarr","cmip6:grid":"T63","msft:https-url":"https://rhgeuwest.blob.core.windows.net/cil-gdpcir/ScenarioMIP/NUIST/NESM3/ssp585/r1i1p1f1/day/pr/v1.1.zarr","cmip6:grid_label":"gn","cmip6:tracking_id":"hdl:21.14100/ed432434-922e-4cea-8400-c321598fd7cf\nhdl:21.14100/abea2bb8-09d0-4114-9051-fe232efe108e\nhdl:21.14100/205a607f-75f4-4919-b495-45fa8fdb77b8","cmip6:variable_id":"pr","xarray:open_kwargs":{"chunks":{},"engine":"zarr","consolidated":true,"storage_options":{"account_name":"rhgeuwest"}},"cmip6:creation_date":"2019-08-11T09:53:50Z","type":"application/vnd+zarr"},"tasmax":{"href":"abfs://cil-gdpcir/ScenarioMIP/NUIST/NESM3/ssp585/r1i1p1f1/day/tasmax/v1.1.zarr","cmip6:grid":"T63","msft:https-url":"https://rhgeuwest.blob.core.windows.net/cil-gdpcir/ScenarioMIP/NUIST/NESM3/ssp585/r1i1p1f1/day/tasmax/v1.1.zarr","cmip6:grid_label":"gn","cmip6:tracking_id":"hdl:21.14100/01f58d9c-1317-467e-813d-a2358cdf7954\nhdl:21.14100/e027cda7-ac28-4e00-b03f-53ad2e6d30b4\nhdl:21.14100/3898bc79-5174-4fcc-9637-4573914ad548","cmip6:variable_id":"tasmax","xarray:open_kwargs":{"chunks":{},"engine":"zarr","consolidated":true,"storage_options":{"account_name":"rhgeuwest"}},"cmip6:creation_date":"2019-08-11T09:50:24Z","type":"application/vnd+zarr"},"tasmin":{"href":"abfs://cil-gdpcir/ScenarioMIP/NUIST/NESM3/ssp585/r1i1p1f1/day/tasmin/v1.1.zarr","cmip6:grid":"T63","msft:https-url":"https://rhgeuwest.blob.core.windows.net/cil-gdpcir/ScenarioMIP/NUIST/NESM3/ssp585/r1i1p1f1/day/tasmin/v1.1.zarr","cmip6:grid_label":"gn","cmip6:tracking_id":"hdl:21.14100/1998e7f0-ad6a-4720-8150-9085db6f96b8\nhdl:21.14100/ca181871-4103-481d-8764-b74c2448427f\nhdl:21.14100/fceb22c4-0454-4d68-bb48-1d903df19e63","cmip6:variable_id":"tasmin","xarray:open_kwargs":{"chunks":{},"engine":"zarr","consolidated":true,"storage_options":{"account_name":"rhgeuwest"}},"cmip6:creation_date":"2019-08-11T09:48:45Z","type":"application/vnd+zarr"}},"geometry":{"type":"Polygon","coordinates":[[[180,-90],[180,90],[-180,90],[-180,-90],[180,-90]]]},"collection":"cil-gdpcir-cc-by","properties":{"datetime":null,"cmip6:realm":"atmos","cmip6:source":"NESM
        v3 (2016): \naerosol: none\natmos: ECHAM v6.3 (T63; 192 x 96 longitude/latitude;
        47 levels; top level 1 Pa)\natmosChem: none\nland: JSBACH v3.1\nlandIce: none\nocean:
        NEMO v3.4 (NEMO v3.4, tripolar primarily 1deg; 384 x 362 longitude/latitude;
        46 levels; top grid cell 0-6 m)\nocnBgchem: none\nseaIce: CICE4.1","end_datetime":"2100-12-31T12:00:00Z","cmip6:license":"https://github.com/ClimateImpactLab/downscaleCMIP6/tree/master/data_licenses/NESM3.txt","cmip6:mip_era":"CMIP6","cmip6:product":"model-output","cmip6:table_id":"day","cube:variables":{"pr":{"type":"data","unit":"mm
        day-1","attrs":{"units":"mm day-1"},"shape":[31390,720,1440],"dimensions":["time","lat","lon"]},"tasmax":{"type":"data","unit":"K","attrs":{"units":"K","comment":"maximum
        near-surface (usually, 2 meter) air temperature (add cell_method attribute
        ''time: max'')","history":"2019-08-11T09:50:24Z altered by CMOR: Treated scalar
        dimension: ''height''. 2019-08-11T09:50:24Z altered by CMOR: Inverted axis:
        lat.","long_name":"Daily Maximum Near-Surface Air Temperature","cell_methods":"area:
        mean time: maximum","cell_measures":"area: areacella","standard_name":"air_temperature"},"shape":[31390,720,1440],"dimensions":["time","lat","lon"],"description":"Daily
        Maximum Near-Surface Air Temperature"},"tasmin":{"type":"data","unit":"K","attrs":{"units":"K","comment":"minimum
        near-surface (usually, 2 meter) air temperature (add cell_method attribute
        ''time: min'')","history":"2019-08-11T09:48:45Z altered by CMOR: Treated scalar
        dimension: ''height''. 2019-08-11T09:48:45Z altered by CMOR: Inverted axis:
        lat.","long_name":"Daily Minimum Near-Surface Air Temperature","cell_methods":"area:
        mean time: minimum","cell_measures":"area: areacella","standard_name":"air_temperature"},"shape":[31390,720,1440],"dimensions":["time","lat","lon"],"description":"Daily
        Minimum Near-Surface Air Temperature"}},"start_datetime":"2015-01-01T12:00:00Z","cmip6:frequency":"day","cmip6:source_id":"NESM3","cube:dimensions":{"lat":{"axis":"y","step":0.25,"type":"spatial","extent":[-89.875,89.875],"reference_system":"epsg:4326"},"lon":{"axis":"x","step":0.25,"type":"spatial","extent":[-179.875,179.875],"reference_system":"epsg:4326"},"time":{"step":"P1DT0H0M0S","type":"temporal","extent":["2015-01-01T12:00:00Z","2100-12-31T12:00:00Z"],"description":"time"}},"cmip6:experiment":"update
        of RCP8.5 based on SSP5","cmip6:Conventions":"CF-1.7 CMIP-6.2","cmip6:activity_id":"ScenarioMIP","cmip6:institution":"Nanjing
        University of Information Science and Technology, Nanjing, 210044, China","cmip6:source_type":"AOGCM","cmip6:experiment_id":"ssp585","cmip6:forcing_index":1,"cmip6:physics_index":1,"cmip6:variant_label":"r1i1p1f1","cmip6:institution_id":"NUIST","cmip6:sub_experiment":"none","cmip6:further_info_url":"https://furtherinfo.es-doc.org/CMIP6.NUIST.NESM3.ssp585.none.r1i1p1f1","cmip6:realization_index":1,"cmip6:sub_experiment_id":"none","cmip6:data_specs_version":"01.00.30","cmip6:nominal_resolution":"250
        km","cmip6:initialization_index":1},"stac_extensions":["https://stac-extensions.github.io/datacube/v2.0.0/schema.json"],"stac_version":"1.0.0"}'
    headers:
      Content-Type:
      - application/geo+json
    status:
      code: 200
      message: OK
[...]
