interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eod-catalog-svc-prod.astraea.earth
  response:
    body:
      string: '{"conformsTo":["http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi_common-2/1.0/req/collections","http://stacspec.org/spec/api/1.0.0-beta.1/core","http://stacspec.org/spec/api/1.0.0-beta.1/req/stac-search","http://stacspec.org/spec/api/1.0.0-beta.1/req/stac-response","http://stacspec.org/spec/api/1.0.0-beta.1/req/fields","http://stacspec.org/spec/api/1.0.0-beta.1/req/context","http://stacspec.org/spec/api/1.0.0-beta.1/req/sort"],"description":"Astraea
        Earth OnDemand geospatial imagery query and analysis tool","id":"astraea","links":[{"href":"https://eod-catalog-svc-prod.astraea.earth","rel":"self","title":"Self","type":"application/json"},{"href":"https://eod-catalog-svc-prod.astraea.earth","rel":"root","title":"Root","type":"application/json"},{"href":"https://eod-catalog-svc-prod.astraea.earth/api","rel":"service-desc","title":"OpenAPI
        specification","type":"application/json"},{"href":"https://eod-catalog-svc-prod.astraea.earth/api.html","rel":"service-doc","title":"API
        documentation","type":"text/html"},{"href":"https://eod-catalog-svc-prod.astraea.earth/collections","rel":"data","title":"Co[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1
  response:
    body:
      string: '{"id":"microsoft-pc","description":"Searchable spatiotemporal metadata
        describing Earth science datasets hosted by the Microsoft Planetary Computer","title":"Microsoft
        Planetary Computer STAC API","stac_version":"1.0.0-beta.2","links":[{"href":"https://planetarycomputer.microsoft.com/api/stac/v1/","rel":"self","type":"application/json"},{"href":"https://planetarycomputer.microsoft.com/api/stac/v1/docs","rel":"docs","type":"text/html","title":"OpenAPI
        docs"},{"href":"https://planetarycomputer.microsoft.com/api/stac/v1/conformance","rel":"conformance","type":"application/json","title":"STAC/WFS3
        conformance classes implemented by this server"},{"href":"https://planetarycomputer.microsoft.c[...]
