interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/item-search#fields","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","https://api.stacspec.org/v1.0.0/ogcapi-features","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/collections","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search#sort"],"links":[{"rel":"self","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"data","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://planetarycomputer.microsoft.com/api/stac/v1/conformance"},{"rel":"search","type":"applicat[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"UKESM1-0-LL.ssp585.2100","bbox":[-180,-90,180,90],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/nasa-nex-gddp-cmip6"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/nasa-nex-gddp-cmip6"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/nasa-nex-gddp-cmip6/items/UKESM1-0-LL.ssp585.2100"}],"assets":{"pr":{"href":"https://nasagddp.blob.core.windows.net/nex-gddp-cmip6/NEX/GDDP-CMIP6/UKESM1-0-LL/ssp585/r1i1p1f2/pr/pr_day_UKESM1-0-LL_ssp585_r1i1p1f2_gn_2100.nc","cmip6:variable":"pr","type":"application/netcdf","roles":["data"]},"tas":{"href":"https://nasagddp.blob.core.windows.net/nex-gddp-cmip6/NEX/GDDP-CMIP6/UKESM1-0-LL/ssp585/r1i1p1f2/tas/tas_day_UKESM1-0-LL_ssp585_r1i1p1f2_gn_2100.nc","cmip6:variable":"tas","type":"application/netcdf","roles":["data"]},"hurs":{"href":"https://nasagddp.blob.core.windows.net/nex-gddp-cmip6/NEX/GDDP-CMIP6/UKESM1-0-LL/ssp585/r1i1p1f2/hurs/hurs_day_UKESM1-0-LL_ssp585_r1i1p1f2_gn_2100.nc","cmip6:variable":"hurs","type":"application/netcdf","roles":["data"]},"huss":{"href":"https://nasagddp.blob.core.windows.net/nex-gddp-cmip6/NEX/GDDP-CMIP6/UKESM1-0-LL/ssp585/r1i1p1f2/huss/huss_day_UKESM1-0-LL_ssp585_r1i1p1f2_gn_2100.nc","cmip6:variable":"huss","type":"application/netcdf","roles":["data"]},"rlds":{"href":"https://nasagddp.blob.core.windows.net/nex-gddp-cmip6/NEX/GDDP-CMIP6/UKESM1-0-LL/ssp585/r1i1p1f2/rlds/rlds_day_UKESM1-0-LL_ssp585_r1i1p1f2_gn_2100.nc","cmip6:variable":"rlds","type":"application/netcdf","roles":["data"]},"rsds":{"href":"https://nasagddp.blob.core.windows.net/nex-gddp-cmip6/NEX/GDDP-CMIP6/UKESM1-0-LL/ssp585/r1i1p1f2/rsds/rsds_day_UKESM1-0-LL_ssp585_r1i1p1f2_gn_2100.nc","cmip6:variable":"rsds","type":"application/netcdf","roles":["data"]},"tasmax":{"href":"https://nasagddp.blob.core.windows.net/nex-gddp-cmip6/NEX/GDDP-CMIP6/UKESM1-0-LL/ssp585/r1i1p1f2/tasmax/tasmax_day_UKESM1-0-LL_ssp585_r1i1p1f2_gn_2100.nc","cmip6:variable":"tasmax","type":"application/netcdf","roles":["data"]},"tasmin":{"href":"https://nasagddp.blob.core.windows.net/nex-gddp-cmip6/NEX/GDDP-CMIP6/UKESM1-0-LL/ssp585/r1i1p1f2/tasmin/tasmin_day_UKESM1-0-LL_ssp585_r1i1p1f2_gn_2100.nc","cmip6:variable":"tasmin","type":"application/netcdf","roles":["data"]},"sfcWind":{"href":"https://nasagddp.blob.core.windows.net/nex-gddp-cmip6/NEX/GDDP-CMIP6/UKESM1-0-LL/ssp585/r1i1p1f2/sfcWind/sfcWind_day_UKESM1-0-LL_ssp585_r1i1p1f2_gn_2100.nc","cmip6:variable":"sfcWind","type":"application/netcdf","roles":["data"]}},"geometry":{"type":"Polygon","coordinates":[[[180,-90],[180,90],[-180,90],[-180,-90],[180,-90]]]},"collection":"nasa-nex-gddp-cmip6","properties":{"datetime":null,"cmip6:year":2100,"cmip6:model":"UKESM1-0-LL","end_datetime":"2100-12-30T12:00:00Z","cmip6:scenario":"ssp585","cube:variables":{"pr":{"type":"data","unit":"kg
        m-2 s-1","attrs":{"units":"kg m-2 s-1","comment":"includes both liquid and
        solid phases","long_name":"Precipitation","cell_methods":"area: time: mean","cell_measures":"area:
        areacella","original_name":"mo: (stash: m01s05i216, lbproc: 128)","standard_name":"precipitation_flux"},"shape":[360,600,1440],"dimensions":["time","lat","lon"],"description":"Precipitation"},"tas":{"type":"data","unit":"K","attrs":{"units":"K","comment":"near-surface
        (usually, 2 meter) air temperature; derived from downscaled tasmax & tasmin","long_name":"Daily
        Near-Surface Air Temperature","cell_methods":"area: mean time: maximum","cell_measures":"area:
        areacella","original_name":"mo: (stash: m01s03i236, lbproc: 8192)","standard_name":"air_temperature"},"shape":[360,600,1440],"dimensions":["time","lat","lon"],"description":"Daily
        Near-Surface Air Temperature"},"hurs":{"type":"data","unit":"%","attrs":{"units":"%","comment":"The
        relative humidity with respect to liquid water for T> 0 C, and with respect
        to ice for T<0 C.","long_name":"Near-Surface Relative Humidity","cell_methods":"area:
        time: mean","cell_measures":"area: areacella","original_name":"mo: (stash:
        m01s03i245, lbproc: 128)","standard_name":"relative_humidity"},"shape":[360,600,1440],"dimensions":["time","lat","lon"],"description":"Near-Surface
        Relative Humidity"},"huss":{"type":"data","unit":"1","attrs":{"units":"1","comment":"Near-surface
        (usually, 2 meter) specific humidity.","long_name":"Near-Surface Specific
        Humidity","cell_methods":"area: time: mean","cell_measures":"area: areacella",[...]
