interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.digitalearth.africa/stac/
  response:
    body:
      string: '{"type":"Catalog","id":"DEAfrica_data","stac_version":"1.0.0","description":"Configure
        stac endpoint information in your Explorer `settings.env.py` file","links":[{"rel":"root","href":"https://explorer.digitalearth.africa/stac","type":"application/json","title":"Digital
        Earth Africa"},{"rel":"self","href":"https://explorer.digitalearth.africa/stac","type":"application/json"},{"rel":"children","href":"https://explorer.digitalearth.africa/stac/collections","type":"application/json","title":"Collections"},{"rel":"child","href":"https://explorer.digitalearth.africa/stac/catalogs/arrivals","type":"application/json","title":"Arrivals"},{"rel":"search","href":"https://explorer.digitalearth.africa/stac/search","type":"application/json","title":"Item
  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.digitalearth.africa/stac
  response:
    body:
      string: '{"type":"Catalog","id":"DEAfrica_data","stac_version":"1.0.0","description":"Configure
        stac endpoint information in your Explorer `settings.env.py` file","links":[{"rel":"root","href":"https://explorer.digitalearth.africa/stac","type":"application/json","title":"Digital
        Earth Africa"},{"rel":"self","href":"https://explorer.digitalearth.afr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.digitalearth.africa/stac/queryables
  response:
    body:
      string: '{"$schema":"http://json-schema.org/draft-07/schema#","$id":"https://explorer.digitalearth.africa/stac/queryables","type":"object","title":"","properties":{"id":{"title":"Item
        ID","description":"Item identifier","$ref":"https://schemas.stacspec.org/v1.0.0/item-spec/json-schema/item.json#/definitions/core/allOf/2/properties/id"},"collection":{"description":"Collection","$ref":"https://schemas.stacspec.org/v1.0.0/item-spec/json-schema/item.json#/collection"},"geometry":{"description":"Geometry","$ref":"https://schemas.stacspec.org/v1.0.0/item-spec/json-schema/item.json#/geometry"},"datetime":{"description":"Datetime","$ref":"https://schemas.stacspec.org/v1.0.0/item-spec/json-schema/datetime.json#/properties/datetime"}},"additionalProperties":true}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
