interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0/ogcapi-features","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/collections","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#query","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0/item-search#sort","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/item-search","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core"],"links":[{"rel":"self","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"data","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://planetarycomputer.microsoft.com/api/stac/v1/conformance"},{"rel":"search","type":"applicat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0/ogcapi-features","http://www.opengis.net/spec/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/3dep-seamless
  response:
    body:
      string: '{"id":"3dep-seamless","type":"Collection","links":[{"rel":"items","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/3dep-seamless/items"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/3dep-seamless"},{"rel":"license","href":"https://www.usgs.gov/faqs/what-are-terms-uselicensing-map-services-and-data-national-map?qt-news_science_products=0#qt-news_science_products","title":"Public
        Domain"},{"rel":"describedby","href":"https://planetarycomputer.microsoft.com/dataset/3dep-seamless","title":"Human
        readable dataset overview and reference","type":"text/html"}],"title":"USGS
        3DEP Seamless DEMs","assets":{"thumbnail":{"href":"https://ai4edatasetspublicassets.blob.core.windows.net/assets/pc_thumbnails/threedep.png","type":"image/png","roles":["thumbnail"],"title":"USGS
        3DEP"},"geoparquet-items":{"href":"abfs://items/3dep-seamless.parquet","type":"application/x-parquet","roles":["stac-items"],"title":"GeoParquet
        STAC items","description":"Snapshot of the collection''s STAC items exported
        to GeoParquet format.","msft:partition_info":{"is_partitioned":false},"table:storage_options":{"account_name":"pcstacitems"}}},"extent":{"spatial":{"bbox":[[-174.001666666983,-15.00166666667,164.0016666666,84.00166666666]]},"temporal":{"interval":[["1925-01-01T00:00:00Z","2020-05-06T00:00:00Z"]]}},"license":"PDDL-1.0","keywords":["USGS","3DEP","NED","Elevation","DEM"],"providers":[{"url":"https://www.usgs.gov/core-science-systems/ngp/3dep","name":"USGS","roles":["processor","producer","licensor"]},{"url":"https://planetarycomputer.microsoft.com","name":"Microsoft","roles":["host"]}],"summaries":{"gsd":[10,30]},"description":"U.S.-wide
        digital elevation data at horizontal resolutions ranging from one to sixty
        meters.\n\nThe [USGS 3D Elevation Program (3DEP) Datasets](https://www.usgs.gov/core-science-systems/ngp/3dep)
        from the [National Map](https://www.usgs.gov/core-science-systems/national-geospatial-program/national-map)
        are the primary elevation data product produced and distributed by the USGS.
        The 3DEP program provides raster elevation data for the conterminous United
        States, Alaska, Hawaii, and the island territories, at a variety of spatial
        resolutions.  The seamless DEM layers produced by the 3DEP program are updated
        frequently to integrate newly available, improved elevation source data.  \n\nDEM
        layers are available nationally at grid spacings of 1 arc-second (approximately
        30 meters) for the conterminous United States, and at approximately 1, 3,
        and 9 meters for parts of the United States. Most seamless DEM data for Alaska
        is available at a resolution of approximately 60 meters, where only lower
        resolution source data exist.\n","item_assets":{"data":{"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"]},"gpkg":{"type":"application/geopackage+sqlite3","roles":["metadata"]},"metadata":{"type":"application/xml","roles":["metadata"]},"thumbnail":{"type":"image/jpeg","roles":["thumbnail"]}},"stac_version":"1.0.0","msft:container":"3dep","stac_extensions":["https://stac-extensions.github.io/item-assets/v1.0.0/schema.json","https://stac-extensions.github.io/table/v1.2.0/schema.json"],"msft:storage_account":"ai4edataeuwest","msft:short_description":"U.S.-wide
        digital elevation data at horizontal resolutions ranging from one to sixty
        meters","msft:region":"westeurope"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/3dep-seamless/queryables
  response:
    body:
      string: '{"$id":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/3dep-seamless/queryables","type":"object","title":"STAC
        Queryables.","$schema":"http://json-schema.org/draft-07/schema#","properties":{"id":{"$ref":"https://schemas.stacspec.org/v1.0.0/item-spec/json-schema/item.json#/definitions/core/allOf/2/properties/id","title":"Item
        ID","description":"Item identifier"},"gsd":{"type":"number"},"datetime":{"type":"string","title":"Acquired","format":"date-time","pattern":"(\\+00:00|Z)$","description":"Datetime"},"geometry":{"$ref":"https://geojson.org/schema/Feature.json","title":"Item
        Geometry","description":"Item Geometry"},"proj:epsg":{"type":["integer","null"],"title":"EPSG
        code"},"proj:shape":{"type":"array","items":{"type":"integer"},"title":"Shape","maxItems":2,"minItems":2},"end_datetime":{"type":"string","title":"End
        datetime","format":"date-time","pattern":"(\\+00:00|Z)$","description":"End
        datetime"},"proj:transform":{"type":"array","items":{"type":"number"},"oneOf":[{"maxItems":6,"minItems":6},{"maxItems":9,"minItems":9}],"title":"Transform"},"start_datetime":{"type":"string","title":"Start
        datetime","format":"date-time","pattern":"(\\+00:00|Z)$","description":"Start
        datetime"},"threedep:region":{"type":"string","title":"Region"}}}'
    headers:
      Content-Type:
      - application/schema+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/fia
  response:
    body:
      string: '{"id":"fia","type":"Collection","links":[{"rel":"items","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/fia/items"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/fia"},{"rel":"license","href":"https://www.fs.usda.gov/rds/archive/datauseinfo/open","type":"text/html","title":"USDA
        Open Access Data Use Agreement"},{"rel":"describedby","href":"https://planetarycomputer.microsoft.com/dataset/fia","title":"Human
        readable dataset overview and reference","type":"text/html"}],"title":"Forest
        Inventory and Analysis","assets":{"guide":{"href":"https://www.fia.fs.fed.us/library/database-documentation/current/ver80/FIADB%20User%20Guide%20P2_8-0.pdf","type":"application/pdf","roles":["metadata"],"title":"Database
        Description and User Guide"},"thumbnail":{"href":"https://ai4edatasetspublicassets.blob.core.windows.net/assets/pc_thumbnails/fia.png","type":"image/gif","title":"Forest
        Inventory and Analysis"},"geoparquet-items":{"href":"abfs://items/fia.parquet","type":"application/x-parquet","roles":["stac-items"],"t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/fia/queryables
  response:
    body:
      string: '{"$id":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/fia/queryables","type":"object","title":"STAC
        Queryables.","$schema":"http://json-schema.org/draft-07/schema#","properties":{"id":{"$ref":"https://schemas.stacspec.org/v1.0.0/item-spec/json-schema/item.json#/definitions/core/allOf/2/properties/id","title":"Item
        ID","description":"Item identifier"},"datetime":{"type":"string","title":"Acquired","format":"date-time","pattern":"(\\+00:00|Z)$","description":"Datetime"},"geometry":{"$ref":"https://geojson.org/schema/Feature.json","title":"Item
        Geometry","description":"Item Geometry"},"end_datetime":{"type":"string","title":"End
        datetime","format":"date-time","pattern":"(\\+00:00|Z)$","description":"End
        datetime"},"start_datetime":{"type":"string","title":"Start datetime","format":"date-time","pattern":"(\\+00:00|Z)$","description":"Start
        datetime"}}}'
    headers:
      Content-Type:
      - application/schema+json
    status:
      code: 200
      message: OK
[...]
