interactions:
- request:
    body: '{"bbox": [-73.21, 43.99, -73.12, 45.05], "datetime": "2014-01-01T00:00:00Z/2020-12-31T23:59:59Z",
      "collections": ["naip"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"vt_m_4407364_sw_18_060_20181019_20190225","bbox":[-73.1308,43.996192,-73.056629,44.066307],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip/items/vt_m_4407364_sw_18_060_20181019_20190225"},{"rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=naip&item=vt_m_4407364_sw_18_060_20181019_20190225","title":"Map
        of item","type":"text/html"}],"assets":{"image":{"href":"https://naipeuwest.blob.core.windows.net/naip/v002/vt/2018/vt_060cm_2018/44073/m_4407364_sw_18_060_20181019.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"RGBIR
        COG tile","eo:bands":[{"name":"Red","common_name":"red"},{"name":"Green","common_name":"green"},{"name":"Blue","common_name":"blue"},{"name":"NIR","common_name":"nir","description":"near-infrared"}]},"metadata":{"href":"https://naipeuwest.blob.core.windows.net/naip/v002/vt/2018/vt_fgdc_2018/44073/m_4407364_sw_18_060_20181019.txt","type":"text/plain","roles":["metadata"],"title":"FGDC
        Metdata"},"thumbnail":{"href":"https://naipeuwest.blob.core.windows.net/naip/v002/vt/2018/vt_060cm_2018/44073/m_4407364_sw_18_060_20181019.200.jpg","type":"image/jpeg","roles":["thumbnail"],"title":"Thumbnail"},"tilejson":{"title":"TileJSON
        with default rendering","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/tilejson.json?collection=naip&item=vt_m_4407364_sw_18_060_20181019_20190225&assets=image&asset_bidx=image%7C1%2C2%2C3&format=png","type":"application/json","roles":["tiles"]},"rendered_preview":{"title":"Rendered
        preview","rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/preview.png?collection=naip&item=vt_m_4407364_sw_18_060_20181019_20190225&assets=image&asset_bidx=image%7C1%2C2%2C3&format=png","roles":["overview"],"type":"image/png"}},"geometry":{"type":"Polygon","coordinates":[[[-73.05888,43.996192],[-73.056629,44.065105],[-73.128632,44.066307],[-73.1308,43.997392],[-73.05888,43.996192]]]},"collection":"naip","properties":{"gsd":0.6,"datetime":"2018-10-19T00:00:00Z","naip:year":"2018","proj:bbox":[649869.0,4873281.6,655638.6,4880940.0],"proj:epsg":26918,"naip:state":"vt","proj:shape":[12764,9616],"proj:transform":[0.6,0.0,649869.0,0.0,-0.6,4880940.0,0.0,0.0,1.0]},"stac_extensions":["https://stac-extensions.github.io/eo/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json"],"stac_version":"1.0.0"},{"id":"vt_m_4407364_nw_18_060_20181019_20190225","bbox":[-73.130804,44.058693,-73.05662,44.128808],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","ty[...]
