interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v0
  response:
    body:
      string: '{"stac_version":"1.0.0-beta.2","stac_api_version":"0.9.0","id":"earth-search","title":"Earth
        Search","description":"A STAC API of AWS Public Datasets powered by stac-server","links":[{"rel":"child","href":"https://earth-search.aws.element84.com/v0/collections/sentinel-s2-l2a"},{"rel":"child","href":"https://earth-search.aws.element84.com/v0/collections/sentinel-s2-l1c"},{"rel":"child","href":"https://earth-search.aws.element84.com/v0/collections/sentinel-s2-l2a-cogs"},{"rel":"child","href":"https://earth-search.aws.element84.com/v0/collections/landsat-8-l1-c1"},{"rel":"service-desc","type":"application/vnd.oai.openapi+json;version=3.0","href":"https://earth-search.aws.element84.com/v0/api"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v0/conformance"},{"rel":"children","type":"application/json","href":"https://earth-search.aws.element84.com/v0/collections"},{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v0/"},{"rel":"search","type":"application/json","href":"https://earth-search.aws.element84.com/v0/search"},{"rel":"docs","href":"https://stac-utils.github.io/stac-server/"}]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Kl7QMEwZvHcFnEQ=
      x-amzn-RequestId:
      - 092912a2-44b1-438c-a806-742fea4c56fa
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v0/collections/sentinel-s2-l2a
  response:
    body:
      string: '{"id":"sentinel-s2-l2a","stac_version":"1.0.0-beta.2","description":"Sentinel-2a
        and Sentinel-2b imagery, processed to Level 2A (Surface Reflectance)","links":[{"rel":"self","href":"https://earth-search.aws.element84.com/v0/collections/sentinel-s2-l2a"},{"rel":"license","href":"https://sentinel.esa.int/documents/247904/690755/Sentinel_Data_Legal_Notice"},{"rel":"about","href":"https://github.com/stac-utils/stac-sentinel"},{"rel":"parent","href":"https://earth-search.aws.element84.com/v0/"},{"rel":"root","href":"https://earth-search.aws.element84.com/v0/"},{"rel":"items","href":"https://earth-search.aws.element84.com/v0/collections/sentinel-s2-l2a/items"}],"stac_extensions":["item-assets"],"title":"Sentinel
        2 L2A","keywords":["sentinel","earth observation","esa"],"providers":[{"name":"ESA","roles":["producer"],"url":"https://earth.esa.int/web/guest/home"},{"name":"Sinergise","roles":["processor"],"url":"https://registry.opendata.aws/sentinel-2/"},{"name":"AWS","roles":["host"],"url":"http://sentinel-pds.s3-website.eu-central-1.amazonaws.com/"},{"name":"Element
        84","roles":["processor"],"url":"https://element84.com"}],"summaries":{"platform":["sentinel-2a","sentinel-2b"],"constellation":["sentinel-2"],"instruments":["msi"],"gsd":[10],"view:off_nadir":[0]},"item_assets":{"thumbnail":{"title":"Thumbnail","type":"image/png","roles":["thumbnail"]},"overview":{"title":"True
        color image","type":"image/jp2","roles":["overview"],"gsd":10,"eo:bands":[{"name":"B04","common_name":"red","center_wavelength":0.6645,"full_width_half_max":0.038},{"name":"B03","common_name":"green","center_wavelength":0.56,"full_width_half_max":0.045},{"name":"B02","common_name":"blue","center_wavelength":0.4966,"full_width_half_max":0.098}]},"info":{"title":"Original
        JSON metadata","type":"application/json","roles":["metadata"]},"metadata":{"title":"Original
        XML metadata","type":"application/xml","roles":["metadata"]},"visual":{"title":"True
        color image","type":"image/jp2","roles":["overview"],"gsd":10,"eo:bands":[{"name":"B04","common_name":"red","center_wavelength":0.6645,"full_width_half_max":0.038},{"name":"B03","common_name":"green","center_wavelength":0.56,"full_width_half_max":0.045},{"name":"B02","common_name":"blue","center_wavelength":0.4966,"full_width_half_max":0.098}]},"visual_20m":{"title":"True
        color image","type":"image/jp2","roles":["overview"],"gsd":20,"eo:bands":[{"name":"B04","common_name":"red","center_wavelength":0.6645,"full_width_half_max":0.038},{"name":"B03","common_name":"green","center_wavelength":0.56,"full_width_half_max":0.045},{"name":"B02","common_name":"blue","center_wavelength":0.4966,"full_width_half_max":0.098}]},"visual_60m":{"title":"True
        color image","type":"image/jp2","roles":["overview"],"gsd":60,"eo:bands":[{"name":"B04","common_name":"red","center_wavelength":0.6645,"full_width_half_max":0.038},{"name":"B03","common_name":"green","center_wavelength":0.56,"full_width_half_max":0.045},{"name":"B02","common_name":"blue","center_wavelength":0.4966,"full_width_half_max":0.098}]},"B01":{"title":"Band
        1 (coastal)","type":"image/jp2","roles":["data"],"gsd":60,"eo:bands":[{"name":"B01","common_name":"coastal","center_wavelength":0.4439,"full_width_half_max":0.027}]},"B02":{"title":"Band
        2 (blue)","type":"image/jp2","roles":["data"],"gsd":10,"eo:bands":[{"name":"B02","common_name":"blue","center_wavelength":0.4966,"full_width_half_max":0.098}]},"B03":{"title":"Band
        3 (green)","type":"image/jp2","roles":["data"],"gsd":10,"eo:bands":[{"name":"B03","common_name":"green","center_wavelength":0.56,"full_width_half_max":0.045}]},"B04":{"title":"Band
        4 (red)","type":"image/jp2","roles":["data"],"gsd":10,"eo:bands":[{"name":"B04","common_name":"red","center_wavelength":0.6645,"full_width_half_max":0.038}]},"B05":{"title":"Band
        5","type":"image/jp2","roles":["data"],"gsd":20,"eo:bands":[{"name":"B05","center_wavelength":0.7039,"full_width_half_max":0.019}]},"B06":{"title":"Band
        6","type":"image/jp2","roles":["data"],"gsd":20,"eo:bands":[{"name":"B06","center_wavelength":0.7402,"full_width_half_max":0.018}]},"B07":{"title":"Band
        7","type":"image/jp2","roles":["data"],"gsd":20,"eo:bands":[{"name":"B07","center_wavelength":0.7825,"full_width_half_max":0.028}]},"B08":{"title":"Band
        8 (nir)","type":"image/jp2","roles":["data"],"gsd":10,"eo:bands":[{"name":"B08","common_name":"nir","center_wavelength":0.8351,"full_width_half_max":0.145}]},"B8A":{"title":"Band
        8A","type":"image/jp2","roles":["data"],"gsd":20,"eo:bands":[{"name":"B8A","center_wavelength":0.8648,"full_width_half_max":0.033}]},"B09":{"title":"Band
        9","type":"image/jp2","roles":["data"],"gsd":60,"eo:bands":[{"name":"B09","center_wavelength":0.945,"full_width_half_max":0.026}]},"B11":{"title":"Band
        11 (swir16)","type":"image/jp2","roles":["data"],"gsd":20,"eo:bands":[{"name":"B11","common_name":"swir16","center_wavelength":1.6137,"full_width_half_max":0.143}]},"B12":{"title":"Band
        12 (swir22)","type":"image/jp2","roles":["data"],"gsd":20,"eo:bands":[{"name":"B12","common_name":"swir22","center_wavelength":2.22024,"full_width_half_max":0.242}]},"AOT":{"title":"Aerosol
        Optical Thickness (AOT)","type":"image/jp2","roles":["data"]},"WVP":{"title":"Water
        Vapour (WVP)","type":"image/jp2","roles":["data"]},"SCL":{"title":"Scene Classification
        Map (SCL)","type":"image/jp2","roles":["data"]}},"extent":{"spatial":{"bbox":[[-180,-90,180,90]]},"temporal":{"interval":[["2015-06-27T10:25:31.456000Z",null]]}},"license":"proprietary"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Kl7QOFDkPHcFdgg=
      x-amzn-RequestId:
      - 6ff546a5-4cc4-40a7-adc4-2698b2a15885
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v0/collections
  response:
    body:
      string: '{"collections":[{"id":"sentinel-s2-l2a","stac_version":"1.0.0-beta.2","description":"Sentinel-2a
        and Sentinel-2b imagery, processed to Level 2A (Surface Reflectance)","links":[{"rel":"self","href":"https://earth-search.aws.element84.com/v0/collections/sentinel-s2-l2a"},{"rel":"license","href":"https://sentinel.esa.int/documents/247904/690755/Sentinel_Data_Legal_Notice"},{"rel":"about","href":"https://github.com/stac-utils/stac-sentinel"},{"rel":"parent","href":"https://earth-search.aws.element84.com/v0[...]
