interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v0
  response:
    body:
      string: '{"stac_version":"1.0.0-beta.2","stac_api_version":"0.9.0","id":"earth-search","title":"Earth
        Search","description":"A STAC API of AWS Public Datasets powered by stac-server","links":[{"rel":"child","href":"https://earth-search.aws.element84.com/v0/collections/sentinel-s2-l2a"},{"rel":"child","href":"https://earth-search.aws.element84.com/v0/collections/sentinel-s2-l1c"},{"rel":"child","href":"https://earth-search.aws.element84.com/v0/collections/sentinel-s2-l2a-cogs"},{"rel":"child","href":"https://earth-search.aws.element84.com/v0/collections/landsat-8-l1-c1"},{"rel":"service-desc","type":"application/vnd.oai.openapi+json;version=3.0","href":"https://earth-search.aws.element84.com/v0/api"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v0/conformance"},{"rel":"children","type":"application/json","href":"https://earth-search.aws.element84.com/v0/collections"},{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v0/"},{"rel":"search","type":"application/json","href":"https://earth-search.aws.element84.com/v0/search"},{"rel":"docs","href":"https://stac-utils.github.io/stac-server/"}]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - K4QudH9KvHcEkPg=
      x-amzn-RequestId:
      - b74a2b32-d516-4b92-ac50-b2f7b11bc70d
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v0/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0-beta.2","stac_extensions":[],"context":{"page":1,"limit":10,"matched":59140235,"returned":10},"numberMatched":59140235,"numberReturned":10,"features":[{"type":"Feature","stac_version":"1.0.0-beta.2","stac_extensions":["eo","view","proj"],"id":"S2B_55GDP_20241003_0_L2A","bbox":[145.7818492341335,-42.53859799130381,147.10774891088437,-41.54505757368992],"geometry":{"type":"Polygon","coordinates":[[[146.7963024570636,-42.53859799130381],[145.7818492341335,-42.53284395043111],[145.80057270610362,-41.54505757368992],[147.10774891088437,-41.55126275418956],[146.7963024570636,-42.53859799130381]]]},"properties":{"datetime":"2024-10-03T00:18:32Z","platform":"sentinel-2b","constellation":"sentinel-2","instruments":["msi"],"gsd":10,"view:off_nadir":0,"proj:epsg":32755,"sentinel:utm_zone":55,"sentinel:latitude_band":"G","sentinel:grid_square":"DP","sentinel:sequence":"0","sentinel:product_id":"S2B_MSIL2A_20241003T001109_N0511_R073_T55GDP_20241003T032207","sentinel:data_coverage":87.38,"eo:cloud_cover":8.9,"sentinel:valid_cloud_cover":true,"sentinel:processing_baseline":"05.11","sentinel:boa_offset_applied":true,"created":"2024-10-03T05:22:07.796Z","updated":"2024-10-03T05:22:07.796Z"},"collection":"sentinel-s2-l2a-cogs","assets":{"thumbnail":{"title":"Thumbnail","type":"image/png","roles":["thumbnail"],"href":"https://roda.sentinel-hub.com/sentinel-s2-l1c/tiles/55/G/DP/2024/10/3/0/preview.jpg"},"overview":{"title":"True
        color image","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["overview"],"gsd":10,"eo:bands":[{"name":"B04","common_name":"red","center_wavelength":0.6645,"full_width_half_max":0.038},{"name":"B03","common_name":"green","center_wavelength":0.56,"full_width_half_max":0.045},{"name":"B02","common_name":"blue","center_wavelength":0.4966,"full_width_half_max":0.098}],"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/55/G/DP/2024/10/S2B_55GDP_20241003_0_L2A/L2A_PVI.tif","proj:shape":[343,343],"proj:transform":[320,0,399960,0,-320,5400040,0,0,1]},"info":{"title":"Original
        JSON metadata","type":"application/json","roles":["metadata"],"href":"https://roda.sentinel-hub.com/sentinel-s2-l2a/tiles/55/G/DP/2024/10/3/0/tileInfo.json"},"metadata":{"title":"Original
        XML metadata","type":"application/xml","roles":["metadata"],"href":"https://roda.sentinel-hub.com/sentinel-s2-l2a/tiles/55/G/DP/2024/10/3/0/metadata.xml"},"visual":{"title":"True
        color image","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["overview"],"gsd":10,"eo:bands":[{"name":"B04","common_name":"red","center_wavelength":0.6645,"full_width_half_max":0.038},{"name":"B03","common_name":"green","center_wavelength":0.56,"full_width_half_max":0.045},{"name":"B02","common_name":"blue","center_wavelength":0.4966,"full_width_half_max":0.098}],"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/55/G/DP/2024/10/S2B_55GDP_20241003_0_L2A/TCI.tif","proj:shape":[10980,10980],"proj:transform":[10,0,399960,0,-10,5400040,0,0,1]},"B01":{"title":"Band
        1 (coastal)","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"gsd":60,"eo:bands":[{"name":"B01","common_name":"coastal","center_wavelength":0.4439,"full_width_half_max":0.027}],"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/55/G/DP/2024/10/S2B_55GDP_20241003_0_L2A/B01.tif","proj:shape":[1830,1830],"proj:transform":[60,0,399960,0,-60,5400040,0,0,1]},"B02":{"title":"Band
        2 (blue)","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"gsd":10,"eo:bands":[{"name":"B02","common_name":"blue","center_wavelength":0.4966,"full_width_half_max":0.098}],"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/55/G/DP/2024/10/S2B_55GDP_20241003_0_L2A/B02.tif","proj:shape":[10980,10980],"proj:transform":[10,0,399960,0,-10,5400040,0,0,1]},"B03":{"title":"Band
        3 (green)","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"gsd":10,"eo:bands":[{"name":"B03","common_name":"green","center_wavelength":0.56,"full_width_half_max":0.045}],"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/55/G/DP/2024/10/S2B_55GDP_20241003_0_L2A/B03.tif","proj:shape":[10980,10980],"proj:transform":[10,0,399960,0,-10,5400040,0,0,1]},"B04":{"title":"Band
        4 (red)","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"gsd":10,"eo:bands":[{"name":"B04","common_name":"red","center_wavelength":0.6645,"full_width_half_max":0.038}],"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/55/G/DP/2024/10/S2B_55GDP_20241003_0_L2A/B04.tif","proj:shape":[10980,10980],"proj:transform":[10,0,399960,0,-10,5400040,0,0,1]},"B05":{"title":"Band
        5","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"gsd":20,"eo:bands":[{"name":"B05","center_wavelength":0.7039,"full_width_half_max":0.019}],"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/55/G/DP/2024/10/S2B_55GDP_20241003_0_L2A/B05.tif","proj:shape":[5490,5490],"proj:transform":[20,0,399960,0,-20,5400040,0,0,1]},"B06":{"title":"Band
        6","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"gsd":20,"eo:bands":[{"name":"B06","center_wavelength":0.7402,"full_width_half_max":0.018}],"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/55/G/DP/2024/10/S2B_55GDP_20241003_0_L2A/B06.tif","proj:shape":[5490,5490],"proj:transform":[20,0,399960,0,-20,5400040,0,0,1]},"B07":{"title":"Band
        7","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"gsd":20,"eo:bands":[{"name":"B07","center_wavelength":0.7825,"full_width_half_max":0.028}],"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/55/G/DP/2024/10/S2B_55GDP_20241003_0_L2A/B07.tif","proj:shape":[5490,5490],"proj:transform":[20,0,399960,0,-20,5400040,0,0,1]},"B08":{"title":"Band
        8 (nir)","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"gsd":10,"eo:bands":[{"name":"B08","common_name":"nir","center_wavelength":0.8351,"full_width_half_max":0.145}],"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/55/G/DP/2024/10/S2B_55GDP_20241003_0_L2A/B08.tif","proj:shape":[10980,10980],"proj:transform":[10,0,399960,0,-10,5400040,0,0,1]},"B8A":{"title":"Band
        8A","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"gsd":20,"eo:bands":[{"name":"B8A","center_wavelength":0.8648,"full_width_half_max":0.033}],"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/55/G/DP/2024/10/S2B_55GDP_20241003_0_L2A/B8A.tif","proj:shape":[5490,5490],"proj:transform":[20,0,399960,0,-20,5400040,0,0,1]},"B09":{"title":"Band
        9","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"gsd":60,"eo:bands":[{"name":"B09","center_wavelength":0.945,"full_width_half_max":0.026}],"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/55/G/DP/2024/10/S2B_55GDP_20241003_0_L2A/B09.tif","proj:shape":[1830,1830],"proj:transform":[60,0,399960,0,-60,5400040,0,0,1]},"B11":{"title":"Band
        11 (swir16)","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"gsd":20,"eo:bands":[{"name":"B11","common_name":"swir16","center_wavelength":1.6137,"full_width_half_max":0.143}],"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/55/G/DP/2024/10/S2B_55GDP_20241003_0_L2A/B11.tif","proj:shape":[5490,5490],"proj:transform":[20,0,399960,0,-20,5400040,0,0,1]},"B12":{"title":"Band
        12 (swir22)","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"gsd":20,"eo:bands":[{"name":"B12","common_name":"swir22","center_wavelength":2.22024,"full_width_half_max":0.242}],"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/55/G/DP/2024/10/S2B_55GDP_20241003_0_L2A/B12.tif","proj:shape":[5490,5490],"proj:transform":[20,0,399960,0,-20,5400040,0,0,1]},"AOT":{"title":"Aerosol
        Optical Thickness (AOT)","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/55/G/DP/2024/10/S2B_55GDP_20241003_0_L2A/AOT.tif","proj:shape":[1830,1830],"proj:transform":[60,0,399960,0,-60,5400040,0,0,1]},"WVP":{"title":"Water
        Vapour (WVP)","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/55/G/DP/2024/10/S2B_55GDP_20241003_0_L2A/WVP.tif","proj:shape":[10980,10980],"proj:transform":[10,0,399960,0,-10,5400040,0,0,1]},"SCL":{"title":"Scene
        Classification Map (SCL)","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"href":"https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/55/G/DP/2024/10/S2B_55GDP_20241003_0_L2A/SCL.tif","proj:shape":[5490,5490],"proj:transform":[20,0,399960,0,-20,5400040,0,0,1]}},"links":[{"rel":"self","href":"https://earth-search.aws.element84.com/v0/collections/sentinel-s2-l2a-cogs/items/S2B_55GDP_20241003_0_L2A"},{"rel":"canonical","hr[...]
