interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://emc.spacebel.be/
  response:
    body:
      string: "{\n  \"extent\": {\n    \"spatial\": {\"bbox\": [[\n      -180,\n      -90,\n
        \     180,\n      90\n    ]]},\n    \"temporal\": {\"interval\": [[\n      null,\n
        \     null\n    ]]}\n  },\n  \"stac_version\": \"1.0.0\",\n  \"license\":
        \"various\",\n  \"description\": \"FedEO Clearinghouse provides interoperable
        access, following ISO/OGC interface guidelines, to Earth Observation metadata\",\n
        \ \"links\": [\n    {\n      \"rel\": \"self\",\n      \"href\": \"https://emc.spacebel.be\",\n
        \     \"type\": \"application/json\",\n      \"title\": \"This document\"\n
        \   },\n    {\n      \"rel\": \"search\",\n      \"href\": \"https://emc.spacebel.be/api?httpAccept=application/opensearchdescription%2Bxml\",\n
        \     \"type\": \"application/opensearchdescription+xml\",\n      \"title\":
        \"OpenSearch Description Document\"\n    },\n    {\n      \"rel\": \"service-desc\",\n
        \     \"href\": \"https://emc.spacebel.be/api?httpAccept=application/vnd.oai.openapi%2Bjson;version=3.0\",\n
        \     \"type\": \"app[...]
