interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.eoapi.dev/
  response:
    body:
      string: '{"type":"Catalog","id":"eoapi-devseed-stac","title":"eoAPI-stac","description":"Custom
        stac-fastapi application for eoAPI-Devseed","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-common-2/1.0/conf/simple-query","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.1/collection-search","https://api.stacspec.org/v1.0.0-rc.1/collection-search#fields","https://api.stacspec.org/v1.0.0-rc.1/collection-search#filter","https://api.stacspec.org/v1.0.0-rc.1/collection-search#free-text","https://api.stacspec.org/v1.0.0-rc.1/collection-search#query","https://api.stacspec.org/v1.0.0-rc.1/collection-search#sort","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/ogcapi-features#fields","https://api.stacspec.org/v1.0.0/ogcapi-features#query","https://api.stacspec.org/v1.0.0/ogcapi-features#sort"],"links":[{"rel":"self","type":"application/json","title":"This
        document","href":"https://stac.eoapi.dev/"},{"rel":"root","type":"application/json","title":"Root","href":"https://stac.eoapi.dev/"},{"rel":"data","type":"application/json","title":"Collections
        available for this Catalog","href":"https://stac.eoapi.dev/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://stac.eoapi.dev/conformance"},{"rel":"search","type":"application/geo+json","title":"STAC
        search [GET]","href":"https://stac.eoapi.dev/search","method":"GET"},{"rel":"search","type":"application/geo+json","title":"STAC
        search [POST]","href":"https://stac.eoapi.dev/search","method":"POST"},{"rel":"http://www.opengis.net/def/rel/ogc/1.0/queryables","type":"application/schema+json","title":"Queryables
        available for this Catalog","href":"https://stac.eoapi.dev/queryables","method":"GET"},{"rel":"service-desc","type":"application/vnd.oai.openapi+json;version=3.0","title":"OpenAPI
        service description","href":"https://stac.eoapi.dev/api"},{"rel":"service-doc","type":"text/html","title":"OpenAPI
        service documentation","href":"https://stac.eoapi.dev/api.html"}],"stac_extensions":[]}'
    headers:
      Apigw-Requestid:
      - N2sPtjcBvHcEPpA=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://stac.eoapi.dev/search
  response:
    body:
      string: '{"type":"FeatureCollection","links":[{"rel":"next","type":"application/geo+json","method":"POST","href":"https://stac.eoapi.dev/search","body":{"token":"next:WildFires-LosAngeles-Jan-2025:11_031311102221_103001010C12B000"}},{"rel":"root","type":"application/json","href":"https://stac.eoapi.dev/"},{"rel":"self","type":"application/json","href":"https://stac.eoapi.dev/search"}],"features":[{"id":"11_031311120101_103001010C12B000","bbox":[-118.44249828329833,33.97016888,-118.43130993485134,33.97363657501462],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://stac.eoapi.dev/collections/WildFires-LosAngeles-Jan-2025"},{"rel":"parent","type":"application/json","href":"https://stac.eoapi.dev/collections/WildFires-LosAngeles-Jan-2025"},{"rel":"root","type":"application/json","href":"https://stac.eoapi.dev/"},{"rel":"self","type":"application/geo+json","href":"https://stac.eoapi.dev/collections/WildFires-LosAngeles-Jan-2025/items/11_031311120101_103001010C12B000"}],"assets":{"visual":{"href":"s3://maxar-opendata/events/WildFires-LosAngeles-Jan-2025/ard/11/031311120101/2025-01-16/103001010C12B000-visual.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["visual"],"title":"Visual
        Image","eo:bands":[{"name":"BAND_R","common_name":"red","description":"Red"},{"name":"BAND_G","common_name":"green","description":"Green"},{"name":"BAND_B","common_name":"blue","description":"Blue"}],"alternate":{"public":{"href":"https://maxar-opendata.s3.amazonaws.com/events/WildFires-LosAngeles-Jan-2025/ard/11/031311120101/2025-01-16/103001010C12B000-visual.tif","title":"Public
        Access"}},"proj:bbox":[364843.75,3754843.75,370156.25,3760156.25],"proj:shape":[17408,17408],"proj:transform":[0.30517578125,0.0,364843.75,0.0,-0.30517578125,3760156.25,0.0,0.0,1.0]},"data-mask":{"href":"s3://maxar-opendata/events/WildFires-LosAngeles-Jan-2025/ard/11/031311120101/2025-01-16/103001010C12B000-data-mask.gpkg","type":"application/geopackage+sqlite3","roles":["data-mask"],"title":"Data
        Mask","alternate":{"public":{"href":"https://maxar-opendata.s3.amazonaws.com/events/WildFires-LosAngeles-Jan-2025/ard/11/031311120101/2025-01-16/103001010C12B000-data-mask.gpkg","title":"Public
        Access"}}},"ms_analytic":{"href":"s3://maxar-opendata/events/WildFires-LosAngeles-Jan-2025/ard/11/031311120101/2025-01-16/103001010C12B000-ms.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Multispectral
        Image","eo:bands":[{"name":"BAND_C","common_name":"coastal","description":"Coastal
        Blue"},{"name":"BAND_B","common_name":"blue","description":"Blue"},{"name":"BAND_G","common_name":"green","description":"Green"},{"name":"BAND_Y","common_name":"yellow","description":"Yellow"},{"name":"BAND_R","common_name":"red","description":"Red"},{"name":"BAND_RE","common_name":"rededge","description":"Red
        Edge 1"},{"name":"BAND_N","common_name":"nir08","description":"Near Infrared
        1"},{"name":"BAND_N2","common_name":"nir09","description":"Near Infrared 2"}],"alternate":{"public":{"href":"https://maxar-opendata.s3.amazonaws.com/events/WildFires-LosAngeles-Jan-2025/ard/11/031311120101/2025-01-16/103001010C12B000-ms.tif","title":"Public
        Access"}},"proj:bbox":[364843.75,3754843.75,370156.25,3760156.25],"proj:shape":[2385,2385],"proj:transform":[2.2274633123689727,0.0,364843.75,0.0,-2.2274633123689727,3760156.25,0.0,0.0,1.0]},"pan_analytic":{"href":"s3://maxar-opendata/events/WildFires-LosAngeles-Jan-2025/ard/11/031311120101/2025-01-16/103001010C12B000-pan.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Panchromatic
        Image","eo:bands":[{"name":"BAND_P","description":"Pan"}],"alternate":{"public":{"href":"https://maxar-opendata.s3.amazonaws.com/events/WildFires-LosAngeles-Jan-2025/ard/11/031311120101/2025-01-16/103001010C12B000-pan.tif","title":"Public
        Access"}},"proj:bbox":[364843.75,3754843.75,370156.25,3760156.25],"proj:shape":[9540,9540],"proj:transform":[0.5568658280922432,0.0,364843.75,0.0,-0.5568658280922432,3760156.25,0.0,0.0,1.0]}},"geometry":{"type":"Polygon","coordinates":[[[-118.43130993485134,33.97363657501462],[-118.43156744,33.97016888],[-118.44249828329833,33.973506151797885],[-118.43130993485134,33.97363657501462]]]},"collection":"WildFires-LosAngeles-Jan-2025","properties":{"gsd":0.61,"quadkey":"031311120101","datetime":"2025-01-16T18:58:03Z","platform":"WV02","utm_zone":11,"grid:code":"MXRA-Z11-031311120101","proj:bbox":[366744.1935240542,3759771.6789575517,367775.5468113079,3760156.25],"proj:epsg":32611,"catalog_id":"103001010C12B000","view:azimuth":251.0,"proj:geometry":{"type":"Polygon","coordinates":[[[367775.5468113079,3760156.25],[367746.44394234975,3759771.6789575517],[366744.1935240542,3760156.25],[367775.5468113079,3760156.25]]]},"tile:data_area":0.1,"view:off_nadir":30.0,"tile:clouds_area":0.0,"view:sun_azimuth":161.5,"view:sun_elevation":33.2,"tile:clouds_percent":0,"ard_metadata_version":"0.0.1","view:incidence_angle":55.9},"stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.1.0/schema.json","https://stac-extensions.github.io/eo/v1.1.0/schema.json","https://stac-extensions.github.io/raster/v1.1.0/schema.json","https://stac-extensions.github.io/grid/v1.1.0/schema.json","https://stac-extensions.github.io/alternate-assets/v1.1.0/schema.json"]},{"id":"11_031311102323_103001010C12B000",[...]
