interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://paituli.csc.fi/geoserver/ogc/stac/v1
  response:
    body:
      string: '{"title":"Paituli STAC","description":"Paituli STAC with Finnish data.
        More info: https://paituli.csc.fi/stac.html","links":[{"href":"https://paituli.csc.fi/geoserver/ogc/stac/v1/?f=application%2Fjson","rel":"self","type":"application/json","title":"This
        document"},{"href":"https://paituli.csc.fi/geoserver/ogc/stac/v1/?f=application%2Fx-yaml","rel":"alternate","type":"application/x-yaml","title":"This
        document as application/x-yaml"},{"href":"https://paituli.csc.fi/geoserver/ogc/stac/v1/?f=text%2Fhtml","rel":"alternate","type":"text/html","title":"This
        document as text/html"},{"href":"https://paituli.csc.fi/geoserver/ogc/stac/v1/openapi?f=application%2Fvnd.oai.openapi%2Bjson%3Bversion%3D3.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://paituli.csc.fi/geoserver/ogc/stac/v1?f=application%2Fjson
  response:
    body:
      string: '{"title":"Paituli STAC","description":"Paituli STAC with Finnish data.
        More info: https://paituli.csc.fi/stac.html","links":[{"href":"https://paituli.csc.fi/geoserver/ogc/stac/v1/?f=application%2Fjson","rel":"self","type":"application/json","title":"This
        document"},{"href":"https://paituli.csc.fi/geoserver/ogc/stac/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://paituli.csc.fi/geoserver/ogc/stac/v1/collections/sentinel2-l2a?f=application%2Fjson
  response:
    body:
      string: "{\"id\":\"sentinel2-l2a\",\"title\":\"Sentinel-2 L2A\",\"description\":\"Sentinel-2
        products, processed to Level-2A (Surface Reflectance), a selection of mostly
        cloud-free products from Finland. More information: https://a3s.fi/sentinel-readme/README.txt\",\"crs\":[\"http://www.opengis.net/def/crs/OGC/1.3/CRS84\"],\"stac_version\":\"1.0.0\",\"license\":\"CC-BY-3.0-IGO\",\"type\":\"Collection\",\"extent\":{\"spatial\":{\"bbox\":[[17.370638358957653,59.39819844805931,33.248667706050284,70.30601749247492]]},\"temporal\":{\"interval\":[[\"2015-07-04T00:00:00.000+00:00\",\"2024-09-01T00:00:00.000+00:00\"]]}},\"providers\":[{\"name\":\"CSC
        Finland\",\"roles\":[\"host\"],\"url\":\"https://www.csc.fi/\"},{\"name\":\"ESA\",\"roles\":[\"producer\",\"licensor\"],\"url\":\"https://www.esa.int/\"},{\"name\":\"Maria
        Yli-Heikkil\xE4\",\"roles\":[\"processor\"]},{\"name\":\"Arttu Kivim\xE4ki\",\"roles\":[\"processor\"]},{\"name\":\"Matias
        Heino\",\"roles\":[\"processor\"]}],\"assets\":{\"metadata\":{\"href\":\"https://a3s.fi/sentinel-readme/README.txt\",\"roles\":[\"metadata\"]}},\"summaries\":{\"eo:bands\":[{\"name\":\"B01\",\"description\":\"Coastal:
        400 - 450 nm\",\"common_name\":\"coastal\"},{\"name\":\"B02\",\"description\":\"Blue:
        450 - 500 nm\",\"common_name\":\"blue\"},{\"name\":\"B03\",\"description\":\"Green:
        500 - 600 nm\",\"common_name\":\"green\"},{\"name\":\"B04\",\"description\":\"Red:
        600 - 700 nm\",\"common_name\":\"red\"},{\"name\":\"B05\",\"description\":\"Vegetation
        Red Edge: 705 nm\",\"common_name\":\"rededge\"},{\"name\":\"B06\",\"description\":\"Vegetation
        Red Edge: 740 nm\",\"common_name\":\"rededge\"},{\"name\":\"B07\",\"description\":\"Vegetation
        Red Edge: 783 nm\",\"common_name\":\"rededge\"},{\"name\":\"B08\",\"description\":\"Near-IR:
        750 - 1000 nm\",\"common_name\":\"nir\"},{\"name\":\"B8A\",\"description\":\"Near-IR:
        750 - 900 nm\",\"common_name\":\"nir08\"},{\"name\":\"B09\",\"description\":\"Water
        vapour: 850 - 1050 nm\",\"common_name\":\"nir09\"},{\"name\":\"B10\",\"description\":\"SWIR-Cirrus:
        1350 - 1400 nm\",\"common_name\":\"cirrus\"},{\"name\":\"B11\",\"description\":\"SWIR16:
        1550 - 1750 nm\",\"common_name\":\"swir16\"},{\"name\":\"B12\",\"description\":\"SWIR22:
        2100 - 2300 nm\",\"common_name\":\"swir22\"}],\"gsd\":[10,20,60]},\"links\":[{\"href\":\"https://paituli.csc.fi/geoserver/ogc/stac/v1/collections/sentinel2-l2a\",\"rel\":\"self\",\"type\":\"application/json\"},{\"href\":\"https://paituli.csc.fi/geoserver/ogc/stac/v1\",\"rel\":\"root\",\"type\":\"application/json\"},{\"href\":\"https://paituli.csc.fi/geoserver/ogc/stac/v1\",\"rel\":\"parent\",\"type\":\"application/json\"},{\"href\":\"https://paituli.csc.fi/geoserver/ogc/stac/v1/collections/sentinel2-l2a/items\",\"rel\":\"items\",\"type\":\"application/geo+json\"},{\"href\":\"https://paituli.csc.fi/geoserver/ogc/stac/v1/collections/sentinel2-l2a/queryables\",\"rel\":\"http://www.opengis.net/def/rel/ogc/1.0/queryables\",\"type\":\"application/schema+json\"},{\"href\":\"https://paituli.csc.fi/geoserver/ogc/stac/v1/collections/sentinel2-l2a/sortables\",\"rel\":\"http://www.opengis.net/def/rel/ogc/1.0/sortables\",\"type\":\"application/schema+json\"},{\"href\":\"https://sentinel.esa.int/documents/247904/690755/Sentinel_Data_Legal_Notice\",\"rel\":\"license\",\"type\":\"application/json\"}]}"
    headers:
      API-Version:
      - 1.0.0
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
