interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1/collections/foo
  response:
    body:
      string: '{"code":"NotFound","description":"Not Found"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"2d-w2QFXCe6e41RSRvomKbcZAMy0ok"
      x-amz-apigw-id:
      - Vr1YRGn-PHcEZRQ=
      x-amzn-Remapped-content-length:
      - '45'
      x-amzn-RequestId:
      - d65dbeca-c2fd-4334-b27b-969184fcf3f5
    status:
      code: 404
      message: Not Found
version: 1
