interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://paituli.csc.fi/geoserver/ogc/stac/v1/
  response:
    body:
      string: '{"title":"Paituli STAC","description":"Paituli STAC with Finnish data.
        More info: https://paituli.csc.fi/stac.html","links":[{"href":"https://paituli.csc.fi/geoserver/ogc/stac/v1/?f=application%2Fjson","rel":"self","type":"application/json","title":"This
        document"},{"href":"https://paituli.csc.fi/geoserver/ogc/stac/v1/?f=application%2Fx-yaml","rel":"alternate","type":"application/x-yaml","title":"This
        document as application/x-yaml"},{"href":"https://paituli.csc.fi/geoserver/ogc/stac/v1/?f=text%2Fhtml","rel":"alternate","type":"text/html","title":"This
        document as text/html"},{"href":"https://paituli.csc.fi/geoserver/ogc/stac/v1/openapi?f=application%2Fvnd.oai.openapi%2Bjson%3Bversion%3D3.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://paituli.csc.fi/geoserver/ogc/stac/v1?f=application%2Fjson
  response:
    body:
      string: '{"title":"Paituli STAC","description":"Paituli STAC with Finnish data.
        More info: https://paituli.csc.fi/stac.html","links":[{"href":"https://paituli.csc.fi/geoserver/ogc/stac/v1/?f=application%2Fjson","rel":"self","type":"application/json","title":"This
        document"},{"href":"https://paituli.csc.fi/geoserver/ogc/stac/[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://paituli.csc.fi/geoserver/ogc/stac/v1/search?f=application%2Fgeo%2Bjson
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/projection/v1.0.0/schema.json"],"id":"fmi_snow_load_on_trees_100m_at_paituli_rcp4520702099_2070_2099","type":"Feature","geometry":{"type":"Polygon","coordinates":[[[18.9952,59.238],[31.232,59.4158],[33.31,70.0339],[15.1323,69.7464],[18.9952,59.238]]]},"bbox":[15.1323,59.238,33.31,70.0339],"properties":{"start_datetime":"2070-01-01T00:00:00.000+00:00","end_datetime":"2099-12-31T00:00:00.000+00:00","datetime":"2070-01-01T00:00:00.000+00:00","gsd":100.0,"proj:epsg":3067,"proj:transform":[100,0,43995,0,-100,7782095,0,0,1]},"collection":"fmi_snow_load_on_trees_100m_at_paituli","assets":{"fmi_snow_load_on_trees_100m_at_paituli_tiff":{"href":"https://www.nic.funet.fi/index/geodata/ilmatiede/snow_load/RCP4520702099.tif","type":"image/tiff;
        application=geotiff","title":"fmi_snow_load_on_trees_100m_at_paituli_tiff","gsd":100.0,"proj:shape":[11881,6961],"proj:transform":[100.0,0.0,43995.000000477,0.0,-100.0,7782095.000000477,0.0,0.0,1.0],"roles":["data"]},"fmi_snow_load_on_trees_100m_at_puhti_tiff":{"href":"/appl/data/geo/ilmatiede/snow_load/RCP4520702099.tif","type":"image/tiff;
        application=geotiff","title":"fmi_snow_load_on_trees_100m_at_puhti_tiff","gsd":100.0,"proj:shape":[11881,6961],"proj:transform":[100.0,0.0,43995.000000477,0.0,-100.0,7782095.000000477,0.0,0.0,1.0],"roles":["data"]}},"links":[{"href":"https://paituli.csc.fi/geoserver/ogc/stac/v1/collections/fmi_snow_load_on_trees_100m_at_paituli","rel":"collection","type":"application/json"},{"href":"https://paituli.csc.fi/[...]
