interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/item-search#fields","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","https://api.stacspec.org/v1.0.0/ogcapi-features","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/collections","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search#sort"],"links":[{"rel":"self","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"data","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://planetarycomputer.microsoft.com/api/stac/v1/conformance"},{"rel":"search","type":"applicat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.sta[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/aster-l1t
  response:
    body:
      string: '{"id":"aster-l1t","type":"Collection","links":[{"rel":"items","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/aster-l1t/items"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/aster-l1t"},{"rel":"license","href":"https://www.usgs.gov/core-science-systems/hdds/data-policy","title":"Public
        Domain"},{"rel":"describedby","href":"https://planetarycomputer.microsoft.com/dataset/aster-l1t","type":"text/html","title":"Human
        readable dataset overview and reference"},{"rel":"describedby","href":"https://planetarycomputer.microsoft.com/dataset/aster-l1t","title":"Human
        readable dataset overview and reference","type":"text/html"}],"title":"ASTER
        L1T","assets":{"thumbnail":{"href":"https://ai4edatasetspublicassets.blob.core.windows.net/assets/pc_thumbnails/aster.png","type":"image/png","roles":["thumbnail"],"title":"ASTER
        L1T"},"geoparquet-items":{"href":"abfs://items/aster-l1t.parquet","type":"application/x-parquet","roles":["stac-items"],"title":"GeoParquet
        STAC items","description":"Snapshot of the collection''s STAC items exported
        to GeoParquet format.","msft:partition_info":{"is_partitioned":true,"partition_frequency":"AS"},"table:storage_options":{"account_name":"pcstacitems"}}},"extent":{"spatial":{"bbox":[[-180,-90,180,90]]},"temporal":{"interval":[["2000-03-04T12:00:00Z","2006-12-31T12:00:00Z"]]}},"license":"proprietary","keywords":["ASTER","USGS","NASA","Satellite","Global"],"providers":[{"url":"https://terra.nasa.gov/about/terra-instruments/aster","name":"NASA","roles":["producer","licensor"]},{"url":"https://lpdaac.usgs.gov/data/get-started-data/collection-overview/missions/aster-overview/","name":"USGS","roles":["processor","producer","licensor"]},{"url":"https://planetarycomputer.microsoft.com","name":"Microsoft","roles":["host","processor"]}],"summaries":{"gsd":[15,30,90],"eo:bands":[{"gsd":15,"name":"VNIR_Band1","common_name":"green","description":"visible
        yellow/green","center_wavelength":0.56,"full_width_half_max":0.08},{"gsd":15,"name":"VNIR_Band2","common_name":"red","description":"visible
        red","center_wavelength":0.66,"full_width_half_max":0.06},{"gsd":15,"name":"VNIR_Band3N","common_name":"nir08","description":"near
        infrared","center_wavelength":0.82,"full_width_half_max":0.08},{"gsd":30,"name":"SWIR_Band4","common_name":"swir16","description":"short-wave
        infrared","center_wavelength":1.65,"full_width_half_max":0.1},{"gsd":30,"name":"SWIR_Band5","common_name":"swir22","descript[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search?ids=AST_L1T_00312272006020322_20150518201805&collections=aster-l1t
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"AST_L1T_00312272006020322_20150518201805","bbox":[98.5127846,-72.6857366,101.0889206,-71.9245548],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/aster-l1t"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/aster-l1t"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/aster-l1t/items/AST_L1T_00312272006020322_20150518201805"},{"rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=aster-l1t&item=AST_L1T_00312272006020322_20150518201805","title":"Map
        of item","type":"text/html"}],"assets":{"TIR":{"href":"https://astersa.blob.core.windows.net/aster/images/L1T/2006/12/27/AST_L1T_00312272006020322_20150518201805_110656.TIR.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","eo:bands":[{"name":"TIR_Band10","common_name":"lwir","description":"thermal
        infrared","center_wavelength":8.3,"full_width_half_max":0.35},{"name":"TIR_Band11","common_name":"lwir","description":"thermal
        infrared","center_wavelength":8.65,"full_width_half_max":0.35},{"name":"TIR_Band12","common_name":"lwir","description":"thermal
        infrared","center_wavelength":9.11,"full_width_half_max":0.35},{"name":"TIR_Band13","common_name":"lwir","description":"thermal
        infrared","center_wavelength":10.6,"full_width_half_max":0.7},{"name":"TIR_Band14","common_name":"lwir","description":"thermal
        infrared","center_wavelength":11.3,"full_width_half_max":0.7}],"proj:bbox":[479159.99999999313,-8068679.999054978,575010.0000364248,-7977509.999048144],"proj:shape":[1014,1066],"proj:transform":[89.91557226682148,0.0,479159.99999999313,0.0,-89.91124261028999,-7977509.999048144,0.0,0.0,1.0],"roles":["data"],"title":"TIR
        Swath data","raster:bands":[{"name":"TIR_Band10","nodata":0,"data_type":"uint16","spatial_resolution":90},{"name":"TIR_Band11","nodata":0,"data_type":"uint16","spatial_resolution":90},{"name":"TIR_Band12","nodata":0,"data_type":"uint16","spatial_resolution":90},{"name":"TIR_Band13","nodata":0,"data_type":"uint16","spatial_resolution":90},{"name":"TIR_Band14","nodata":0,"data_type":"uint16","spatial_resolution":90}]},"xml":{"href":"https://astersa.blob.core.windows.net/aster/images/L1T/2006/12/27/AST_L1T_00312272006020322_20150518201805_110656.hdf.xml","type":"application/xml","roles":["metadata"],"title":"XML
        metadata"},"SWIR":{"href":"https://astersa.blob.core.windows.net/aster/images/L1T/2006/12/27/AST_L1T_00312272006020322_20150518201805_110656.SWIR.tif","eo:bands":[{"common_name":"swir16","name":"SWIR_Band4","description":"short-wave
        infrared","center_wavelength":1.65,"full_width_half_max":0.1},{"common_name":"swir22","name":"SWIR_Band5","description":"short-wave
        infrared","center_wavelength":2.165,"full_width_half_max":0.04},{"common_name":"swir22","name":"SWIR_Band6","description":"short-wave
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search?ids=for-sure-not-a-real-id&collections=aster-l1t
  response:
    body:
      string: '{"type":"FeatureCollection","features":[],"links":[{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/search?ids=for-sure-not-a-real-id&collections=aster-l1t"}]}'
    headers:
      Content-Type:
      - application/geo+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/aster-l1t/items?collections=aster-l1t
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"AST_L1T_00312272006020322_20150518201805","bbox":[98.5127846,-72.6857366,101.0889206,-71.9245548],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/aster-l1[...]
