interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","https://api.stacspec.org/v1.0.0/item-search","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","https://api.stacspec.org/v1.0.0/item-search#sort","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","https://api.stacspec.org/v1.0.0/collections","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/core"],"links":[{"rel":"self","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"data","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://planetarycomputer.microsoft.com/api/stac/v1/conformance"},{"rel":"search","type":"applicat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-c2-l2
  response:
    body:
      string: '{"id":"landsat-c2-l2","type":"Collection","links":[{"rel":"items","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-c2-l2/items"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-c2-l2"},{"rel":"cite-as","href":"https://doi.org/10.5066/P9IAXOVV","title":"Landsat
        4-5 TM Collection 2 Level-2"},{"rel":"cite-as","href":"https://doi.org/10.5066/P9C7I13B","title":"Landsat
        7 ETM+ Collection 2 Level-2"},{"rel":"cite-as","href":"https://doi.org/10.5066/P9OGBGM6","title":"Landsat
        8-9 OLI/TIRS Collection 2 Level-2"},{"rel":"license","href":"https://www.usgs.gov/core-science-systems/hdds/data-policy","title":"Public
        Domain"},{"rel":"describedby","href":"https://planetarycomputer.microsoft.com/dataset/landsat-c2-l2","title":"Human
        readable dataset overview and reference","type":"text/html"}],"title":"Landsat
        Collection 2 Level-2","assets":{"thumbnail":{"href":"https://ai4edatasetspublicassets.blob.core.windows.net/assets/pc_thumbnails/landsat-c2-l2-thumb.png","type":"image/png","roles":["thumbnail"],"title":"Landsat
        Collection 2 Level-2 thumbnail"},"geoparquet-items":{"href":"abfs://items/landsat-c2-l2.parquet","type":"application/x-parquet","roles":["stac-items"],"title":"GeoParquet
        STAC items","description":"Snapshot of the collection''s STAC items exported
        to GeoParquet format.","msft:partition_info":{"is_partitioned":true,"partition_frequency":"MS"},"table:storage_options":{"account_name":"pcstacitems"}}},"extent":{"spatial":{"bbox":[[-180.0,-90.0,180.0,90.0]]},"temporal":{"interval":[["1982-08-22T00:00:00Z",null]]}},"license":"proprietary","keywords":["Landsat","USGS","NASA","Satellite","Global","Imagery","Reflectance","Temperature"],"providers":[{"url":"https://landsat.gsfc.nasa.gov/","name":"NASA","roles":["producer","licensor"]},{"url":"https://www.usgs.gov/landsat-missions/landsat-collection-2-level-2-science-products","name":"USGS","roles":["producer","processor","licensor"]},{"url":"https://planetarycomputer.microsoft.com","name":"Microsoft","roles":["host"]}],"summaries":{"gsd":[30,60,100,120],"sci:doi":["10.5066/P9IAXOVV","10.5066/P9C7I13B","10.5066/P9OGBGM6"],"eo:bands":[{"name":"TM_B1","common_name":"blue","description":"Visible
        blue (Thematic Mapper)","center_wavelength":0.49,"full_width_half_max":0.07},{"name":"TM_B2","common_name":"green","description":"Visible
        green (Thematic Mapper)","center_wavelength":0.56,"full_width_half_max":0.08},{"name":"TM_B3","common_name":"red","description":"Visible
        red (Thematic Mapper)","center_wavelength":0.66,"full_width_half_max":0.06},{"name":"TM_B4","common_name":"nir08","description":"Near
        infrared (Thematic Mapper)","center_wavelength":0.83,"full_width_half_max":0.14},{"name":"TM_B5","common_name":"swir16","description":"Sho[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-c2-l2/queryables
  response:
    body:
      string: '{"$id":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-c2-l2/queryables","type":"object","title":"STAC
        Queryables.","$schema":"http://json-schema.org/draft-07/schema#","properties":{"id":{"$ref":"https://schemas.stacspec.org/v1.0.0/item-spec/json-schema/item.json#/definitions/core/allOf/2/properties/id","title":"Item
        ID","description":"Item identifier"},"gsd":{"type":"number"},"created":{"type":"string"},"sci:doi":{"type":"string","title":"Data
        DOI","pattern":"^10\\.[0-9a-zA-Z]{4,}/[^\\s]+$"},"datetime":{"type":"string","title":"Acquired","format":"date-time","pattern":"(\\+00:00|Z)$","description":"Datetime"},"geometry":{"$ref":"https://geojson.org/schema/Feature.json","title":"Item
        Geometry","description":"Item Geometry"},"platform":{"enum":["SENTINEL-1A","SENTINEL-1B","SENTINEL-1C"],"type":"string","title":"Platform"},"proj:epsg":{"type":["integer","null"],"title":"EPSG
        code"},"instrument":{"enum":["etm+","oli","tirs","tm"],"type":"string","title":"Instrument"},"proj:shape":{"type":"array","items":{"type":"integer"},"title":"Shape","maxItems":2,"minItems":2},"description":{"type":"string"},"instruments":{"type":"array"},"end_datetime":{"type":"string","title":"End
        datetime","format":"date-time","pattern":"(\\+00:00|Z)$","description":"End
        datetime"},"eo:cloud_cover":{"$ref":"https://stac-extensions.github.io/eo/v1.0.0/schema.json#/definitions/fields/properties/eo:cloud_cover"},"proj:transform":{"type":"array","items":{"type":"number"},"oneOf":[{"maxItems":6,"minItems":6},{"maxItems":9,"minItems":9}],"title":"Transform"},"start_datetime":{"type":"string","title":"Start
        datetime","format":"date-time","pattern":"(\\+00:00|Z)$","description":"Start
        datetime"},"view:off_nadir":{"type":"number","title":"Off Nadir","maximum":90,"minimum":0},"landsat:wrs_row":{"type":"string","title":"WRS
        Row"},"landsat:scene_id":{"type":"string","title":"Scene ID"},"landsat:wrs_path":{"type":"string","title":"WRS
        Path"},"landsat:wrs_type":{"type":"string"},"view:sun_azimuth":{"type":"number","title":"Sun
        Azimuth","maximum":360,"minimum":0},"landsat:correction":{"type":"string"},"view:sun_elevation":{"type":"number","title":"Sun
        Elevation","maximum":90,"minimum":-90},"landsat:cloud_cover_land":{"type":"number","title":"Cloud
        Cover Land","maximum":100,"minimum":0},"landsat:collection_number":{"type":"string"},"landsat:collection_category":{"enum":["T1","T2"],"type":"string","title":"Collection
        Cat."}}}'
    headers:
      Content-Type:
      - application/schema+json
    status:
      code: 200
      message: OK
version: 1
