interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eod-catalog-svc-prod.astraea.earth/search?limit=12&bbox=-73.3%2C43.9%2C-73.1%2C44.1&collections=naip
  response:
    body:
      string: '{"context":{"limit":12,"matched":80,"returned":12},"features":[{"assets":{"analytic_rgbir_cog":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"},{"common_name":"nir","name":"B4"}],"eo:common_name":"red","eo:gsd":0.06,"gsd":0.06,"href":"s3://naip-analytic/vt/2018/60cm/rgbir_cog/43073/m_4307306_ne_18_060_20180823.tif","roles":["data"],"size":518018488,"title":"Analytic
        RGBIR COG","type":"image/tiff; application=geotiff; profile=cloud-optimized"},"analytic_rgbir":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"},{"common_name":"nir","name":"B4"}],"eo:common_name":"red","eo:gsd":0.06,"gsd":0.06,"href":"s3://naip-analytic/vt/2018/60cm/rgbir/43073/m_4307306_ne_18_060_20180823.mrf","roles":["data"],"size":428581205,"title":"Analytic
        RGBIR","type":"application/x.mrf"},"source_rgbir":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"},{"common_name":"nir","name":"B4"}],"eo:common_name":"red","eo:gsd":0.06,"gsd":0.06,"href":"s3://naip-source/vt/2018/60cm/rgbir/43073/m_4307306_ne_18_060_20180823.tif","roles":["data"],"size":489408541,"title":"Source
        RGBIR","type":"image/tiff; application=geotiff"},"visual_rgb":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"}],"eo:common_name":"red","eo:gsd":0.06,"gsd":0.06,"href":"s3://naip-visualization/vt/2018/60cm/rgb/43073/m_4307306_ne_18_060_20180823.tif","roles":["overview","preview"],"size":38006741,"title":"Visualization
        RGB","type":"image/tiff; application=geotiff"}},"bbox":[-73.31808244223508,43.93380059159333,-73.2443386502381,44.003699460934534],"collection":"naip","geometry":{"coordinates":[[[[-73.31808244223508,43.93487900045809],[-73.28222329736134,43.93434541969727],[-73.24636515075042,43.93380059159333],[-73.24535280084176,43.968209646170024],[-73.2443386502381,44.00261847410132],[-73.28023818424516,44.00316460462141],[-73.31613872078285,44.003699460934534],[-73.31711144512097,43.96928934328209],[-73.31808244223508,43.93487900045809]]]],"type":"MultiPolygon"},"id":"m_4307306_ne_18_060_20180823","links":[{"href":"https://eod-catalog-svc-prod.astraea.earth/collections/naip/items/m_4307306_ne_18_060_20180823","operations":["get"],"rel":"self","title":"Self","type":"application/geo+json"},{"href":"https://eod-catalog-svc-prod.astraea.earth/collections/naip","rel":"parent","title":"Parent","type":"application/json"},{"href":"https://eod-catalog-svc-prod.astraea.earth/collections/naip","rel":"collection","title":"Collection","type":"application/json"},{"href":"https://eod-catalog-svc-prod.astraea.earth","rel":"root","title":"Root","type":"application/json"},{"capabilities":{"parameters":[{"name":"composite","values":[{"description":"Default
        View.","name":"default","title":"Default View"},{"description":"True Color
        Composite.","name":"true_color","title":"True Color Composite"},{"description":"Normalized
        Difference Vegetation Index.","name":"ndvi","title":"NDVI"},{"description":"Normalized
        Difference Water Index using Green and NIR per McFeeters(1997).","name":"ndwi","title":"NDWI
        (Green & NIR)"},{"description":"Color Infrared (Vegetation) consisting of
        Near-infrared, Red, and[...]
