interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://eod-catalog-svc-prod.astraea.earth/search?bbox=-73.3%2C43.9%2C-73.1%2C44.1&collections=naip&limit=0
  response:
    body:
      string: '{"context":{"limit":0,"matched":80,"returned":0},"features":[],"links":[],"search:metadata":{"limit":0,"next":"","numberMatched":80,"numberReturned":0,"queryMetadata":null},"stac_extensions":[],"stac_version":"1.0.0-beta.2","type":"FeatureCollection"}'
    headers:
      Content-Type:
      - application/geo+json
    status:
      code: 200
      message: OK
version: 1
