interactions:
- request:
    body: '{"datetime": "2023-10-08T00:00:00Z/2023-10-08T23:59:59Z", "collections":
      ["sentinel-2-l2a", "landsat-c2-l2"], "intersects": {"type": "Point", "coordinates":
      [-105.1019, 40.1672]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":2,"returned":2},"numberMatched":2,"numberReturned":2,"features":[{"type":"Feature","stac_version":"1.0.0","id":"S2A_13TDE_20231008_0_L2A","properties":{"created":"2023-10-09T01:25:21.658Z","platform":"sentinel-2a","constellation":"sentinel-2","instruments":["msi"],"eo:cloud_cover":0.000299,"proj:epsg":32613,"mgrs:utm_zone":13,"mgrs:latitude_band":"T","mgrs:grid_square":"DE","grid:code":"MGRS-13TDE","view:sun_azimuth":164.124647750547,"view:sun_elevation":42.6190810694869,"s2:degraded_msi_data_percentage":0.0082,"s2:nodata_pixel_percentage":0.000003,"s2:saturated_defective_pixel_percentage":0,"s2:dark_features_percentage":0.170444,"s2:cloud_shadow_percentage":0,"s2:vegetation_percentage":44.52863,"s2:not_vegetated_percentage":53.898722,"s2:water_pe[...]
- request:
    body: '{"datetime": "2023-10-08T00:00:00Z/2023-10-08T23:59:59Z", "intersects":
      {"type": "Point", "coordinates": [-105.1019, 40.1672]}, "collections": ["sentinel-2-l2a",
      "landsat-c2-l2"], "next": "2023-10-08T17:37:26.656958Z,LC08_L2SP_033032_20231008_02_T1,landsat-c2-l2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":2,"returned":0},"numberMatched":2,"numberReturned":0,"features":[],"links":[{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"}]}'
    headers:
      Content-Type:
      - application/geo+json; charset=utf-8
      etag:
      - W/"111-7vxaAljwSdJNfA0V9FinjXcubNg"
      x-amz-apigw-id:
      - M__VPHg8vHcF4ug=
      x-amzn-Remapped-content-length:
      - '273'
      x-amzn-RequestId:
      - b7a413a9-fd7e-4250-a1af-3f02057309a4
    status:
      code: 200
      message: OK
version: 1
