interactions:
- request:
    body: '{"datetime": "2019-01-01T00:00:01Z/2019-01-01T00:00:10Z"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","context":{"returned":10,"limit":10,"matched":33},"features":[{"collection":"sentinel-2-l2a","id":"S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE","type":"Feature","stac_version":"1.0.0-beta.2","properties":{"platform":"Sentinel-2A","constellation":"Sentinel
        2","instruments":["msi"],"eo:cloud_cover":30.278842,"sat:orbit_state":"descending","sat:relative_orbit":116,"proj:epsg":32659,"s2:product_uri":"S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE","s2:generation_time":"2020-10-07T21:46:55.205Z","s2:processing_baseline":"02.12","s2:product_type":"S2MSI2A","s2:datatake_id":"GS2A_20190101T000001_018417_N02.12","s2:datatake_type":"INS-NOBS","s2:datastrip_id":"S2A_OPER_MSI_L2A_DS_ESRI_20201007T214655_S20181231T235957_N02.12","s2:granule_id":"S2A_OPER_MSI_L2A_TL_ESRI_20201007T214655_A018417_T59ULV_N02.12","s2:mgrs_tile":"59ULV","s2:reflectance_conversion_factor":1.03411230239037,"s2:degraded_msi_data_percentage":0.0,"s2:nodata_pixel_percentage":45.827666,"s2:saturated_defective_pixel_percentage":0.0,"s2:dark_features_percentage":0.0,"s2:cloud_shadow_percentage":0.0,"s2:vegetation_percentage":0.001415,"s2:not_vegetated_percentage":0.002627,"s2:water_percentage":69.717115,"s2:unclassified_percentage":0.0,"s2:medium_proba_clouds_percentage":7.6683,"s2:high_proba_clouds_percentage":17.832062,"s2:thin_cirrus_percentage":4.778481,"s2:snow_ice_percentage":0.0,"s2:mean_solar_zenith":77.3316232152988,"s2:mean_solar_azimuth":169.052973251802,"datetime":"2019-01-01T00:00:01.024000Z"},"geometry":{"coordinates":[[[169.64192559,53.43825844],[169.547882,53.45711992],[169.5477555,53.45687704],[169.5223322,53.46195133],[169.52238647,53.46205455],[169.52234448,53.46206269],[169.52237281,53.46211668],[169.19854928,53.52487482],[169.19850765,53.52479431],[169.1823189,53.52793029],[169.18258437,53.52844861],[168.85724347,53.58819089],[168.85710541,53.58791718],[168.85332533,53.58861101],[168.85325319,53.58846858],[168.83287609,53.59201946],[168.8328831,53.59203326],[168.52898003,53.64497597],[168.49829583,53.65032295],[168.4980643,53.65036177],[168.48860141,53.65201029],[168.48870858,53.65222656],[168.4842743,53.65296821],[168.4844276,53.65327751],[168.15410324,53.70868356],[168.15396936,53.70840887],[168.13566809,53.71124124],[168.13566862,53.71124232],[167.96700606,53.73737634],[167.94040632,54.10920645],[169.61925672,54.14018678],[169.64192559,53.43825844]]],"type":"Polygon"},"bbox":[167.94040631663287,53.438258443779596,169.641925591478,54.140186775460364],"assets":{"safe-manifest":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/manifest.safe","type":"application/xml","roles":["metadata"]},"product-metadata":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/MTD_MSIL2A.xml","type":"application/xml","roles":["metadata"]},"granule-metadata":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/MTD_TL.xml","type":"application/xml","roles":["metadata"]},"inspire-metadata":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/INSPIRE.xml","type":"application/xml","roles":["metadata"]},"datastrip-metadata":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/DATASTRIP/DS_ESRI_20201007T214655_S20181231T235957/MTD_DS.xml","type":"application/xml","roles":["metadata"]},"B02_20m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R20m/T59ULV_20190101T000001_B02_20m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 2 - Blue - 20m","eo:bands":[{"name":"B02","common_name":"blue","description":"Band
        2 - Blue","center_wavelength":0.49,"full_width_half_max":0.098}],"proj:shape":[5490,5490],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,6000000.0],"roles":["data"]},"B03_20m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R20m/T59ULV_20190101T000001_B03_20m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 3 - Green - 20m","eo:bands":[{"name":"B03","common_name":"green","description":"Band
        3 - Green","center_wavelength":0.56,"full_width_half_max":0.045}],"proj:shape":[5490,5490],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,6000000.0],"roles":["data"]},"B04_20m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R20m/T59ULV_20190101T000001_B04_20m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 4 - Red - 20m","eo:bands":[{"name":"B04","common_name":"red","description":"Band
        4 - Red","center_wavelength":0.665,"full_width_half_max":0.038}],"proj:shape":[5490,5490],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,6000000.0],"roles":["data"]},"B05":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R20m/T59ULV_20190101T000001_B05_20m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 5 - Vegetation
        red edge 1 - 20m","eo:bands":[{"name":"B05","common_name":"rededge","description":"Band
        5 - Vegetation red edge 1","center_wavelength":0.704,"full_width_half_max":0.019}],"gsd":20,"proj:shape":[5490,5490],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,6000000.0],"roles":["data"]},"B06":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R20m/T59ULV_20190101T000001_B06_20m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 6 - Vegetation
        red edge 2 - 20m","eo:bands":[{"name":"B06","common_name":"rededge","description":"Band
        6 - Vegetation red edge 2","center_wavelength":0.74,"full_width_half_max":0.018}],"gsd":20,"proj:shape":[5490,5490],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,6000000.0],"roles":["data"]},"B07":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R20m/T59ULV_20190101T000001_B07_20m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 7 - Vegetation
        red edge 3 - 20m","eo:bands":[{"name":"B07","common_name":"rededge","description":"Band
        7 - Vegetation red edge 3","center_wavelength":0.783,"full_width_half_max":0.028}],"gsd":20,"proj:shape":[5490,5490],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,6000000.0],"roles":["data"]},"B8A":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R20m/T59ULV_20190101T000001_B8A_20m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 8A - Vegetation
        red edge 4 - 20m","eo:bands":[{"name":"B8A","common_name":"rededge","description":"Band
        8A - Vegetation red edge 4","center_wavelength":0.865,"full_width_half_max":0.033}],"gsd":20,"proj:shape":[5490,5490],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,6000000.0],"roles":["data"]},"B11":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R20m/T59ULV_20190101T000001_B11_20m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 11 - SWIR (1.6)
        - 20m","eo:bands":[{"name":"B11","common_name":"swir16","description":"Band
        11 - SWIR (1.6)","center_wavelength":1.61,"full_width_half_max":0.143}],"gsd":20,"proj:shape":[5490,5490],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,6000000.0],"roles":["data"]},"B12":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R20m/T59ULV_20190101T000001_B12_20m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 12 - SWIR (2.2)
        - 20m","eo:bands":[{"name":"B12","common_name":"swir22","description":"Band
        12 - SWIR (2.2)","center_wavelength":2.19,"full_width_half_max":0.242}],"gsd":20,"proj:shape":[5490,5490],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,6000000.0],"roles":["data"]},"SCL-20m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R20m/T59ULV_20190101T000001_SCL_20m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Scene classfication
        map (SCL)","proj:shape":[5490,5490],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,6000000.0],"roles":["data"]},"AOT-20m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R20m/T59ULV_20190101T000001_AOT_20m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Aerosol optical thickness
        (AOT)","proj:shape":[5490,5490],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,6000000.0],"roles":["data"]},"WVP-20m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R20m/T59ULV_20190101T000001_WVP_20m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Water vapour (WVP)","proj:shape":[5490,5490],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,6000000.0],"roles":["data"]},"visual-20m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R20m/T59ULV_20190101T000001_TCI_20m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"True color image","eo:bands":[{"name":"B04","common_name":"red","description":"Band
        4 - Red","center_wavelength":0.665,"full_width_half_max":0.038},{"name":"B03","common_name":"green","description":"Band
        3 - Green","center_wavelength":0.56,"full_width_half_max":0.045},{"name":"B02","common_name":"blue","description":"Band
        2 - Blue","center_wavelength":0.49,"full_width_half_max":0.098}],"proj:shape":[5490,5490],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,6000000.0],"roles":["data"]},"B01":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R60m/T59ULV_20190101T000001_B01_60m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 1 - Coastal aerosol
        - 60m","eo:bands":[{"name":"B01","common_name":"coastal","description":"Band
        1 - Coastal aerosol","center_wavelength":0.443,"full_width_half_max":0.027}],"gsd":60,"proj:shape":[1830,1830],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[60.0,0.0,300000.0,0.0,-60.0,6000000.0],"roles":["data"]},"B02_60m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R60m/T59ULV_20190101T000001_B02_60m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 2 - Blue - 60m","eo:bands":[{"name":"B02","common_name":"blue","description":"Band
        2 - Blue","center_wavelength":0.49,"full_width_half_max":0.098}],"proj:shape":[1830,1830],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[60.0,0.0,300000.0,0.0,-60.0,6000000.0],"roles":["data"]},"B03_60m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R60m/T59ULV_20190101T000001_B03_60m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 3 - Green - 60m","eo:bands":[{"name":"B03","common_name":"green","description":"Band
        3 - Green","center_wavelength":0.56,"full_width_half_max":0.045}],"proj:shape":[1830,1830],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[60.0,0.0,300000.0,0.0,-60.0,6000000.0],"roles":["data"]},"B04_60m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R60m/T59ULV_20190101T000001_B04_60m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 4 - Red - 60m","eo:bands":[{"name":"B04","common_name":"red","description":"Band
        4 - Red","center_wavelength":0.665,"full_width_half_max":0.038}],"proj:shape":[1830,1830],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[60.0,0.0,300000.0,0.0,-60.0,6000000.0],"roles":["data"]},"B05_60m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R60m/T59ULV_20190101T000001_B05_60m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 5 - Vegetation
        red edge 1 - 60m","eo:bands":[{"name":"B05","common_name":"rededge","description":"Band
        5 - Vegetation red edge 1","center_wavelength":0.704,"full_width_half_max":0.019}],"proj:shape":[1830,1830],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[60.0,0.0,300000.0,0.0,-60.0,6000000.0],"roles":["data"]},"B06_60m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R60m/T59ULV_20190101T000001_B06_60m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 6 - Vegetation
        red edge 2 - 60m","eo:bands":[{"name":"B06","common_name":"rededge","description":"Band
        6 - Vegetation red edge 2","center_wavelength":0.74,"full_width_half_max":0.018}],"proj:shape":[1830,1830],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[60.0,0.0,300000.0,0.0,-60.0,6000000.0],"roles":["data"]},"B07_60m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R60m/T59ULV_20190101T000001_B07_60m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 7 - Vegetation
        red edge 3 - 60m","eo:bands":[{"name":"B07","common_name":"rededge","description":"Band
        7 - Vegetation red edge 3","center_wavelength":0.783,"full_width_half_max":0.028}],"proj:shape":[1830,1830],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[60.0,0.0,300000.0,0.0,-60.0,6000000.0],"roles":["data"]},"B8A_60m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R60m/T59ULV_20190101T000001_B8A_60m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 8A - Vegetation
        red edge 4 - 60m","eo:bands":[{"name":"B8A","common_name":"rededge","description":"Band
        8A - Vegetation red edge 4","center_wavelength":0.865,"full_width_half_max":0.033}],"proj:shape":[1830,1830],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[60.0,0.0,300000.0,0.0,-60.0,6000000.0],"roles":["data"]},"B09":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R60m/T59ULV_20190101T000001_B09_60m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 9 - Water vapor
        - 60m","eo:bands":[{"name":"B09","description":"Band 9 - Water vapor","center_wavelength":0.945,"full_width_half_max":0.026}],"gsd":60,"proj:shape":[1830,1830],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[60.0,0.0,300000.0,0.0,-60.0,6000000.0],"roles":["data"]},"B11_60m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R60m/T59ULV_20190101T000001_B11_60m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 11 - SWIR (1.6)
        - 60m","eo:bands":[{"name":"B11","common_name":"swir16","description":"Band
        11 - SWIR (1.6)","center_wavelength":1.61,"full_width_half_max":0.143}],"proj:shape":[1830,1830],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[60.0,0.0,300000.0,0.0,-60.0,6000000.0],"roles":["data"]},"B12_60m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R60m/T59ULV_20190101T000001_B12_60m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 12 - SWIR (2.2)
        - 60m","eo:bands":[{"name":"B12","common_name":"swir22","description":"Band
        12 - SWIR (2.2)","center_wavelength":2.19,"full_width_half_max":0.242}],"proj:shape":[1830,1830],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[60.0,0.0,300000.0,0.0,-60.0,6000000.0],"roles":["data"]},"SCL-60m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R60m/T59ULV_20190101T000001_SCL_60m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Scene classfication
        map (SCL)","proj:shape":[1830,1830],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[60.0,0.0,300000.0,0.0,-60.0,6000000.0],"roles":["data"]},"AOT-60m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R60m/T59ULV_20190101T000001_AOT_60m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Aerosol optical thickness
        (AOT)","proj:shape":[1830,1830],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[60.0,0.0,300000.0,0.0,-60.0,6000000.0],"roles":["data"]},"WVP-60m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R60m/T59ULV_20190101T000001_WVP_60m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Water vapour (WVP)","proj:shape":[1830,1830],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[60.0,0.0,300000.0,0.0,-60.0,6000000.0],"roles":["data"]},"visual-60m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R60m/T59ULV_20190101T000001_TCI_60m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"True color image","eo:bands":[{"name":"B04","common_name":"red","description":"Band
        4 - Red","center_wavelength":0.665,"full_width_half_max":0.038},{"name":"B03","common_name":"green","description":"Band
        3 - Green","center_wavelength":0.56,"full_width_half_max":0.045},{"name":"B02","common_name":"blue","description":"Band
        2 - Blue","center_wavelength":0.49,"full_width_half_max":0.098}],"proj:shape":[1830,1830],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[60.0,0.0,300000.0,0.0,-60.0,6000000.0],"roles":["data"]},"B02":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R10m/T59ULV_20190101T000001_B02_10m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 2 - Blue - 10m","eo:bands":[{"name":"B02","common_name":"blue","description":"Band
        2 - Blue","center_wavelength":0.49,"full_width_half_max":0.098}],"gsd":10,"proj:shape":[10980,10980],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[10.0,0.0,300000.0,0.0,-10.0,6000000.0],"roles":["data"]},"B03":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R10m/T59ULV_20190101T000001_B03_10m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 3 - Green - 10m","eo:bands":[{"name":"B03","common_name":"green","description":"Band
        3 - Green","center_wavelength":0.56,"full_width_half_max":0.045}],"gsd":10,"proj:shape":[10980,10980],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[10.0,0.0,300000.0,0.0,-10.0,6000000.0],"roles":["data"]},"B04":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R10m/T59ULV_20190101T000001_B04_10m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 4 - Red - 10m","eo:bands":[{"name":"B04","common_name":"red","description":"Band
        4 - Red","center_wavelength":0.665,"full_width_half_max":0.038}],"gsd":10,"proj:shape":[10980,10980],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[10.0,0.0,300000.0,0.0,-10.0,6000000.0],"roles":["data"]},"B08":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R10m/T59ULV_20190101T000001_B08_10m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Band 8 - NIR - 10m","eo:bands":[{"name":"B08","common_name":"nir","description":"Band
        8 - NIR","center_wavelength":0.842,"full_width_half_max":0.145}],"gsd":10,"proj:shape":[10980,10980],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[10.0,0.0,300000.0,0.0,-10.0,6000000.0],"roles":["data"]},"AOT-10m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R10m/T59ULV_20190101T000001_AOT_10m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Aerosol optical thickness
        (AOT)","proj:shape":[10980,10980],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[10.0,0.0,300000.0,0.0,-10.0,6000000.0],"roles":["data"]},"WVP-10m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R10m/T59ULV_20190101T000001_WVP_10m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Water vapour (WVP)","proj:shape":[10980,10980],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[10.0,0.0,300000.0,0.0,-10.0,6000000.0],"roles":["data"]},"visual-10m":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/IMG_DATA/R10m/T59ULV_20190101T000001_TCI_10m.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"True color image","eo:bands":[{"name":"B04","common_name":"red","description":"Band
        4 - Red","center_wavelength":0.665,"full_width_half_max":0.038},{"name":"B03","common_name":"green","description":"Band
        3 - Green","center_wavelength":0.56,"full_width_half_max":0.045},{"name":"B02","common_name":"blue","description":"Band
        2 - Blue","center_wavelength":0.49,"full_width_half_max":0.098}],"proj:shape":[10980,10980],"proj:bbox":[300000.0,5890200.0,409800.0,6000000.0],"proj:transform":[10.0,0.0,300000.0,0.0,-10.0,6000000.0],"roles":["data"]},"preview":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/59/U/LV/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE/GRANULE/L2A_T59ULV_A018417_20181231T235957/QI_DATA/T59ULV_20190101T000001_PVI.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["thumbnail"]}},"links":[{"rel":"license","href":"https://sentinel.esa.int/documents/247904/690755/Sentinel_Data_Legal_Notice"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-2-l2a"},{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-2-l2a"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-2-l2a/items/S2A_MSIL2A_20190101T000001_N0212_R116_T59ULV_20201007T214655.SAFE"}],"stac_extensions":["eo","sat","projection"]},{"collection":"sentinel-2-l2a","id":"S2A_MSIL2A_20190101T000001_N0212_R116_T58UFE_20201007T214651.SAFE","type":"Feature","stac_version":"1.0.0-beta.2","properties":{"platform":"Sentinel-2A","constellation":"Sentinel
        2","instruments":["msi"],"eo:cloud_cover":46.556288,"sat:orbit_state":"descending","sat:relative_orbit":116,"proj:epsg":32658,"s2:product_uri":"S2A_MSIL2A_20190101T000001_N0212_R116_T58UFE_20201007T214651.SAFE","s2:generation_time":"2020-10-07T21:46[...]
- request:
    body: '{"datetime": "2019-01-01T00:00:01Z/2019-01-01T00:00:10Z", "limit": 10,
      "token": "7fqzroIM"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","context":{"returned":10,"limit":10,"matched":33},"features":[{"collection":"sentinel-2-l2a","id":"S2A_MSIL2A_20190101T000001_N0212_R116_T59VLF_20201007T214653.SAFE","type":"Feature","stac_version":"1.0.0-beta.2","properties":{"platform":"Sentinel-2A","constellation":"Sentinel
[...]
[...]
