interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/aster-l1t
  response:
    body:
      string: '{"id":"aster-l1t","description":"The [ASTER](https://terra.nasa.gov/about/terra-instruments/aster)
        instrument, launched on-board NASA''s [Terra](https://terra.nasa.gov/) satellite
        in 1999, provides multispectral images of the Earth at 15m-90m resolution.  ASTER
        images provide information about land surface temperature, color, elevation,
        and mineral composition.\n\nThis dataset represents ASTER [L1T](https://lpdaac.usgs.gov/products/ast_l1tv003/)
        data from 2000-2006.  L1T images have been terrain-corrected and rotated to
        a north-up UTM projection.  Images are in [cloud-optimized GeoTIFF](https://www.cogeo.org/)
        format.\n","stac_version":"1.0.0-beta.2","links":[{"href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/aster-l1t","rel":"self","type":"application/json"},{"href":"https://planetarycomputer.microsoft.com/","rel":"parent","type":"application/json"},{"href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/aster-l1t/items","rel":"item","type":"application/geo+json"},{"href":"https://planetarycomputer.microsoft.com/api/stac/v1/","rel":"root","type":"application/json"},{"href":"https://www.usgs.gov/core-science-systems/hdds/data-policy","rel":"license","title":"public
        domain"}],"stac_extensions":["item-assets","collection-assets"],"title":"ASTER
        L1T","license":"proprietary","extent":{"spatial":{"bbox":[[-180.0,-90.0,180.0,90.0]]},"temporal":{"interval":[["2000-03-04T12:00:00.000000Z","2006-12-31T12:00:00.000000Z"]]}},"keywords":["aster","usgs","nasa","satellite","global"],"providers":[{"name":"NASA","roles":["producer","licensor"],"url":"https://terra.nasa.gov/about/terra-instruments/aster"},{"name":"USGS","roles":["processor","producer","licensor"],"url":"https://lpdaac.usgs.gov/data/get-started-data/collection-overview/missions/aster-overview/"},{"name":"Microsoft","roles":["host","processor"],"url":"https://planetarycomputer.microsoft.com"}],"summaries":{"gsd":[15,30,90],"eo:bands":[{"gsd":15,"name":"VNIR_Band1","common_name":"yellow/green","description":"visible
        yellow/green","center_wavelength":0.56,"full_width_half_max":0.08},{"gsd":15,"name":"VNIR_Band2","common_name":"red","description":"visible
        red","center_wavelength":0.66,"full_width_half_max":0.06},{"gsd":15,"name":"VNIR_Band3N","common_name":"near
        infrared","description":"near infrared","center_wavelength":0.82,"full_width_half_max":0.08},{"gsd":30,"name":"SWIR_Band4","common_name":"swir","description":"short-wave
        infrared","center_wavelength":1.65,"full_width_half_max":0.1},{"gsd":30,"name":"SWIR_Band5","common_name":"swir","desc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-8-c2-l2
  response:
    body:
      string: '{"id":"landsat-8-c2-l2","description":"The [Landsat](https://landsat.gsfc.nasa.gov/)
        program has been imaging the Earth since 1972; it provides a comprehensive,
        continuous archive of the Earth''s surface.  [Landsat 8](https://www.usgs.gov/core-science-systems/nli/landsat/landsat-8)
        is the most [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-2-l2a
  response:
    body:
      string: '{"id":"sentinel-2-l2a","description":"The [Sentinel-2](https://sentinel.esa.int/web/sentinel/missions/sentinel-2)
        program provides global imagery in thirteen spectral bands at 10m-60m resolution
        and a revisit time of approximately five days.  This dataset represents the
        global Sentinel-2 archive[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip
  response:
    body:
      string: '{"id":"naip","description":"The [National Agriculture Imagery Program](https://www.fsa.usda.gov/programs-and-services/aerial-photography/imagery-programs/naip-imagery/)
        (NAIP) provides US-wide, high-resolution aerial imagery, with four spectral
        bands (R, G, B, IR).  NAIP is administered by the [Aerial Field Photo[...]
