interactions:
- request:
    body: '{"collections": ["sentinel-2-c1-l2a"], "intersects": {"type": "Point",
      "coordinates": [-105.1019, 40.1672]}, "fields": {"include": [], "exclude": ["geometry",
      "assets", "links"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":636,"returned":10},"numberMatched":636,"numberReturned":10,"features":[{"stac_version":"1.0.0","bbox":[-106.183161,39.655762,-104.884569,40.65079],"id":"S2B_T13TDE_20240808T175817_L2A","collection":"sentinel-2-c1-l2a","type":"Feature","properties":{"datetime":"2024-08-08T18:02:59.201000Z"}},{"stac_version":"1.0.0","bbox":[-105.356445,39.661069,-104.884569,40.650832],"id":"S2B_T13TDE_20240805T174849_L2A","collection":"sentinel-2-c1-l2a","type":"Feature","properties":{"datetime":"2024-08-05T17:53:01.651000Z"}},{"stac_version":"1.0.0","bbox":[-106.183161,39.655762,-104.884569,40.65079],"id":"S2A_T13TDE_20240803T180014_L2A","collection":"sentinel-2-c1-l2a","type":"Feature","properties":{"datetime":"2024-08-03T18:02:57.881000Z"}},{"stac_version":"1.0.0","[...]
