interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eod-catalog-svc-prod.astraea.earth/search?limit=10&bbox=-73.21%2C43.99%2C-73.12%2C44.05&collections=naip
  response:
    body:
      string: '{"context":{"limit":10,"matched":30,"returned":10},"features":[{"assets":{"analytic_rgbir_cog":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"},{"common_name":"nir","name":"B4"}],"eo:common_name":"red","eo:gsd":0.06,"gsd":0.06,"href":"s3://naip-analytic/vt/2018/60cm/rgbir_cog/43073/m_4307307_ne_18_060_20180823.tif","roles":["data"],"size":515706902,"title":"Analytic
        RGBIR COG","type":"image/tiff; application=geotiff; profile=cloud-optimized"},"analytic_rgbir":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"},{"common_name":"nir","name":"B4"}],"eo:common_name":"red","eo:gsd":0.06,"gsd":0.06,"href":"s3://naip-analytic/vt/2018/60cm/rgbir/43073/m_4307307_ne_18_060_20180823.mrf","roles":["data"],"size":425865151,"title":"Analytic
        RGBIR","type":"application/x.mrf"},"source_rgbir":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"},{"common_name":"nir","name":"B4"}],"eo:common_name":"red","eo:gsd":0.06,"gsd":0.06,"href":"s3://naip-source/vt/2018/60cm/rgbir/43073/m_4307307_ne_18_060_20180823.tif","roles":["data"],"size":490826317,"title":"Source
        RGBIR","type":"image/tiff; application=geotiff"},"visual_rgb":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"}],"eo:common_name":"red","eo:gsd":0.06,"gsd":0.06,"href":"s3://naip-visualization/vt/2018/60cm/rgb/43073/m_4307307_ne_18_060_20180823.tif","roles":["overview","preview"],"size":39028586,"title":"Visualization
        RGB","type":"image/tiff; application=geotiff"}},"bbox":[-73.19322055165173,43.93372574907328,-73.11920057856985,44.0037708007813],"collection":"naip","geometry":{"coordinates":[[[[-73.19322055165173,43.93488472887733],[-73.1572965793269,43.93431088259463],[-73.12137368178591,43.93372574907328],[-73.12028809657635,43.96816751333242],[-73.11920057856985,44.00260904776089],[-73.15516497198125,44.00319558138105],[-73.19113044477567,44.0037708007813],[-73.19217642775173,43.96932787895121],[-73.19322055165173,43.93488472887733]]]],"type":"MultiPolygon"},"id":"m_4307307_ne_18_060_20180823","links":[{"href":"https://eod-catalog-svc-prod.astraea.earth/collections/naip/items/m_4307307_ne_18_060_20180823","operations":["get"],"rel":"self","title":"Self","type":"application/geo+json"},{"href":"https://eod-catalog-svc-prod.astraea.earth/collections/naip","rel":"parent","title":"Parent","type":"application/json"},{"href":"https://eod-catalog-svc-prod.astraea.earth/collections/naip","rel":"collection","title":"Collection","type":"application/json"},{"href":"https://eod-catalog-svc-prod.astraea.earth","rel":"root","title":"Root","type":"application/json"},{"capabilities":{"parameters":[{"name":"composite","values":[{"description":"Default
        View.","name":"default","title":"Default View"},{"description":"True Color
        Composite.","name":"true_color","title":"True Color Composite"},{"description":"Normalized
        Difference Vegetation Index.","name":"ndvi","title":"NDVI"},{"description":"Normalized
        Difference Water Index using Green and NIR per McFeeters(1997).","name":"ndwi","title":"NDWI
        (Green & NIR)"},{"description":"Color Infrared (Vegetation) consisting of
        Near-infrared, Red, and[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://eod-catalog-svc-prod.astraea.earth/search?next=1606767839786,m_4307307_ne_18_h_20160805,naip&limit=10&bbox=-73.21,43.99,-73.12,44.05&collections=naip
  response:
    body:
      string: '{"context":{"limit":10,"matched":30,"returned":10},"features":[{"assets":{"analytic_rgbir_cog":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"},{"common_na[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://eod-catalog-svc-prod.astraea.earth/search?next=1606823457521,m_4307307_nw_18_1_20120711,naip&limit=10&bbox=-73.21,43.99,-73.12,44.05&collections=naip
  response:
    body:
      string: '{"context":{"limit":10,"matched":30,"returned":10},"features":[{"assets":{"analytic_rgbir_cog":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"},{"common_na[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://eod-catalog-svc-prod.astraea.earth/search?next=1606975978768,m_4407364_sw_18_1_20110820,naip&limit=10&bbox=-73.21,43.99,-73.12,44.05&collections=naip
  response:
    body:
      string: '{"context":{"limit":10,"matched":30,"returned":0},"features":[],"links":[],"search:metadata":{"limit":10,"next":"","numberMatched":30,"numberReturned":0,"queryMetadata":null},"stac_extensions":[],"stac_version":"1.0.0-beta.2","type":"FeatureCollection"}'
    headers:
      Content-Type:
      - application/geo+json
    status:
      code: 200
      message: OK
- request:
    body: '{"limit": 10, "bbox": [-73.21, 43.99, -73.12, 44.05], "collections": ["naip"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eod-catalog-svc-prod.astraea.earth/search
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAAOyd+2/bRhLH/xWBPxxanCXt++FDcUiTuyBAkwZJrgXuUBi0RNvsUaKOpOw4Rf73
        m+VLlEVRD8upZY9jxBY13J3d2e+S3o92+Ic3iqdZ8DnzTv/wonASwi+UnHgTPxtdBWPvlMOLJMjm
        ydS9ouTriXcR+PA6SL3T//zh+WkaZKk725/60W0Wjs6Sy/MwORvFl+7o+Xw6jgL/PAq80yyZByde
        EJ+e+9Nxcfoonkzi6dnUn8D7UNHYO/HKFz9S7+vJXYvL[...]
