interactions:
- request:
    body: '{"limit": 10, "bbox": [-73.21, 43.99, -73.12, 44.05], "collections": ["naip"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"vt_m_4407364_sw_18_060_20211029","bbox":[-73.130807,43.996179,-73.056111,44.06681],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip/items/vt_m_4407364_sw_18_060_20211029"},{"rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=naip&item=vt_m_4407364_sw_18_060_20211029","title":"Map
        of item","type":"text/html"}],"assets":{"image":{"href":"https://naipeuwest.blob.core.windows.net/naip/v002/vt/2021/vt_060cm_2021/44073/m_4407364_sw_18_060_20211029.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"RGBIR
        COG tile","eo:bands":[{"name":"Red","common_name":"red"},{"name":"Green","common_name":"green"},{"name":"Blue","common_name":"blue"},{"name":"NIR","common_name":"nir","description":"near-infrared"}]},"thumbnail":{"href":"https://naipeuwest.blob.core.windows.net/naip/v002/vt/2021/vt_060cm_2021/44073/m_4407364_sw_18_060_20211029.200.jpg","type":"image/jpeg","roles":["thumbnail"],"title":"Thumbnail"},"tilejson":{"title":"TileJSON
        with default rendering","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/tilejson.json?collection=naip&item=vt_m_4407364_sw_18_060_20211029&assets=image&asset_bidx=image%7C1%2C2%2C3&format=png","type":"application/json","roles":["tiles"]},"rendered_preview":{"title":"Rendered
        preview","rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/preview.png?collection=naip&item=vt_m_4407364_sw_18_060_20211029&assets=image&asset_bidx=image%7C1%2C2%2C3&format=png","roles":["overview"],"type":"image/png"}},"geometry":{"type":"Polygon","coordinates":[[[-73.058379,43.996179],[-73.056111,44.065598],[-73.128623,44.06681],[-73.130807,43.997387],[-73.058379,43.996179]]]},"collection":"naip","properties":{"gsd":0.6,"datetime":"2021-10-29T16:00:00Z","naip:year":"2021","proj:bbox":[649868.4,4873281.0,655678.8,4880995.8],"proj:epsg":26918,"providers":[{"url":"https://www.fsa.usda.gov/programs-and-services/aerial-photography/imagery-programs/naip-imagery/","name":"USDA
        Farm Service Agency","roles":["producer","licensor"]}],"naip:state":"vt","proj:shape":[12858,9684],"proj:transform":[0.6,0.0,649868.4,0.0,-0.6,4880995.8,0.0,0.0,1.0]},"stac_extensions":["https://stac-extensions.github.io/eo/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json"],"stac_version":"1.0.0"},{"id":"vt_m_4407363_sw_18_060_20211029","bbox":[-73.255666,43.996252,-73.181247,44.066737],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"app[...]
- request:
    body: '{"limit": 10, "bbox": [-73.21, 43.99, -73.12, 44.05], "collections": ["naip"],
      "token": "next:naip:vt_m_4407363_sw_18_060_20180914_20190225"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"vt_m_4407363_se_18_060_20180914_20190225","bbox":[-73.193233,43.996227,-73.119192,44.066272],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/[...]
