interactions:
- request:
    body: '{"datetime": "2019-01-01T00:00:01Z/2019-01-01T00:00:10Z", "collections":
      ["sentinel-2-l2a"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"S2A_MSIL2A_20190101T000001_R116_T60VUK_20201007T214652","bbox":[173.57964734454623,57.61010611826214,174.14549370977366,58.36983552363622],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-2-l2a"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-2-l2a"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-2-l2a/items/S2A_MSIL2A_20190101T000001_R116_T60VUK_20201007T214652"},{"rel":"license","href":"https://sentinel.esa.int/documents/247904/690755/Sentinel_Data_Legal_Notice"},{"rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=sentinel-2-l2a&item=S2A_MSIL2A_20190101T000001_R116_T60VUK_20201007T214652","title":"Map
        of item","type":"text/html"}],"assets":{"AOT":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/GRANULE/L2A_T60VUK_A018417_20181231T235957/IMG_DATA/R10m/T60VUK_20190101T000001_AOT_10m.tif","proj:bbox":[300000.0,6390240.0,409800.0,6500040.0],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,300000.0,0.0,-10.0,6500040.0],"gsd":10.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Aerosol
        optical thickness (AOT)"},"B01":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/GRANULE/L2A_T60VUK_A018417_20181231T235957/IMG_DATA/R60m/T60VUK_20190101T000001_B01_60m.tif","proj:bbox":[300000.0,6390240.0,409800.0,6500040.0],"proj:shape":[1830,1830],"proj:transform":[60.0,0.0,300000.0,0.0,-60.0,6500040.0],"gsd":60.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        1 - Coastal aerosol - 60m","eo:bands":[{"name":"B01","common_name":"coastal","description":"Band
        1 - Coastal aerosol","center_wavelength":0.443,"full_width_half_max":0.027}]},"B02":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/GRANULE/L2A_T60VUK_A018417_20181231T235957/IMG_DATA/R10m/T60VUK_20190101T000001_B02_10m.tif","proj:bbox":[300000.0,6390240.0,409800.0,6500040.0],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,300000.0,0.0,-10.0,6500040.0],"gsd":10.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        2 - Blue - 10m","eo:bands":[{"name":"B02","common_name":"blue","description":"Band
        2 - Blue","center_wavelength":0.49,"full_width_half_max":0.098}]},"B03":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/GRANULE/L2A_T60VUK_A018417_20181231T235957/IMG_DATA/R10m/T60VUK_20190101T000001_B03_10m.tif","proj:bbox":[300000.0,6390240.0,409800.0,6500040.0],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,300000.0,0.0,-10.0,6500040.0],"gsd":10.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        3 - Green - 10m","eo:bands":[{"name":"B03","common_name":"green","description":"Band
        3 - Green","center_wavelength":0.56,"full_width_half_max":0.045}]},"B04":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/GRANULE/L2A_T60VUK_A018417_20181231T235957/IMG_DATA/R10m/T60VUK_20190101T000001_B04_10m.tif","proj:bbox":[300000.0,6390240.0,409800.0,6500040.0],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,300000.0,0.0,-10.0,6500040.0],"gsd":10.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        4 - Red - 10m","eo:bands":[{"name":"B04","common_name":"red","description":"Band
        4 - Red","center_wavelength":0.665,"full_width_half_max":0.038}]},"B05":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/GRANULE/L2A_T60VUK_A018417_20181231T235957/IMG_DATA/R20m/T60VUK_20190101T000001_B05_20m.tif","proj:bbox":[300000.0,6390240.0,409800.0,6500040.0],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,6500040.0],"gsd":20.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        5 - Vegetation red edge 1 - 20m","eo:bands":[{"name":"B05","common_name":"rededge","description":"Band
        5 - Vegetation red edge 1","center_wavelength":0.704,"full_width_half_max":0.019}]},"B06":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/GRANULE/L2A_T60VUK_A018417_20181231T235957/IMG_DATA/R20m/T60VUK_20190101T000001_B06_20m.tif","proj:bbox":[300000.0,6390240.0,409800.0,6500040.0],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,6500040.0],"gsd":20.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        6 - Vegetation red edge 2 - 20m","eo:bands":[{"name":"B06","common_name":"rededge","description":"Band
        6 - Vegetation red edge 2","center_wavelength":0.74,"full_width_half_max":0.018}]},"B07":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/GRANULE/L2A_T60VUK_A018417_20181231T235957/IMG_DATA/R20m/T60VUK_20190101T000001_B07_20m.tif","proj:bbox":[300000.0,6390240.0,409800.0,6500040.0],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,6500040.0],"gsd":20.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        7 - Vegetation red edge 3 - 20m","eo:bands":[{"name":"B07","common_name":"rededge","description":"Band
        7 - Vegetation red edge 3","center_wavelength":0.783,"full_width_half_max":0.028}]},"B08":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/GRANULE/L2A_T60VUK_A018417_20181231T235957/IMG_DATA/R10m/T60VUK_20190101T000001_B08_10m.tif","proj:bbox":[300000.0,6390240.0,409800.0,6500040.0],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,300000.0,0.0,-10.0,6500040.0],"gsd":10.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        8 - NIR - 10m","eo:bands":[{"name":"B08","common_name":"nir","description":"Band
        8 - NIR","center_wavelength":0.842,"full_width_half_max":0.145}]},"B09":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/GRANULE/L2A_T60VUK_A018417_20181231T235957/IMG_DATA/R60m/T60VUK_20190101T000001_B09_60m.tif","proj:bbox":[300000.0,6390240.0,409800.0,6500040.0],"proj:shape":[1830,1830],"proj:transform":[60.0,0.0,300000.0,0.0,-60.0,6500040.0],"gsd":60.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        9 - Water vapor - 60m","eo:bands":[{"name":"B09","description":"Band 9 - Water
        vapor","center_wavelength":0.945,"full_width_half_max":0.026}]},"B11":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/GRANULE/L2A_T60VUK_A018417_20181231T235957/IMG_DATA/R20m/T60VUK_20190101T000001_B11_20m.tif","proj:bbox":[300000.0,6390240.0,409800.0,6500040.0],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,6500040.0],"gsd":20.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        11 - SWIR (1.6) - 20m","eo:bands":[{"name":"B11","common_name":"swir16","description":"Band
        11 - SWIR (1.6)","center_wavelength":1.61,"full_width_half_max":0.143}]},"B12":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/GRANULE/L2A_T60VUK_A018417_20181231T235957/IMG_DATA/R20m/T60VUK_20190101T000001_B12_20m.tif","proj:bbox":[300000.0,6390240.0,409800.0,6500040.0],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,6500040.0],"gsd":20.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        12 - SWIR (2.2) - 20m","eo:bands":[{"name":"B12","common_name":"swir22","description":"Band
        12 - SWIR (2.2)","center_wavelength":2.19,"full_width_half_max":0.242}]},"B8A":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/GRANULE/L2A_T60VUK_A018417_20181231T235957/IMG_DATA/R20m/T60VUK_20190101T000001_B8A_20m.tif","proj:bbox":[300000.0,6390240.0,409800.0,6500040.0],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,6500040.0],"gsd":20.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Band
        8A - Vegetation red edge 4 - 20m","eo:bands":[{"name":"B8A","common_name":"rededge","description":"Band
        8A - Vegetation red edge 4","center_wavelength":0.865,"full_width_half_max":0.033}]},"SCL":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/GRANULE/L2A_T60VUK_A018417_20181231T235957/IMG_DATA/R20m/T60VUK_20190101T000001_SCL_20m.tif","proj:bbox":[300000.0,6390240.0,409800.0,6500040.0],"proj:shape":[5490,5490],"proj:transform":[20.0,0.0,300000.0,0.0,-20.0,6500040.0],"gsd":20.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Scene
        classfication map (SCL)"},"WVP":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/GRANULE/L2A_T60VUK_A018417_20181231T235957/IMG_DATA/R10m/T60VUK_20190101T000001_WVP_10m.tif","proj:bbox":[300000.0,6390240.0,409800.0,6500040.0],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,300000.0,0.0,-10.0,6500040.0],"gsd":10.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Water
        vapour (WVP)"},"visual":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/GRANULE/L2A_T60VUK_A018417_20181231T235957/IMG_DATA/R10m/T60VUK_20190101T000001_TCI_10m.tif","proj:bbox":[300000.0,6390240.0,409800.0,6500040.0],"proj:shape":[10980,10980],"proj:transform":[10.0,0.0,300000.0,0.0,-10.0,6500040.0],"gsd":10.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"True
        color image","eo:bands":[{"name":"B04","common_name":"red","description":"Band
        4 - Red","center_wavelength":0.665,"full_width_half_max":0.038},{"name":"B03","common_name":"green","description":"Band
        3 - Green","center_wavelength":0.56,"full_width_half_max":0.045},{"name":"B02","common_name":"blue","description":"Band
        2 - Blue","center_wavelength":0.49,"full_width_half_max":0.098}]},"preview":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/GRANULE/L2A_T60VUK_A018417_20181231T235957/QI_DATA/T60VUK_20190101T000001_PVI.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["thumbnail"],"title":"Thumbnail"},"safe-manifest":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/manifest.safe","type":"application/xml","roles":["metadata"],"title":"SAFE
        manifest"},"granule-metadata":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/GRANULE/L2A_T60VUK_A018417_20181231T235957/MTD_TL.xml","type":"application/xml","roles":["metadata"],"title":"Granule
        metadata"},"inspire-metadata":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/INSPIRE.xml","type":"application/xml","roles":["metadata"],"title":"INSPIRE
        metadata"},"product-metadata":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/MTD_MSIL2A.xml","type":"application/xml","roles":["metadata"],"title":"Product
        metadata"},"datastrip-metadata":{"href":"https://sentinel2l2a01.blob.core.windows.net/sentinel2-l2/60/V/UK/2019/01/01/S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE/DATASTRIP/DS_ESRI_20201007T214653_S20181231T235957/MTD_DS.xml","type":"application/xml","roles":["metadata"],"title":"Datastrip
        metadata"},"tilejson":{"title":"TileJSON with default rendering","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/tilejson.json?collection=sentinel-2-l2a&item=S2A_MSIL2A_20190101T000001_R116_T60VUK_20201007T214652&assets=visual&asset_bidx=visual%7C1%2C2%2C3&nodata=0&format=png","type":"application/json","roles":["tiles"]},"rendered_preview":{"title":"Rendered
        preview","rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/preview.png?collection=sentinel-2-l2a&item=S2A_MSIL2A_20190101T000001_R116_T60VUK_20201007T214652&assets=visual&asset_bidx=visual%7C1%2C2%2C3&nodata=0&format=png","roles":["overview"],"type":"image/png"}},"geometry":{"type":"Polygon","coordinates":[[[173.57964734,58.36983552],[173.74200172,58.33549604],[173.74156018,58.33486558],[173.74585109,58.33388251],[173.74562704,58.33356289],[173.89398827,58.29994353],[174.14549371,58.24232236],[174.04607417,58.1026172],[173.9463487,57.96108179],[173.84707369,57.81948251],[173.74837088,57.6777999],[173.70218084,57.61107233],[173.65192537,57.61010612],[173.57964734,58.36983552]]]},"collection":"sentinel-2-l2a","properties":{"datetime":"2019-01-01T00:00:01.024000Z","platform":"Sentinel-2A","proj:epsg":32660,"instruments":["msi"],"s2:mgrs_tile":"60VUK","constellation":"Sentinel
        2","s2:granule_id":"S2A_OPER_MSI_L2A_TL_ESRI_20201007T214653_A018417_T60VUK_N02.12","eo:cloud_cover":56.297088,"s2:datatake_id":"GS2A_20190101T000001_018417_N02.12","s2:product_uri":"S2A_MSIL2A_20190101T000001_N0212_R116_T60VUK_20201007T214652.SAFE","s2:datastrip_id":"S2A_OPER_MSI_L2A_DS_ESRI_20201007T214653_S20181231T235957_N02.12","s2:product_type":"S2MSI2A","sat:orbit_state":"descending","s2:datatake_type":"INS-NOBS","s2:generation_time":"2020-10-07T21:46:52.987Z","sat:relative_orbit":116,"s2:water_percentage":43.694827,"s2:mean_solar_zenith":81.3310068623942,"s2:mean_solar_azimuth":174.189052091779,"s2:processing_baseline":"02.12","s2:snow_ice_percentage":0.0,"s2:vegetation_percentage":0.000216,"s2:thin_cirrus_percentage":6.031071,"s2:cloud_shadow_percentage":0.0,"s2:nodata_pixel_percentage":87.684971,"s2:unclassified_percentage":0.0,"s2:dark_features_percentage":0.0,"s2:not_vegetated_percentage":0.007867,"s2:degraded_msi_data_percentage":0.0,"s2:high_proba_clouds_percentage":27.443218,"s2:reflectance_conversion_factor":1.03411230239037,"s2:medium_proba_clouds_percentage":22.822799,"s2:saturated_defective_pixel_percentage":0.0},"stac_extensions":["https://stac-extensions.github.io/eo/v1.0.0/schema.json","https://stac-extensions.github.io/sat/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json"],"stac_version":"1.0.0"},{"id":"S2A_MSIL2A_20190101T000001_R116_T60VUJ_20201007T214652","bbox":[173.6438298900325,57.54638536228822,173.76391737983067,57.700116068258254],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-2-l2a"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-2-l2a"},{"rel":"root","type":"application/json","href":"https[...]
[...]
