interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eod-catalog-svc-prod.astraea.earth/search?limit=10&collections=naip
  response:
    body:
      string: '{"context":{"limit":10,"matched":10000,"returned":10},"features":[{"assets":{"analytic_rgbir_cog":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"},{"common_name":"nir","name":"B4"}],"eo:common_name":"red","eo:gsd":0.06,"gsd":0.06,"href":"s3://naip-analytic/nm/2018/60cm/rgbir_cog/35108/m_3510836_se_12_060_20180508_20190331.tif","roles":["data"],"size":593601175,"title":"Analytic
        RGBIR COG","type":"image/tiff; application=geotiff; profile=cloud-optimized"},"analytic_rgbir":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"},{"common_name":"nir","name":"B4"}],"eo:common_name":"red","eo:gsd":0.06,"gsd":0.06,"href":"s3://naip-analytic/nm/2018/60cm/rgbir/35108/m_3510836_se_12_060_20180508_20190331.mrf","roles":["data"],"size":482937768,"title":"Analytic
        RGBIR","type":"application/x.mrf"},"source_rgbir":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"},{"common_name":"nir","name":"B4"}],"eo:common_name":"red","eo:gsd":0.06,"gsd":0.06,"href":"s3://naip-source/nm/2018/60cm/rgbir/35108/m_3510836_se_12_060_20180508_20190331.tif","roles":["data"],"size":504890951,"title":"Source
        RGBIR","type":"image/tiff; application=geotiff"},"visual_rgb":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"}],"eo:common_name":"red","eo:gsd":0.06,"gsd":0.06,"href":"s3://naip-visualization/nm/2018/60cm/rgb/35108/m_3510836_se_12_060_20180508_20190331.tif","roles":["overview","preview"],"size":52574077,"title":"Visualization
        RGB","type":"image/tiff; application=geotiff"}},"bbox":[-108.56611090177634,35.372335655576244,-108.496346978689,35.44020320481562],"collection":"naip","geometry":{"coordinates":[[[[-108.56611090177634,35.37371922512642],[-108.5322564506831,35.373032176745035],[-108.49840315312704,35.372335655576244],[-108.49737590753385,35.40557605834065],[-108.496346978689,35.43881625181535],[-108.53022803236969,35.43951447627746],[-108.56411024336948,35.44020320481562],[-108.56511139151698,35.40696131893387],[-108.56611090177634,35.37371922512642]]]],"type":"MultiPolygon"},"id":"m_3510836_se_12_060_20180508_20190331","links":[{"href":"https://eod-catalog-svc-prod.astraea.earth/collections/naip/items/m_3510836_se_12_060_20180508_20190331","operations":["get"],"rel":"self","title":"Self","type":"application/geo+json"},{"href":"https://eod-catalog-svc-prod.astraea.earth/collections/naip","rel":"parent","title":"Parent","type":"application/json"},{"href":"https://eod-catalog-svc-prod.astraea.earth/collections/naip","rel":"collection","title":"Collection","type":"application/json"},{"href":"https://eod-catalog-svc-prod.astraea.earth","rel":"root","title":"Root","type":"application/json"},{"capabilities":{"parameters":[{"name":"composite","values":[{"description":"Default
        View.","name":"default","title":"Default View"},{"description":"True Color
        Composite.","name":"true_color","title":"True Color Composite"},{"description":"Normalized
        Difference Vegetation Index.","name":"ndvi","title":"NDVI"},{"description":"Normalized
        Difference Water Index using Green and NIR per McFeeters(1997).","name":"ndwi","title":"NDWI
        (Green & NIR)"},{"description":"Color Infrared (Vegetation) consisting of
        Near-infrared, Red, and[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://eod-catalog-svc-prod.astraea.earth/search?next=1606328250230,m_4208702_sw_16_060_20180914,naip&limit=10&collections=naip
  response:
    body:
      string: '{"context":{"limit":10,"matched":10000,"returned":10},"features":[{"assets":{"analytic_rgbir_cog":{"bundleable":true,"eo:bands":[{"common_name":"red","name":"B1"},{"common_name":"green","name":"B2"},{"common_name":"blue","name":"B3"},{"common_name":"nir","name":"B4"}],"e[...]
