interactions:
- request:
    body: '{"limit": 10, "collections": ["naip"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","context":{"returned":10,"limit":10,"matched":995609},"features":[{"collection":"naip","id":"fl_m_2608004_nw_17_060_20191215_20200113","type":"Feature","stac_version":"1.0.0-beta.2","properties":{"naip:state":"fl","naip:year":"2019","gsd":0.6,"proj:epsg":26917,"proj:shape":[12240,11040],"proj:bbox":[537006.0,2979366.0,543630.0,2986710.0],"proj:transform":[0.6,0.0,537006.0,0.0,-0.6,2986710.0,0.0,0.0,1.0],"datetime":"2019-12-15T00:00:00Z"},"geometry":{"coordinates":[[[-80.560502,26.93549],[-80.560244,27.001794],[-80.627008,27.001987],[-80.627226,26.935682],[-80.560502,26.93549]]],"type":"Polygon"},"bbox":[-80.627226,26.93549,-80.560244,27.001987],"assets":{"image":{"href":"https://naipeuwest.blob.core.windows.net/naip/v002/fl/2019/fl_60cm_2019/26080/m_2608004_nw_17_060_20191215.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"RGBIR COG tile","eo:bands":[{"name":"Red","common_name":"red"},{"name":"Green","common_name":"green"},{"name":"Blue","common_name":"blue"},{"name":"NIR","common_name":"nir","description":"near-infrared"}],"roles":["data"]},"metadata":{"href":"https://naipeuwest.blob.core.windows.net/naip/v002/fl/2019/fl_fgdc_2019/26080/m_2608004_nw_17_060_20191215.txt","type":"text/plain","title":"FGDC
        Metdata","roles":["metadata"]},"thumbnail":{"href":"https://naipeuwest.blob.core.windows.net/naip/v002/fl/2019/fl_60cm_2019/26080/m_2608004_nw_17_060_20191215.200.jpg","type":"image/jpeg","title":"Thumbnail","roles":["thumbnail"]}},"links":[{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip"},{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip/items/fl_m_2608004_nw_17_060_20191215_20200113"}],"stac_extensions":["eo","projection"]},{"collection":"naip","id":"fl_m_2608005_ne_17_060_20191215_20200113","type":"Feature","stac_version":"1.0.0-beta.2","properties":{"naip:state":"fl","naip:year":"2019","gsd":0.6,"proj:epsg":26917,"proj:shape":[12250,11070],"proj:bbox":[555606.0,2979438.0,562248.0,2986788.0],"proj:transform":[0.6,0.0,555606.0,0.0,-0.6,2986788.0,0.0,0.0,1.0],"datetime":"2019-12-15T00:00:00Z"},"geometry":{"coordinates":[[[-80.372961,26.935431],[-80.372594,27.001788],[-80.439536,27.00207],[-80.43[...]
- request:
    body: '{"limit": 10, "collections": ["naip"], "token": "b0peHSlP"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","context":{"returned":10,"limit":10,"matched":995609},"features":[{"collection":"naip","id":"fl_m_2708003_sw_17_060_20191215_20200113","type":"Feature","stac_version":"1.0.0-beta.2","properties":{"naip:state":"fl","naip:year":"2019","gsd":0.6,"proj:epsg":26917,"proj:shape":[122[...]
[...]
