interactions:
- request:
    body: '{"limit": 10, "bbox": [-73.21, 43.99, -73.12, 44.05], "collections": ["naip"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","context":{"returned":10,"limit":10,"matched":30},"features":[{"collection":"naip","id":"vt_m_4307308_nw_18_h_20160805","type":"Feature","stac_version":"1.0.0-beta.2","properties":{"naip:state":"vt","naip:year":"2016","gsd":0.6000000000000024,"proj:epsg":26918,"proj:shape":[12764,9624],"proj:bbox":[650027.4,4866339.6,655801.8,4873998.0],"proj:transform":[0.6000000000000024,0.0,650027.4,0.0,-0.6000000000000292,4873998.0,0.0,0.0,1.0],"datetime":"2016-08-05T00:00:00Z"},"geometry":{"coordinates":[[[-73.058882,43.933691],[-73.056635,44.002604],[-73.128623,44.003806],[-73.130786,43.93489],[-73.058882,43.933691]]],"type":"Polygon"},"bbox":[-73.130786,43.933691,-73.056635,44.003806],"assets":{"image":{"href":"https://naipeuwest.blob.core.windows.net/naip/v002/vt/2016/vt_060cm_2016/43073/m_4307308_nw_18_h_20160805.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"RGBIR COG tile","eo:bands":[{"name":"Red","common_name":"red"},{"name":"Green","common_name":"green"},{"name":"Blue","common_name":"blue"},{"name":"NIR","common_name":"nir","description":"near-infrared"}],"roles":["data"]},"metadata":{"href":"https://naipeuwest.blob.core.windows.net/naip/v002/vt/2016/vt_fgdc_2016/43073/m_4307308_nw_18_h_20160805.txt","type":"text/plain","title":"FGDC
        Metdata","roles":["metadata"]},"thumbnail":{"href":"https://naipeuwest.blob.core.windows.net/naip/v002/vt/2016/vt_060cm_2016/43073/m_4307308_nw_18_h_20160805.200.jpg","type":"image/jpeg","title":"Thumbnail","roles":["thumbnail"]}},"links":[{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip"},{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip/items/vt_m_4307308_nw_18_h_20160805"}],"stac_extensions":["eo","projection"]},{"collection":"naip","id":"vt_m_4407363_sw_18_060_20180914_20190225","type":"Feature","stac_version":"1.0.0-beta.2","properties":{"naip:state":"vt","naip:year":"2018","gsd":0.6,"proj:epsg":26918,"proj:shape":[12751,9598],"proj:bbox":[639858.0,4873061.4,645616.8,4880712.0],"proj:transform":[0.6,0.0,639858.0,0.0,-0.6,4880712.0,0.0,0.0,1.0],"datetime":"2018-09-14T00:00:00Z"},"geometry":{"coordinates":[[[-73.183868,43.996266],[-73.181764,44.065113],[-73.253637,44.066234],[-73.25[...]
- request:
    body: '{"limit": 10, "bbox": [-73.21, 43.99, -73.12, 44.05], "collections": ["naip"],
      "token": "km5moreY"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","context":{"returned":10,"limit":10,"matched":30},"features":[{"collection":"naip","id":"vt_m_4307307_nw_18_h_20160727","type":"Feature","stac_version":"1.0.0-beta.2","properties":{"naip:state":"vt","naip:year":"2016","gsd":0.5999999999999952,"proj:epsg":26918,"proj:shape":[127[...]
[...]
