interactions:
- request:
    body: '{"collections": ["sentinel-2-c1-l2a"], "intersects": {"type": "Point",
      "coordinates": [-105.1019, 40.1672]}, "fields": {"include": [], "exclude": ["geometry",
      "assets", "links"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":851,"returned":10},"numberMatched":851,"numberReturned":10,"features":[{"stac_version":"1.0.0","bbox":[-105.374632,39.661012,-104.884569,40.650821],"id":"S2C_T13TDE_20250716T175117_L2A","collection":"sentinel-2-c1-l2a","type":"Feature","properties":{"datetime":"2025-07-16T17:53:22.342000Z"}},{"stac_version":"1.0.0","bbox":[-106.183161,39.655762,-104.884569,40.65079],"id":"S2B_T13TDE_20250714T180139_L2A","collection":"sentinel-2-c1-l2a","type":"Feature","properties":{"datetime":"2025-07-14T18:02:58.965000Z"}},{"stac_version":"1.0.0","bbox":[-106.183161,39.655762,-104.884569,40.65079],"id":"S2A_T13TDE_20250711T175745_L2A","collection":"sentinel-2-c1-l2a","type":"Feature","properties":{"datetime":"2025-07-11T18:03:14.611000Z"}},{"stac_version":"1.0.0","b[...]
