interactions:
- request:
    body: '{"limit": 10, "collections": ["naip"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"mt_m_4911664_se_11_060_20231117_20240103","bbox":[-116.066453,48.997642,-115.995973,49.064871],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip/items/mt_m_4911664_se_11_060_20231117_20240103"},{"rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=naip&item=mt_m_4911664_se_11_060_20231117_20240103","title":"Map
        of item","type":"text/html"}],"assets":{"image":{"href":"https://naipeuwest.blob.core.windows.net/naip/v002/mt/2023/mt_060cm_2023/49116/m_4911664_se_11_060_20231117_20240103.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"RGBIR
        COG tile","eo:bands":[{"name":"Red","common_name":"red"},{"name":"Green","common_name":"green"},{"name":"Blue","common_name":"blue"},{"name":"NIR","common_name":"nir","description":"near-infrared"}]},"thumbnail":{"href":"https://naipeuwest.blob.core.windows.net/naip/v002/mt/2023/mt_060cm_2023/49116/m_4911664_se_11_060_20231117_20240103.200.jpg","type":"image/jpeg","roles":["thumbnail"],"title":"Thumbnail"},"tilejson":{"title":"TileJSON
        with default rendering","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/tilejson.json?collection=naip&item=mt_m_4911664_se_11_060_20231117_20240103&assets=image&asset_bidx=image%7C1%2C2%2C3&format=png","type":"application/json","roles":["tiles"]},"rendered_preview":{"title":"Rendered
        preview","rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/preview.png?collection=naip&item=mt_m_4911664_se_11_060_20231117_20240103&assets=image&asset_bidx=image%7C1%2C2%2C3&format=png","roles":["overview"],"type":"image/png"}},"geometry":{"type":"Polygon","coordinates":[[[-115.997313,48.997642],[-115.995973,49.064289],[-116.065205,49.064871],[-116.066453,48.998222],[-115.997313,48.997642]]]},"collection":"naip","properties":{"gsd":0.6,"datetime":"2023-11-17T16:00:00Z","naip:year":"2023","proj:bbox":[568284.0,5427678.0,573342.0,5435088.0],"proj:epsg":26911,"providers":[{"url":"https://www.fsa.usda.gov/programs-and-services/aerial-photography/imagery-programs/naip-imagery/","name":"USDA
        Farm Service Agency","roles":["producer","licensor"]}],"naip:state":"mt","proj:shape":[12350,8430],"proj:centroid":{"lat":49.03126,"lon":-116.03124},"proj:transform":[0.6,0.0,568284.0,0.0,-0.6,5435088.0,0.0,0.0,1.0]},"stac_extensions":["https://stac-extensions.github.io/eo/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json"],"stac_version":"1.0.0"},{"id":"mt_m_4911558_sw_11_060_20231117_20240103","bbox":[-115.879177,48.997533,-115.808202,49.06498],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","[...]
- request:
    body: '{"limit": 10, "collections": ["naip"], "token": "next:naip:mt_m_4811501_se_11_060_20231117_20240103"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"mt_m_4811501_nw_11_060_20231117_20240103","bbox":[-116.004043,48.935118,-115.933406,49.002385],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/ap[...]
[...]
