interactions:
- request:
    body: '{"collections": ["sentinel-2-c1-l2a"], "intersects": {"type": "Point",
      "coordinates": [-105.1019, 40.1672]}, "fields": {"include": [], "exclude": ["geometry",
      "assets", "links"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":858,"returned":10},"numberMatched":858,"numberReturned":10,"features":[{"stac_version":"1.0.0","bbox":[-106.180233,39.655762,-104.885314,40.478304],"id":"S2C_T13TDE_20250729T180310_L2A","collection":"sentinel-2-c1-l2a","type":"Feature","properties":{"datetime":"2025-07-29T18:03:19.545000Z"}},{"stac_version":"1.0.0","bbox":[-106.183161,40.035521,-104.884569,40.65079],"id":"S2C_T13TDE_20250729T175521_L2A","collection":"sentinel-2-c1-l2a","type":"Feature","properties":{"datetime":"2025-07-29T18:03:12.927000Z"}},{"stac_version":"1.0.0","bbox":[-105.371484,39.661022,-104.884569,40.650824],"id":"S2C_T13TDE_20250726T175050_L2A","collection":"sentinel-2-c1-l2a","type":"Feature","properties":{"datetime":"2025-07-26T17:53:21.392000Z"}},{"stac_version":"1.0.0","[...]
