interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eod-catalog-svc-prod.astraea.earth/search?datetime=2019-01-01T00%3A00%3A01Z%2F2019-01-01T00%3A00%3A10Z
  response:
    body:
      string: "{\"context\":{\"limit\":10,\"matched\":12,\"returned\":10},\"features\":[{\"assets\":{\"B03_60m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"green\",\"name\":\"B03\"}],\"eo:common_name\":\"green\",\"eo:gsd\":60.0,\"gsd\":60.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R60m/B03.jp2\",\"roles\":[\"data\"],\"size\":2732280,\"title\":\"Band
        3 - Green - 559.8/559.0nm (60m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"CLD_20m\":{\"bundleable\":true,\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/qi/CLD_20m.jp2\",\"roles\":[\"qa\"],\"size\":6022977,\"title\":\"Cloud
        (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"B05_20m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"rededge\",\"name\":\"B05\"}],\"eo:common_name\":\"rededge\",\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R20m/B05.jp2\",\"roles\":[\"data\"],\"size\":19012081,\"title\":\"Band
        5 - Vegetation Red Edge - 704.1/703.8nm (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:51.000Z\"},\"SNW_60m\":{\"bundleable\":true,\"eo:gsd\":60.0,\"gsd\":60.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/qi/SNW_60m.jp2\",\"roles\":[\"qa\"],\"size\":13364,\"title\":\"Snow
        (60m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"B07_60m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"rededge\",\"name\":\"B07\"}],\"eo:common_name\":\"rededge\",\"eo:gsd\":60.0,\"gsd\":60.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R60m/B07.jp2\",\"roles\":[\"data\"],\"size\":2785706,\"title\":\"Band
        7 \u2013 Vegetation Red Edge - 782.8/779.7nm (60m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"B08_10m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"nir\",\"name\":\"B08\"}],\"eo:common_name\":\"nir\",\"eo:gsd\":10.0,\"gsd\":10.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R10m/B08.jp2\",\"roles\":[\"data\"],\"size\":66184196,\"title\":\"Band
        8 \u2013 NIR - 832.8/832.9nm (10m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"B05_60m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"rededge\",\"name\":\"B05\"}],\"eo:common_name\":\"rededge\",\"eo:gsd\":60.0,\"gsd\":60.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R60m/B05.jp2\",\"roles\":[\"data\"],\"size\":2793393,\"title\":\"Band
        5 - Vegetation Red Edge - 704.1/703.8nm (60m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"B12_60m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"swir22\",\"name\":\"B12\"}],\"eo:common_name\":\"swir22\",\"eo:gsd\":60.0,\"gsd\":60.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R60m/B12.jp2\",\"roles\":[\"data\"],\"size\":2708894,\"title\":\"Band
        12 \u2013 SWIR - 2202.4/2185.7nm (60m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"B01_60m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"coastal\",\"name\":\"B01\"}],\"eo:common_name\":\"coastal\",\"eo:gsd\":60.0,\"gsd\":60.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R60m/B01.jp2\",\"roles\":[\"data\"],\"size\":2653312,\"title\":\"Band
        1 - Coastal aerosol - 442.7/442.2nm (60m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"eod_thumbnail\":{\"bundleable\":false,\"href\":\"s3://astraea-eod-catalog-preview-thumbnails/sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/preview_340.jpg\",\"roles\":[\"thumbnail\"],\"title\":\"Thumbnail\",\"type\":\"image/jpeg\"},\"TCI_20m\":{\"bundleable\":true,\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R20m/TCI.jp2\",\"roles\":[\"data\"],\"size\":19585687,\"title\":\"True
        Color Image (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"B08_20m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"nir\",\"name\":\"B08\"}],\"eo:common_name\":\"nir\",\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R20m/B08.jp2\",\"roles\":[\"data\"],\"size\":17864575,\"title\":\"Band
        8 \u2013 NIR - 832.8/832.9nm (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-28T19:39:00.000Z\"},\"cloud_mask\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/qi/MSK_CLOUDS_B00.gml\",\"roles\":[\"qa\"],\"size\":692751,\"title\":\"Cloud
        mask\",\"type\":\"application/gml+xml\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"tileInfo\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/tileInfo.json\",\"roles\":[\"metadata\"],\"size\":61163,\"title\":\"Tile
        info\",\"type\":\"application/json\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"B06_60m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"rededge\",\"name\":\"B06\"}],\"eo:common_name\":\"rededge\",\"eo:gsd\":60.0,\"gsd\":60.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R60m/B06.jp2\",\"roles\":[\"data\"],\"size\":2792107,\"title\":\"Band
        6 \u2013 Vegetation Red Edge - 740.5/739.1nm (60m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"B08_60m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"nir\",\"name\":\"B08\"}],\"eo:common_name\":\"nir\",\"eo:gsd\":60.0,\"gsd\":60.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R60m/B08.jp2\",\"roles\":[\"data\"],\"size\":2346340,\"title\":\"Band
        8 \u2013 NIR - 832.8/832.9nm (60m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-28T19:39:19.000Z\"},\"B02_20m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"blue\",\"name\":\"B02\"}],\"eo:common_name\":\"blue\",\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R20m/B02.jp2\",\"roles\":[\"data\"],\"size\":19851120,\"title\":\"Band
        2 - Blue - 492.4/492.1nm (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"B11_20m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"swir16\",\"name\":\"B11\"}],\"eo:common_name\":\"swir16\",\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R20m/B11.jp2\",\"roles\":[\"data\"],\"size\":17564047,\"title\":\"Band
        11 \u2013 SWIR - 1613.7/1610.4nm (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"WVP_60m\":{\"bundleable\":true,\"eo:gsd\":60.0,\"gsd\":60.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R60m/WVP.jp2\",\"roles\":[\"data\"],\"size\":48408,\"title\":\"Water
        Vapor (60m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"AOT_60m\":{\"bundleable\":true,\"eo:gsd\":60.0,\"gsd\":60.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R60m/AOT.jp2\",\"roles\":[\"data\"],\"size\":54346,\"title\":\"Aerosol
        Optical Thickness (60m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"WVP_10m\":{\"bundleable\":true,\"eo:gsd\":10.0,\"gsd\":10.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R10m/WVP.jp2\",\"roles\":[\"data\"],\"size\":117845,\"title\":\"Water
        Vapor (10m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"B06_20m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"rededge\",\"name\":\"B06\"}],\"eo:common_name\":\"rededge\",\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R20m/B06.jp2\",\"roles\":[\"data\"],\"size\":19013117,\"title\":\"Band
        6 \u2013 Vegetation Red Edge - 740.5/739.1nm (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"WVP_20m\":{\"bundleable\":true,\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R20m/WVP.jp2\",\"roles\":[\"data\"],\"size\":125167,\"title\":\"Water
        Vapor (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"B8A_20m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"nir08\",\"name\":\"B8A\"}],\"eo:common_name\":\"nir08\",\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R20m/B8A.jp2\",\"roles\":[\"data\"],\"size\":18794090,\"title\":\"Band
        8A \u2013 Narrow NIR - 864.7/864nm (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"B07_20m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"rededge\",\"name\":\"B07\"}],\"eo:common_name\":\"rededge\",\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R20m/B07.jp2\",\"roles\":[\"data\"],\"size\":18952689,\"title\":\"Band
        7 \u2013 Vegetation Red Edge - 782.8/779.7nm (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"B12_20m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"swir22\",\"name\":\"B12\"}],\"eo:common_name\":\"swir22\",\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R20m/B12.jp2\",\"roles\":[\"data\"],\"size\":17909915,\"title\":\"Band
        12 \u2013 SWIR - 2202.4/2185.7nm (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"SCL_20m\":{\"bundleable\":true,\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R20m/SCL.jp2\",\"roles\":[\"data\"],\"size\":1793232,\"title\":\"Scene
        Classification (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"B11_60m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"swir16\",\"name\":\"B11\"}],\"eo:common_name\":\"swir16\",\"eo:gsd\":60.0,\"gsd\":60.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R60m/B11.jp2\",\"roles\":[\"data\"],\"size\":2699171,\"title\":\"Band
        11 \u2013 SWIR - 1613.7/1610.4nm (60m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"SNW_20m\":{\"bundleable\":true,\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/qi/SNW_20m.jp2\",\"roles\":[\"qa\"],\"size\":24261,\"title\":\"Snow
        (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"B09_60m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"nir09\",\"name\":\"B09\"}],\"eo:common_name\":\"nir09\",\"eo:gsd\":60.0,\"gsd\":60.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R60m/B09.jp2\",\"roles\":[\"data\"],\"size\":2542378,\"title\":\"Band
        9 \u2013 Water vapour - 945.1/943.2nm  (60m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"productInfo\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/productInfo.json\",\"roles\":[\"metadata\"],\"size\":1031,\"title\":\"Product
        info\",\"type\":\"application/json\",\"updated\":\"2019-01-02T13:04:14.000Z\"},\"B04_60m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"red\",\"name\":\"B04\"}],\"eo:common_name\":\"red\",\"eo:gsd\":60.0,\"gsd\":60.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R60m/B04.jp2\",\"roles\":[\"data\"],\"size\":2773718,\"title\":\"Band
        4 - Red - 664.6/664.9nm (60m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"B04_20m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"red\",\"name\":\"B04\"}],\"eo:common_name\":\"red\",\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R20m/B04.jp2\",\"roles\":[\"data\"],\"size\":19107268,\"title\":\"Band
        4 - Red - 664.6/664.9nm (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"TCI_10m\":{\"bundleable\":true,\"eo:gsd\":10.0,\"gsd\":10.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R10m/TCI.jp2\",\"roles\":[\"data\"],\"size\":73895861,\"title\":\"True
        Color Image (10m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:51.000Z\"},\"B8A_60m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"nir08\",\"name\":\"B8A\"}],\"eo:common_name\":\"nir08\",\"eo:gsd\":60.0,\"gsd\":60.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R60m/B8A.jp2\",\"roles\":[\"data\"],\"size\":2771008,\"title\":\"Band
        8A \u2013 Narrow NIR - 864.7/864nm (60m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:51.000Z\"},\"B02_60m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"blue\",\"name\":\"B02\"}],\"eo:common_name\":\"blue\",\"eo:gsd\":60.0,\"gsd\":60.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R60m/B02.jp2\",\"roles\":[\"data\"],\"size\":2794434,\"title\":\"Band
        2 - Blue - 492.4/492.1nm (60m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"metadata\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/metadata.xml\",\"roles\":[\"metadata\"],\"size\":368901,\"title\":\"Tile
        metadata\",\"type\":\"application/xml\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"SCL_60m\":{\"bundleable\":true,\"eo:gsd\":60.0,\"gsd\":60.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R60m/SCL.jp2\",\"roles\":[\"data\"],\"size\":455611,\"title\":\"Scene
        Classification (60m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"B04_10m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"red\",\"name\":\"B04\"}],\"eo:common_name\":\"red\",\"eo:gsd\":10.0,\"gsd\":10.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R10m/B04.jp2\",\"roles\":[\"data\"],\"size\":66664038,\"title\":\"Band
        4 - Red - 664.6/664.9nm (10m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:51.000Z\"},\"B03_10m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"green\",\"name\":\"B03\"}],\"eo:common_name\":\"green\",\"eo:gsd\":10.0,\"gsd\":10.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R10m/B03.jp2\",\"roles\":[\"data\"],\"size\":67545249,\"title\":\"Band
        3 - Green - 559.8/559.0nm (10m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:51.000Z\"},\"TCI_60m\":{\"bundleable\":true,\"eo:gsd\":60.0,\"gsd\":60.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R60m/TCI.jp2\",\"roles\":[\"data\"],\"size\":2764501,\"title\":\"True
        Color Image (60m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"AOT_20m\":{\"bundleable\":true,\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R20m/AOT.jp2\",\"roles\":[\"data\"],\"size\":162617,\"title\":\"Aerosol
        Optical Thickness (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"B03_20m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"green\",\"name\":\"B03\"}],\"eo:common_name\":\"green\",\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R20m/B03.jp2\",\"roles\":[\"data\"],\"size\":19051958,\"title\":\"Band
        3 - Green - 559.8/559.0nm (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"B02_10m\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"blue\",\"name\":\"B02\"}],\"eo:common_name\":\"blue\",\"eo:gsd\":10.0,\"gsd\":10.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R10m/B02.jp2\",\"roles\":[\"data\"],\"size\":71344933,\"title\":\"Band
        2 - Blue - 492.4/492.1nm (10m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:51.000Z\"},\"CLD_60m\":{\"bundleable\":true,\"eo:gsd\":60.0,\"gsd\":60.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/qi/CLD_60m.jp2\",\"roles\":[\"qa\"],\"size\":1217672,\"title\":\"Cloud
        (60m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"AOT_10m\":{\"bundleable\":true,\"eo:gsd\":10.0,\"gsd\":10.0,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/R10m/AOT.jp2\",\"roles\":[\"data\"],\"size\":205432,\"title\":\"Aerosol
        Optical Thickness (10m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"},\"preview_image\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l2a/tiles/59/V/PE/2019/1/1/0/qi/L2A_PVI.jp2\",\"roles\":[\"overview\",\"preview\"],\"size\":166183,\"title\":\"Preview
        Image\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T13:03:50.000Z\"}},\"bbox\":[172.67526302095644,57.60565896572362,174.6100032045327,58.629130132901984],\"collection\":\"sentinel2_l2a\",\"geometry\":{\"coordinates\":[[[[172.67526302095644,57.643355183925195],[172.6794046517885,57.73297842085586],[172.68357092829763,57.82260019033382],[172.68776205460355,57.91222049268994],[172.69197823711465,58.00183932824952],[172.69621968455988,58.09145669733209],[172.70048660802132,58.18107260025109],[172.7047792209675,58.270687037313614],[172.70909773928688,58.36030000882011],[172.7134423813221,58.449911515064045],[172.71781336790497,58.53952155633175],[172.7222109223919,58.629130132901984],[172.89401551151755,58.626715[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://eod-catalog-svc-prod.astraea.earth/search?next=1591742598673,S2A_OPER_MSI_L1C_TL_EPAE_20190101T013420_A018417_T60VUK_N02.07,sentinel2_l1c&datetime=2019-01-01T00:00:01Z/2019-01-01T00:00:10Z
  response:
    body:
      string: "{\"context\":{\"limit\":10,\"matched\":12,\"returned\":2},\"features\":[{\"assets\":{\"B04_preview\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/preview/B04.jp2\",\"roles\":[\"overview\",\"preview\"],\"size\":378792,\"title\":\"Preview
        - Band 4 - Red - 664.6/664.9nm\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:43:36Z\"},\"B01\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"coastal\",\"name\":\"B01\"}],\"eo:common_name\":\"coastal\",\"eo:gsd\":60.0,\"gsd\":60.0,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/B01.jp2\",\"roles\":[\"data\"],\"size\":2403569,\"title\":\"Band
        1 - Coastal aerosol - 442.7/442.2nm (60m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:42:42Z\"},\"B09\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"nir09\",\"name\":\"B09\"}],\"eo:common_name\":\"nir09\",\"eo:gsd\":60.0,\"gsd\":60.0,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/B09.jp2\",\"roles\":[\"data\"],\"size\":2543065,\"title\":\"Band
        9 \u2013 Water vapour - 945.1/943.2nm  (60m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:42:42Z\"},\"B07_preview\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/preview/B07.jp2\",\"roles\":[\"overview\",\"preview\"],\"size\":390772,\"title\":\"Preview
        - Band 7 \u2013 Vegetation Red Edge - 782.8/779.7nm\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:43:31Z\"},\"B03_preview\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/preview/B03.jp2\",\"roles\":[\"overview\",\"preview\"],\"size\":360139,\"title\":\"Preview
        - Band 3 - Green - 559.8/559.0nm\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:43:42Z\"},\"B02\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"blue\",\"name\":\"B02\"}],\"eo:common_name\":\"blue\",\"eo:gsd\":10.0,\"gsd\":10.0,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/B02.jp2\",\"roles\":[\"data\"],\"size\":62128465,\"title\":\"Band
        2 - Blue - 492.4/492.1nm (10m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:42:42Z\"},\"B01_preview\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/preview/B01.jp2\",\"roles\":[\"overview\",\"preview\"],\"size\":586518,\"title\":\"Preview
        - Band 1 - Coastal aerosol - 442.7/442.2nm\",\"type\":\"image/jp2\",\"updated\":\"2020-04-16T20:08:02Z\"},\"B06\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"rededge\",\"name\":\"B06\"}],\"eo:common_name\":\"rededge\",\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/B06.jp2\",\"roles\":[\"data\"],\"size\":18288700,\"title\":\"Band
        6 \u2013 Vegetation Red Edge - 740.5/739.1nm (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:42:42Z\"},\"B8A\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"nir08\",\"name\":\"B8A\"}],\"eo:common_name\":\"nir08\",\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/B8A.jp2\",\"roles\":[\"data\"],\"size\":18815417,\"title\":\"Band
        8A \u2013 Narrow NIR - 864.7/864nm (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:42:42Z\"},\"B03\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"green\",\"name\":\"B03\"}],\"eo:common_name\":\"green\",\"eo:gsd\":10.0,\"gsd\":10.0,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/B03.jp2\",\"roles\":[\"data\"],\"size\":59518852,\"title\":\"Band
        3 - Green - 559.8/559.0nm (10m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:42:42Z\"},\"B10_preview\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/preview/B10.jp2\",\"roles\":[\"overview\",\"preview\"],\"size\":427264,\"title\":\"Preview
        - Band 10 \u2013 SWIR \u2013 Cirrus - 1373.5/1376.9nm\",\"type\":\"image/jp2\",\"updated\":\"2020-04-16T20:08:05Z\"},\"B8A_preview\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/preview/B8A.jp2\",\"roles\":[\"overview\",\"preview\"],\"size\":394007,\"title\":\"Preview
        - Band 8A \u2013 Narrow NIR - 864.7/864nm\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:43:30Z\"},\"preview_image\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/preview.jpg\",\"roles\":[\"overview\",\"preview\"],\"size\":105370,\"title\":\"Preview
        Image\",\"type\":\"image/jpeg\",\"updated\":\"2019-01-02T10:43:27Z\"},\"eod_thumbnail\":{\"bundleable\":false,\"href\":\"s3://astraea-eod-catalog-preview-thumbnails/sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/preview_340.jpg\",\"roles\":[\"thumbnail\"],\"title\":\"Thumbnail\",\"type\":\"image/jpeg\"},\"B11\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"swir16\",\"name\":\"B11\"}],\"eo:common_name\":\"swir16\",\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/B11.jp2\",\"roles\":[\"data\"],\"size\":17605053,\"title\":\"Band
        11 \u2013 SWIR - 1613.7/1610.4nm (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:42:42Z\"},\"cloud_mask\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/qi/MSK_CLOUDS_B00.gml\",\"roles\":[\"qa\"],\"size\":692751,\"title\":\"Cloud
        mask\",\"type\":\"application/gml+xml\",\"updated\":\"2019-01-02T10:42:42Z\"},\"tileInfo\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/tileInfo.json\",\"roles\":[\"metadata\"],\"size\":61165,\"title\":\"Tile
        info\",\"type\":\"application/json\",\"updated\":\"2019-01-02T10:42:42Z\"},\"B09_preview\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/preview/B09.jp2\",\"roles\":[\"overview\",\"preview\"],\"size\":623599,\"title\":\"Preview
        - Band 9 \u2013 Water vapour - 945.1/943.2nm \",\"type\":\"image/jp2\",\"updated\":\"2020-04-16T20:08:04Z\"},\"B11_preview\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/preview/B11.jp2\",\"roles\":[\"overview\",\"preview\"],\"size\":391137,\"title\":\"Preview
        - Band 11 \u2013 SWIR - 1613.7/1610.4nm\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:43:31Z\"},\"B12\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"swir22\",\"name\":\"B12\"}],\"eo:common_name\":\"swir22\",\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/B12.jp2\",\"roles\":[\"data\"],\"size\":17664848,\"title\":\"Band
        12 \u2013 SWIR - 2202.4/2185.7nm (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:42:42Z\"},\"B05\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"rededge\",\"name\":\"B05\"}],\"eo:common_name\":\"rededge\",\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/B05.jp2\",\"roles\":[\"data\"],\"size\":18042735,\"title\":\"Band
        5 - Vegetation Red Edge - 704.1/703.8nm (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:42:42Z\"},\"TCI\":{\"bundleable\":true,\"eo:gsd\":10.0,\"gsd\":10.0,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/TCI.jp2\",\"roles\":[\"data\"],\"size\":77058440,\"title\":\"True
        Color Image (10m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:42:42Z\"},\"B08_preview\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/preview/B08.jp2\",\"roles\":[\"overview\",\"preview\"],\"size\":390479,\"title\":\"Preview
        - Band 8 \u2013 NIR - 832.8/832.9nm\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:43:37Z\"},\"preview_image_jp2\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/preview.jp2\",\"roles\":[\"overview\",\"preview\"],\"size\":166584,\"title\":\"Preview
        Image (JPEG2000)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:42:41Z\"},\"productInfo\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/productInfo.json\",\"roles\":[\"metadata\"],\"size\":1031,\"title\":\"Product
        info\",\"type\":\"application/json\",\"updated\":\"2019-01-02T10:43:06Z\"},\"B06_preview\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/preview/B06.jp2\",\"roles\":[\"overview\",\"preview\"],\"size\":388236,\"title\":\"Preview
        - Band 6 \u2013 Vegetation Red Edge - 740.5/739.1nm\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:43:30Z\"},\"B05_preview\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/preview/B05.jp2\",\"roles\":[\"overview\",\"preview\"],\"size\":385358,\"title\":\"Preview
        - Band 5 - Vegetation Red Edge - 704.1/703.8nm\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:43:31Z\"},\"B10\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"cirrus\",\"name\":\"B10\"}],\"eo:common_name\":\"cirrus\",\"eo:gsd\":60.0,\"gsd\":60.0,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/B10.jp2\",\"roles\":[\"data\"],\"size\":1813378,\"title\":\"Band
        10 \u2013 SWIR \u2013 Cirrus - 1373.5/1376.9nm (60m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:42:42Z\"},\"B02_preview\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/preview/B02.jp2\",\"roles\":[\"overview\",\"preview\"],\"size\":363366,\"title\":\"Preview
        - Band 2 - Blue - 492.4/492.1nm\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:43:36Z\"},\"B12_preview\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/preview/B12.jp2\",\"roles\":[\"overview\",\"preview\"],\"size\":388707,\"title\":\"Preview
        - Band 12 \u2013 SWIR - 2202.4/2185.7nm\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:43:31Z\"},\"B08\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"nir\",\"name\":\"B08\"}],\"eo:common_name\":\"nir\",\"eo:gsd\":10.0,\"gsd\":10.0,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/B08.jp2\",\"roles\":[\"data\"],\"size\":64101886,\"title\":\"Band
        8 \u2013 NIR - 832.8/832.9nm (10m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:42:42Z\"},\"metadata\":{\"bundleable\":true,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/metadata.xml\",\"roles\":[\"metadata\"],\"size\":367263,\"title\":\"Tile
        metadata\",\"type\":\"application/xml\",\"updated\":\"2019-01-02T10:42:41Z\"},\"B04\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"red\",\"name\":\"B04\"}],\"eo:common_name\":\"red\",\"eo:gsd\":10.0,\"gsd\":10.0,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/B04.jp2\",\"roles\":[\"data\"],\"size\":61822926,\"title\":\"Band
        4 - Red - 664.6/664.9nm (10m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:42:42Z\"},\"B07\":{\"bundleable\":true,\"eo:bands\":[{\"common_name\":\"rededge\",\"name\":\"B07\"}],\"eo:common_name\":\"rededge\",\"eo:gsd\":20.0,\"gsd\":20.0,\"href\":\"s3://sentinel-s2-l1c/tiles/59/V/PE/2019/1/1/0/B07.jp2\",\"roles\":[\"data\"],\"size\":18498508,\"title\":\"Band
        7 \u2013 Vegetation Red Edge - 782.8/779.7nm (20m)\",\"type\":\"image/jp2\",\"updated\":\"2019-01-02T10:42:42Z\"}},\"bbox\":[172.67526302095644,57.60565896572362,174.6100032045327,58.629130132901984],\"collection\":\"sentinel2[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://eod-catalog-svc-prod.astraea.earth/search?next=1591794181316,S2A_OPER_MSI_L1C_TL_EPAE_20190101T013420_A018417_T59VNF_N02.07,sentinel2_l1c&datetime=2019-01-01T00:00:01Z/2019-01-01T00:00:10Z
  response:
    body:
      string: '{"context":{"limit":10,"matched":12,"returned":0},"features":[],"links":[],"search:metadata":{"limit":10,"next":"","numberMatched":12,"numberReturned":0,"queryMetadata":null},"stac_extensions":[],"stac_version":"1.0.0-beta.2","type":"FeatureCollection"}'
    headers:
      Content-Type:
      - application/geo+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://eod-catalog-svc-prod.astraea.earth/search?next=1591794181316,S2A_OPER_MSI_L1C_TL_EPAE_20190101T013420_A018417_T59VNF_N02.07,sentinel2_l1c&datetime=2019-01-01T00:00:01Z/2019-01-01T00:00:10Z
  response:
    body:
      string: '{"context":{"limit":10,"matched":12,"returned":0},"features":[],"links":[],"search:metadata":{"limit":10,"next":"","numberMatched":12,"numberReturned":0,"queryMetadata":null},"stac_extensions":[],"stac_version":"1.0.0-beta.2","type":"FeatureCollection"}'
    headers:
      Content-Type:
      - application/geo+json
    status:
      code: 200
      message: OK
version: 1
