interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://emc.spacebel.be/collections?limit=10&bbox=-73.21%2C43.99%2C-73.12%2C44.05&q=sentinel
  response:
    body:
      string: "{\n  \"collections\": [\n    {\n      \"extent\": {\n        \"spatial\":
        {\"bbox\": [[\n          -180,\n          -90,\n          180,\n          90\n
        \       ]]},\n        \"temporal\": {\"interval\": [[\n          \"2021-10-09T00:00:00.000Z\",\n
        \         null\n        ]]}\n      },\n      \"stac_version\": \"1.0.0\",\n
        \     \"keywords\": [\n        \"FedEO\",\n        \"SCIHUB\",\n        \"DIF10\",\n
        \       \"Sea Surface Topography\",\n        \"EARTH SCIENCE > OCEANS > SEA
        SURFACE TOPOGRAPHY\",\n        \"Radar Altimeters\",\n        \"Radiometers\",\n
        \       \"Sentinel-6\",\n        \"POSEIDON-4\",\n        \"AMR-C\"\n      ],\n
        \     \"created\": \"2024-01-02T00:00:00.00Z\",\n      \"description\": \"Copernicus
        Sentinel-6 Michael Freilich is an Earth Observation satellite mission developed
        to provide enhanced continuity to the very stable time series of mean sea
        level measurements and ocean sea state that started in 1992, with the TOPEX/Poseidon
        mission, then continued by the Jason-1, Jason-2 and Jason-3 satellite missions.\",\n
        \     \"type\": \"Collection\",\n      \"title\": \"Sentinel-6 Products\",\n
        \     \"license\": \"various\",\n      \"assets\": {\n        \"search\":
        {\n          \"roles\": [\"search\"],\n          \"href\": \"https://fedeo-client.ceos.org?url=https://emc.spacebel.be/api?httpAccept=application/opensearchdescription%252Bxml&uid=EOP:ESA:SCIHUB:S6\",\n
        \         \"type\": \"text/html\",\n          \"title\": \"Search client\"\n
        \       },\n        \"metadata_ogc_17_069r3\": {\n          \"roles\": [\"metadata\"],\n
        \         \"href\": \"https://emc.spacebel.be/collections/EOP:ESA:Sentinel-6\",\n
        \         \"type\": \"application/geo+json;profile=\\\"http://www.opengis.net/spec/ogcapi-features-1/1.0\\\"\",\n
        \         \"title\": \"OGC 17-069r3 metadata\"\n        },\n        \"metadata_iso_19139\":
        {\n          \"roles\": [\"metadata\"],\n          \"href\": \"https://emc.spacebel.be/collections/EOP:ESA:Sentinel-6?httpAccept=application/vnd.iso.19139%2Bxml\",\n
        \         \"title\": \"ISO 19139 metadata\",\n          \"type\": \"application/vnd.iso.19139+xml\"\n
        \       },\n        \"metadata_iso_19139_2\": {\n          \"roles\": [\"metadata\"],\n
        \         \"href\": \"https://emc.spacebel.be/collections/EOP:ESA:Sentinel-6?httpAccept=application/vnd.iso.19139-2%2Bxml\",\n
        \         \"title\": \"ISO 19139-2 metadata\",\n          \"type\": \"application/vnd.iso.19139-2+xml\"\n
        \       },\n        \"metadata_dif_10\": {\n          \"roles\": [\"metadata\"],\n
        \         \"href\": \"https://emc.spacebel.be/collections/EOP:ESA:Sentinel-6?httpAccept=application/dif10%2Bxml\",\n
        \         \"title\": \"DIF-10 metadata\",\n          \"type\": \"application/dif10+xml\"\n
        \       },\n        \"metadata_iso_19115_3\": {\n          \"roles\": [\"metadata\"],\n
        \         \"href\": \"https://emc.spacebel.be/collections/EOP:ESA:Sentinel-6?httpAccept=application/vnd.iso.19115-3%2Bxml\",\n
        \         \"title\": \"ISO 19115-3 metadata\",\n          \"type\": \"application/vnd.iso.19115-3+xml\"\n
        \       },\n        \"metadata_ogc_17_084r1\": {\n          \"roles\": [\"metadata\"],\n
        \         \"href\": \"https://emc.spacebel.be/collections/EOP:ESA:Sentinel-6?mode=owc\",\n
        \         \"title\": \"OGC 17-084r1 metadata\",\n          \"type\": \"application/geo+json;profile=\\\"http://www.opengis.net/spec/eoc-geojson/1.0\\\"\"\n
        \       },\n        \"metadata_html\": {\n          \"roles\": [\"metadata\"],\n
        \         \"href\": \"https://emc.spacebel.be/collections/EOP:ESA:Sentinel-6?httpAccept=text/html\",\n
        \         \"title\": \"HTML\",\n          \"type\": \"text/html\"\n        }\n
        \     },\n      \"links\": [\n        {\n          \"rel\": \"self\",\n          \"href\":
        \"https://emc.spacebel.be/collections/EOP:ESA:Sentinel-6\",\n          \"type\":
        \"application/json\"\n        },\n        {\n          \"rel\": \"root\",\n
        \         \"href\": \"https://emc.spacebel.be\",\n          \"type\": \"application/json\",\n
        \         \"title\": \"FedEO Clearinghouse\"\n        },\n        {\n          \"rel\":
        \"parent\",\n          \"href\": \"https://emc.spacebel.be\",\n          \"title\":
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://emc.spacebel.be/collections?limit=10&bbox=-73.21%2C43.99%2C-73.12%2C44.05&q=sentinel&startRecord=11
  response:
    body:
      string: "{\n  \"collections\": [\n    {\n      \"extent\": {\n        \"spatial\":
        {\"bbox\": [[\n          -180,\n          -90,\n          180,\n          90\n
        \       ]]},\n        \"temporal\": {\"interval\": [[\n          \"2019-01-01T00:00:00Z\",\n
        \         \"2022-12-3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://emc.spacebel.be/collections?limit=10&q=sentinel
  response:
    body:
      string: "{\n  \"collections\": [\n    {\n      \"extent\": {\n        \"spatial\":
        {\"bbox\": [[\n          -180,\n          -90,\n          180,\n          90\n
        \       ]]},\n        \"temporal\": {\"interval\": [[\n          \"2021-10-09T00:00:00.000Z\",\n
        \         null\n        ]]}\n      },\n      \"stac_version\": \"1.0.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://emc.spacebel.be/collections?limit=10&q=sentinel&startRecord=11
  response:
    body:
      string: "{\n  \"collections\": [\n    {\n      \"extent\": {\n        \"spatial\":
        {\"bbox\": [[\n          -180,\n          -89,\n          180,\n          89\n
        \       ]]},\n        \"temporal\": {\"interval\": [[\n          \"2019-12-01T00:00:00Z\",\n
        \         \"2025-12-31T23:59:00Z\"\n        ]]}\n      },\n      \"stac_version\":
        \"1.0.0\",\n      \"keywords\": [\n        \"DIF10\",\n        \"Orthoimagery\",\n
        \       \"plant resource\",\n        \"atmospheric components\",\n        \"METHANE\",\n
        \       \"Sentinel-5P TROPOMI\",\n        \"TERRASCOPE\",\n        \"Level-3\",\n
        \       \"VITO\",\n        \"EARTH SCIENCE>CLIMATE INDICATORS>PALEOCLIMATE
        INDICATORS>ICE CORE RECORDS>METHANE\",\n        \"Sentinel-5P\",\n        \"TROPOMI\"\n
        \     ],\n      \"created\": \"2023-05-01T00:00:00.00Z\",\n      \"description\":
        \"The L3 binning algorithm calcualtes a weighted monthly average density based
        on the daily Level-3 CH4 values.\",\n      \"sci:citation\": \"https://docs.terrascope.be/#/DataProducts/DataProducts\",\n
        \     \"type\": \"Collection\",\n      \"title\": \"Sentinel-5P Level-3 CH4
        Monthly Product - V2\",\n      \"version\": \"V2\",\n      \"license\": \"various\",\n
        \     \"assets\": {\n        \"search\": {\n          \"roles\": [\"search\"],\n
        \         \"href\": \"https://fedeo-client.ceos.org?url=https://emc.spacebel.be/api?httpAccept=application/opensearchdescription%252Bxml&uid=urn:eop:VITO:TERRASCOPE_S5P_L3_CH4_TM_V2\",\n
        \         \"type\": \"text/html\",\n          \"title\": \"Search client\"\n
        \       },\n        \"enclosure\": {\n          \"roles\": [\"data\"],\n          \"href\":
        \"https://services.terrascope.be/catalogue/description\",\n          \"type\":
        \"application/x-binary\",\n          \"title\": \"TERRASCOPE Catalogue - Search
        and download datasets using the VITO TERRASCOPE OpenSearch CAtalogue for Remote
        Sensing\"\n        },\n        \"metadata_ogc_17_069r3\": {\n          \"roles\":
        [\"metadata\"],\n          \"href\": \"https://emc.spacebel.be/collections/urn:eo[...]
