interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://emc.spacebel.be/collections?limit=10&bbox=-159.893%2C21.843%2C-159.176%2C22.266
  response:
    body:
      string: "{\n  \"collections\": [\n    {\n      \"extent\": {\n        \"spatial\":
        {\"bbox\": [[\n          -180,\n          -90,\n          180,\n          90\n
        \       ]]},\n        \"temporal\": {\"interval\": [[\n          \"2002-05-20T00:00:00.000Z\",\n
        \         \"2012-04-08T23:59:59.999Z\"\n        ]]}\n      },\n      \"stac_version\":
        \"1.0.0\",\n      \"keywords\": [\n        \"World\",\n        \"800 km\",\n
        \       \"5 - 1150 km\",\n        \"Sun-synchronous\",\n        \"Very High
        Resolution - VHR (0 - 5m)\",\n        \"Medium Resolution - MR (20 - 500 m)\",\n
        \       \"EARTH SCIENCE > BIOSPHERE > VEGETATION\",\n        \"EARTH SCIENCE
        > OCEANS\",\n        \"EARTH SCIENCE > OCEANS > OCEAN TEMPERATURE\",\n        \"EARTH
        SCIENCE > ATMOSPHERE\",\n        \"EARTH SCIENCE > ATMOSPHERE > CLOUDS\",\n
        \       \"EARTH SCIENCE > ATMOSPHERE > PRECIPITATION\",\n        \"Vegetation\",\n
        \       \"Oceans\",\n        \"Ocean Temperature\",\n        \"Atmosphere\",\n
        \       \"Clouds\",\n        \"Precipitation\",\n        \"Imaging Spectrometers/Radiometers\",\n
        \       \"Envisat\",\n        \"AATSR\"\n      ],\n      \"created\": \"2019-05-21T00:00:00.00Z\",\n
        \     \"description\": \"The Averaged Surface Temperature (AST) Product contains
        averaged geophysical data at two different resolutions, and with respect to
        two different averaging schemes. Measurement data sets at resolutions of 0.5
        by 0.5 degrees and 10 by 10 arcmin with respect to a latitude/longitude grid
        provide continuity with existing ATSR products.  Other data sets contain data
        averaged over equal area cells of 50 by 50 km and 17 by 17 km aligned with
        the satellite ground track. Both top-of-atmosphere and surface data sets are
        provided. The surface temperature data sets provide, for sea cells, nadir
        and dual view sea surface temperatures, and for land cells, land surface temperature
        and NDVI. Cloud data is also included. No ADS are included in the AST product;
        auxiliary data is contained within the MDS. The data sets of the AST product
        are arranged by surface type and resolution.  This product is a continuation
        of ERS ATSR data.  The 3rd reprocessing of AATSR data was performed in 2013;
        the processing updates that have been put in place and the scientific improvements
        are outlined in full in the User Summary Note for the Third Envisat AATSR
        Reprocessing  https://earth.esa.int/eogateway/documents/20142/37627/IDEAS-VEG-OQC-REP-2148-%28A%29ATSR-Third+Reprocessing-Dataset-User-Summary-v1-0.pdf\",\n
        \     \"type\": \"Collection\",\n      \"title\": \"Envisat AATSR Averaged
        Surface Temperature (AST) Product [ATS_AR__2P]\",\n      \"license\": \"various\",\n
        \     \"assets\": {\n        \"metadata_ogc_17_069r3\": {\n          \"roles\":
        [\"metadata\"],\n          \"href\": \"https://emc.spacebel.be/collections/ENVISAT.ATS.AR__2P\",\n
        \         \"type\": \"application/geo+json;profile=\\\"http://www.opengis.net/spec/ogcapi-features-1/1.0\\\"\",\n
        \         \"title\": \"OGC 17-069r3 metadata\"\n        },\n        \"metadata_iso_19139\":
        {\n          \"roles\": [\"metadata\"],\n          \"href\": \"https://emc.spacebel.be/collections/ENVISAT.ATS.AR__2P?httpAccept=application/vnd.iso.19139%2Bxml\",\n
        \         \"title\": \"ISO 19139 metadata\",\n          \"type\": \"application/vnd.iso.19139+xml\"\n
        \       },\n        \"metadata_iso_19139_2\": {\n          \"roles\": [\"metadata\"],\n
        \         \"href\": \"https://emc.spacebel.be/collections/ENVISAT.ATS.AR__2P?httpAccept=application/vnd.iso.19139-2%2Bxml\",\n
        \         \"title\": \"ISO 19139-2 metadata\",\n          \"type\": \"application/vnd.iso.19139-2+xml\"\n
        \       },\n        \"metadata_dif_10\": {\n          \"roles\": [\"metadata\"],\n
        \         \"href\": \"https://emc.spacebel.be/collections/ENVISAT.ATS.AR__2P?httpAccept=application/dif10%2Bxml\",\n
        \         \"title\": \"DIF-10 metadata\",\n          \"type\": \"application/dif10+xml\"\n
        \       },\n        \"metadata_iso_19115_3\": {\n          \"roles\": [\"metadata\"],\n
        \         \"href\": \"https://emc.spacebel.be/collections/ENVISAT.ATS.AR__2P?httpAccept=application/vnd.iso.19115-3%2Bxml\",\n
        \         \"title\": \"ISO 19115-3 metadata\",\n          \"type\": \"application/vnd.iso.19115-3+xml\"\n
        \       },\n        \"metadata_ogc_17_084r1\": {\n          \"roles\": [\"metadata\"],\n
        \         \"href\": \"https://emc.spacebel.be/collections/ENVISAT.ATS.AR__2P?mode=owc\",\n
        \         \"title\": \"OGC 17-084r1 metadata\",\n          \"type\": \"application/geo+json;profile=\\\"http://www.opengis.net/spec/eoc-geojson/1.0\\\"\"\n
        \       },\n        \"metadata_html\": {\n          \"roles\": [\"metadata\"],\n
        \         \"href\": \"https://emc.spacebel.be/collections/ENVISAT.ATS.AR__2P?httpAccept=text/html\",\n
        \         \"title\": \"HTML\",\n          \"type\": \"text/html\"\n        }\n
        \     },\n      \"links\": [\n        {\n          \"rel\": \"self\",\n          \"href\":
        \"https://emc.spacebel.be/collections/ENVISAT.ATS.AR__2P\",\n          \"type\":
        \"application/json\"\n        },\n        {\n          \"rel\": \"root\",\n
        \         \"href\": \"https://emc.spacebel.be\",\n          \"type\": \"application/json\",\n
        \         \"title\": \"FedEO Clearinghouse\"\n        },\n        {\n          \"rel\":
        \"parent\",\n          \"href\": \"https://emc.spacebel.be\",\n          \"title\":
     [...]
