interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://emc.spacebel.be/collections?limit=10&q=%22monthly+cloudless+mosaics%22
  response:
    body:
      string: "{\n  \"collections\": [{\n    \"extent\": {\n      \"spatial\": {\"bbox\":
        [[\n        -180,\n        -90,\n        180,\n        90\n      ]]},\n      \"temporal\":
        {\"interval\": [[\n        null,\n        null\n      ]]}\n    },\n    \"stac_version\":
        \"1.0.0\",\n    \"keywords\": [\n      \"Forestry\",\n      \"Forest Management\"\n
        \   ],\n    \"created\": \"2023-09-05T00:00:00.00Z\",\n    \"description\":
        \"Creating monthly cloudless mosaics of images is invaluable for forest management
        as they provide a consistent and clear view of the forest canopy throughout
        the year. These mosaics enable forest managers to track seasonal changes,
        identify potential threats like pest infestations or wildfires, and make informed
        decisions regarding tree health and growth. Additionally, by having a reliable
        historical record of forest conditions, these mosaics assist in long-term
        planning and sustainable resource management. Furthermore, the accessibility
        and accuracy of monthly cloudless mosaics enhance collaboration among stakeholders,
        allowing suitable policy development.\",\n    \"type\": \"Collection\",\n
        \   \"title\": \"Cloudless True Color Data\",\n    \"license\": \"various\",\n
        \   \"assets\": {\n      \"search\": {\n        \"roles\": [\"search\"],\n
        \       \"href\": \"https://fedeo-client.ceos.org?url=https://emc.spacebel.be/api?httpAccept=application/opensearchdescription%252Bxml&uid=F-TCC\",\n
        \       \"type\": \"text/html\",\n        \"title\": \"Search client\"\n      },\n
        \     \"metadata_ogc_17_069r3\": {\n        \"roles\": [\"metadata\"],\n        \"href\":
        \"https://emc.spacebel.be/collections/F-TCC\",\n        \"type\": \"application/geo+json;profile=\\\"http://www.opengis.net/spec/ogcapi-features-1/1.0\\\"\",\n
        \       \"title\": \"OGC 17-069r3 metadata\"\n      },\n      \"metadata_iso_19139\":
        {\n        \"roles\": [\"metadata\"],\n        \"href\": \"https://emc.spacebel.be/collections/F-TCC?httpAccept=application/vnd.iso.19139%2Bxml\",\n
        \       \"title\": \"ISO 19139 metadata\",\n        \"type\": \"application/vnd.iso.19139+xml\"\n
        \     },\n      \"metadata_iso_19139_2\": {\n        \"roles\": [\"metadata\"],\n
        \       \"href\": \"https://emc.spacebel.be/collections/F-TCC?httpAccept=application/vnd.iso.19139-2%2Bxml\",\n
        \       \"title\": \"ISO 19139-2 metadata\",\n        \"type\": \"application/vnd.iso.19139-2+xml\"\n
        \     },\n      \"metadata_dif_10\": {\n        \"roles\": [\"metadata\"],\n
        \       \"href\": \"https://emc.spacebel.be/collections/F-TCC?httpAccept=application/dif10%2Bxml\",\n
        \       \"title\": \"DIF-10 metadata\",\n        \"type\": \"application/dif10+xml\"\n
        \     },\n      \"metadata_iso_19115_3\": {\n        \"roles\": [\"metadata\"],\n
        \       \"href\": \"https://emc.spacebel.be/collections/F-TCC?httpAccept=application/vnd.iso.19115-3%2Bxml\",\n
        \       \"title\": \"ISO 19115-3 metadata\",\n        \"type\": \"application/vnd.iso.19115-3+xml\"\n
        \     },\n      \"metadata_ogc_17_084r1\": {\n        \"roles\": [\"metadata\"],\n
        \       \"href\": \"https://emc.spacebel.be/collections/F-TCC?mode=owc\",\n
        \       \"title\": \"OGC 17-084r1 metadata\",\n        \"type\": \"application/geo+json;profile=\\\"http://www.opengis.net/spec/eoc-geojson/1.0\\\"\"\n
        \     },\n      \"metadata_html\": {\n        \"roles\": [\"metadata\"],\n
        \       \"href\": \"https://emc.spacebel.be/collections/F-TCC?httpAccept=text/html\",\n
        \       \"title\": \"HTML\",\n        \"type\": \"text/html\"\n      },\n
        \     \"quicklook\": {\n        \"roles\": [\"overview\"],\n        \"href\":
        \"https://eovoc.spacebel.be/images/tcc.png\",\n        \"type\": \"image/png\",\n
        \       \"title\": \"graphic overview\"\n      }\n    },\n    \"links\": [\n
        \     {\n        \"rel\": \"self\",\n        \"href\": \"https://emc.spacebel.be/collections/F-TCC\",\n
        \       \"type\": \"application/json\"\n      },\n      {\n        \"rel\":
        \"root\",\n        \"href\": \"https://emc.spacebel.be\",\n        \"type\":
        \"application/json\",\n        \"title\": \"FedEO Clearinghouse\"\n      },\n
        \     {\n        \"rel\": \"parent\",\n        \"href\": \"https://emc.spacebel.be\",\n
        \       \"title\": \"collections\",\n        \"type\": \"appli[...]
[...]
