interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: '{"filter": {"op": "lte", "args": [{"property": "eo:cloud_cover"}, 40]},
      "filter-lang": "cql2-json"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"stac_version\":\"1.0.0\",\"stac_extensions\":[],\"context\":{\"limit\":10,\"matched\":96445655,\"returned\":10},\"numberMatched\":96445655,\"numberReturned\":10,\"features\":[{\"type\":\"Feature\",\"stac_version\":\"1.0.0\",\"id\":\"S2B_T25LBG_20240809T124253_L2A\",\"properties\":{\"created\":\"2024-08-09T14:46:03.591Z\",\"platform\":\"sentinel-2b\",\"constellation\":\"sentinel-2\",\"instruments\":[\"msi\"],\"eo:cloud_cover\":0.548947,\"proj:epsg\":32725,\"proj:centroid\":{\"lat\":-11.76978,\"lon\":-34.81161},\"mgrs:utm_zone\":25,\"mgrs:latitude_band\":\"L\",\"mgrs:grid_square\":\"BG\",\"grid:code\":\"MGRS-25LBG\",\"view:azimuth\":290.2297563711905,\"view:incidence_angle\":6.778935528241471,\"view:sun_azimuth\":42.5382791576093,\"view:sun_elevation\":52.5743732723472,\"s2:tile_id\":\"S2B_OPER_MSI_L2A_TL_2BPS_20240809T134721_A038788_T25LBG_N05.11\",\"s2:degraded_msi_data_percentage\":0,\"s2:nodata_pixel_percentage\":99.496537,\"s2:saturated_defective_pixel_percentage\":0,\"s2:cloud_shadow_percentage\":0,\"s2:vegetation_percentage\":0,\"s2:not_vegetated_percentage\":0,\"s2:water_percentage\":99.451053,\"s2:unclassified_percentage\":0,\"s2:medium_proba_clouds_percentage\":0.45471,\"s2:high_proba_clouds_percentage\":0.094237,\"s2:thin_cirrus_percentage\":0,\"s2:snow_ice_percentage\":0,\"s2:product_type\":\"S2MSI2A\",\"s2:processing_baseline\":\"05.11\",\"s2:product_uri\":\"S2B_MSIL2A_20240809T124259_N0511_R009_T25LBG_20240809T134721.SAFE\",\"s2:generation_time\":\"2024-08-09T13:47:21.000000Z\",\"s2:datatake_id\":\"GS2B_20240809T124259_038788_N05.11\",\"s2:datatake_type\":\"INS-NOBS\",\"s2:datastrip_id\":\"S2B_OPER_MSI_L2A_DS_2BPS_20240809T134721_S20240809T124253_N05.11\",\"s2:reflectance_conversion_factor\":0.972100393289466,\"datetime\":\"2024-08-09T12:45:16.284000Z\",\"earthsearch:payload_id\":\"roda-sentinel-2-c1-l2a/workflow-sentinel-2-c1-l2a-to-stac/a20b8f89507201fc81fc528961680c03\",\"storage:platform\":\"AWS\",\"storage:region\":\"us-west-2\",\"storage:requester_pays\":false,\"processing:software\":{\"sentinel-2-c1-l2a-to-stac\":\"v2024.02.01\"},\"updated\":\"2024-08-09T14:46:03.591Z\"},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-34.94939897845547,-11.752851356201239],[-34.90780659165186,-11.761269806047034],[-34.74589605020584,-11.802572685807466],[-34.745590416346765,-11.754170904698736],[-34.94939897845547,-11.752851356201239]]]},\"links\":[{\"rel\":\"self\",\"type\":\"application/geo+json\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-2-c1-l2a/items/S2B_T25LBG_20240809T124253_L2A\"},{\"rel\":\"canonical\",\"href\":\"s3://e84-earth-search-sentinel-data/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/S2B_T25LBG_20240809T124253_L2A.json\",\"type\":\"application/json\"},{\"rel\":\"via\",\"href\":\"s3://sentinel-s2-l2a/tiles/25/L/BG/2024/8/9/0/metadata.xml\",\"type\":\"application/xml\",\"title\":\"Granule
        Metadata in Sinergize RODA Archive\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-2-c1-l2a\"},{\"rel\":\"collection\",\"type\":\"application/json\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-2-c1-l2a\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://earth-search.aws.element84.com/v1\"},{\"rel\":\"thumbnail\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-2-c1-l2a/items/S2B_T25LBG_20240809T124253_L2A/thumbnail\"}],\"assets\":{\"red\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/B04.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Red - 10m\",\"eo:bands\":[{\"name\":\"B04\",\"common_name\":\"red\",\"center_wavelength\":0.665,\"full_width_half_max\":0.038}],\"gsd\":10,\"proj:shape\":[10980,10980],\"proj:transform\":[10,0,199980,0,-10,8700040],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":10,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"1220863e104ff1aa0ac399791e7e49ec9b71d880d56c454baf451938082d4e5000e2\",\"file:size\":1297953,\"roles\":[\"data\",\"reflectance\"]},\"green\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/B03.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Green - 10m\",\"eo:bands\":[{\"name\":\"B03\",\"common_name\":\"green\",\"center_wavelength\":0.56,\"full_width_half_max\":0.045}],\"gsd\":10,\"proj:shape\":[10980,10980],\"proj:transform\":[10,0,199980,0,-10,8700040],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":10,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"12202b3079479c9299921f58f6bc22b767a8dda019229eefd5696a820c866d44659e\",\"file:size\":1313843,\"roles\":[\"data\",\"reflectance\"]},\"blue\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/B02.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Blue - 10m\",\"eo:bands\":[{\"name\":\"B02\",\"common_name\":\"blue\",\"center_wavelength\":0.49,\"full_width_half_max\":0.098}],\"gsd\":10,\"proj:shape\":[10980,10980],\"proj:transform\":[10,0,199980,0,-10,8700040],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":10,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"1220067d7f03dedbae4c0e65587db316053cdf562f35a497bb56395c4bbe1f423a0b\",\"file:size\":1322501,\"roles\":[\"data\",\"reflectance\"]},\"visual\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/TCI.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"True color image\",\"eo:bands\":[{\"name\":\"B04\",\"common_name\":\"red\",\"center_wavelength\":0.665,\"full_width_half_max\":0.038},{\"name\":\"B03\",\"common_name\":\"green\",\"center_wavelength\":0.56,\"full_width_half_max\":0.045},{\"name\":\"B02\",\"common_name\":\"blue\",\"center_wavelength\":0.49,\"full_width_half_max\":0.098}],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint8\",\"spatial_resolution\":10},{\"nodata\":0,\"data_type\":\"uint8\",\"spatial_resolution\":10},{\"nodata\":0,\"data_type\":\"uint8\",\"spatial_resolution\":10}],\"gsd\":10,\"proj:shape\":[10980,10980],\"proj:transform\":[10,0,199980,0,-10,8700040],\"file:checksum\":\"1220e6d31b29d340d5a889325e3824946e01defd6fd134ccd9f4dcee205d9cbb9027\",\"file:size\":1723918,\"roles\":[\"visual\"]},\"nir\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/B08.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"NIR 1 - 10m\",\"eo:bands\":[{\"name\":\"B08\",\"common_name\":\"nir\",\"center_wavelength\":0.842,\"full_width_half_max\":0.145}],\"gsd\":10,\"proj:shape\":[10980,10980],\"proj:transform\":[10,0,199980,0,-10,8700040],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":10,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"12207719f7e09144c699232984202c69534003a4cdb47e0f27a6db6fdd16b097f363\",\"file:size\":1294520,\"roles\":[\"data\",\"reflectance\"]},\"swir22\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/B12.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"SWIR 2.2\u03BCm
        - 20m\",\"eo:bands\":[{\"name\":\"B12\",\"common_name\":\"swir22\",\"center_wavelength\":2.19,\"full_width_half_max\":0.242}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,199980,0,-20,8700040],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"1220b3c5a51e6dfda53f02fc995ce2177f5be986e8f7494b10281766ba4f9d4afc52\",\"file:size\":304300,\"roles\":[\"data\",\"reflectance\"]},\"rededge2\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/B06.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Red Edge 2 - 20m\",\"eo:bands\":[{\"name\":\"B06\",\"common_name\":\"rededge\",\"center_wavelength\":0.74,\"full_width_half_max\":0.018}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,199980,0,-20,8700040],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"1220505ea7a81a911afeafdd5ef1e07f4898f309210aa17c2015513db9d17da7b75b\",\"file:size\":326126,\"roles\":[\"data\",\"reflectance\"]},\"rededge3\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/B07.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Red Edge 3 - 20m\",\"eo:bands\":[{\"name\":\"B07\",\"common_name\":\"rededge\",\"center_wavelength\":0.783,\"full_width_half_max\":0.028}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,199980,0,-20,8700040],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"1220b70a4b1c57c301637d052023b472d49489e3640bfd03e74ee09b271cf89bf538\",\"file:size\":328428,\"roles\":[\"data\",\"reflectance\"]},\"rededge1\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/B05.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Red Edge 1 - 20m\",\"eo:bands\":[{\"name\":\"B05\",\"common_name\":\"rededge\",\"center_wavelength\":0.704,\"full_width_half_max\":0.019}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,199980,0,-20,8700040],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"12203cc4f3a4185c6d011b4457a84ee1f7a9f7f5f87d4061492420b0ffc773932347\",\"file:size\":326286,\"roles\":[\"data\",\"reflectance\"]},\"swir16\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/B11.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"SWIR 1.6\u03BCm
        - 20m\",\"eo:bands\":[{\"name\":\"B11\",\"common_name\":\"swir16\",\"center_wavelength\":1.61,\"full_width_half_max\":0.143}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,199980,0,-20,8700040],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"122096b063b77f80bfc3e4fe3507cb31c0c95e96f8ca7f976ceb89229c42c17e25dc\",\"file:size\":307920,\"roles\":[\"data\",\"reflectance\"]},\"wvp\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/WVP.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Water Vapour (WVP)\",\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,199980,0,-20,8700040],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"unit\":\"cm\",\"scale\":0.001,\"offset\":0}],\"file:checksum\":\"122003ba6a34785f84a821edd4aec03775084ad34e647bd1aca36c40f291936d57db\",\"file:size\":95845,\"roles\":[\"data\"]},\"nir08\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/B8A.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"NIR 2 - 20m\",\"eo:bands\":[{\"name\":\"B8A\",\"common_name\":\"nir08\",\"center_wavelength\":0.865,\"full_width_half_max\":0.033}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,199980,0,-20,8700040],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"1220190baa543df19a6601ede83138c877ee0098081ea09582d9a07e486529f14d21\",\"file:size\":327084,\"roles\":[\"data\",\"reflectance\"]},\"scl\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/SCL.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Scene classification
        map (SCL)\",\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,199980,0,-20,8700040],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint8\",\"spatial_resolution\":20}],\"file:checksum\":\"122026398745d1713df75e85acc2cc0cf1d4b8e781a66889358667e27e0f71e77eec\",\"file:size\":56202,\"roles\":[\"data\"]},\"aot\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/AOT.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Aerosol optical
        thickness (AOT)\",\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,199980,0,-20,8700040],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.001,\"offset\":0}],\"file:checksum\":\"122041ee62d45b7f8aefe696bd9c35cc1b88b1bef4c28750ec1285d672ef2456c459\",\"file:size\":97783,\"roles\":[\"data\"]},\"coastal\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/B01.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Coastal - 60m\",\"eo:bands\":[{\"name\":\"B01\",\"common_name\":\"coastal\",\"center_wavelength\":0.443,\"full_width_half_max\":0.027}],\"gsd\":60,\"proj:shape\":[1830,1830],\"proj:transform\":[60,0,199980,0,-60,8700040],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":60,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"12208e9bba7fe7fc340260b93b1a049dd16b1ac185bb07e9e8607fa5943dd11d7484\",\"file:size\":41817,\"roles\":[\"data\",\"reflectance\"]},\"nir09\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/B09.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"NIR 3 - 60m\",\"eo:bands\":[{\"name\":\"B09\",\"common_name\":\"nir09\",\"center_wavelength\":0.945,\"full_width_half_max\":0.026}],\"gsd\":60,\"proj:shape\":[1830,1830],\"proj:transform\":[60,0,199980,0,-60,8700040],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":60,\"scale\":0.0001,\"offset\":-0.1}],\"file:checksum\":\"122076fd6999f60a68fa141649aeab1089e1f95548c15c00f56389426989d3755091\",\"file:size\":34667,\"roles\":[\"data\",\"reflectance\"]},\"cloud\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/CLD_20m.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Cloud Probabilities\",\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,199980,0,-20,8700040],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint8\",\"spatial_resolution\":20}],\"file:checksum\":\"122035f83655a902ecb39a0e5396fce151e61d0873f231cc2b67a90ceaa75b8b69c9\",\"file:size\":55729,\"roles\":[\"data\",\"cloud\"]},\"snow\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/SNW_20m.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"Snow Probabilities\",\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,199980,0,-20,8700040],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint8\",\"spatial_resolution\":20}],\"file:checksum\":\"12209a245f5e5698d62982313531ea612d418b48b69db2d9d35783a68942cb048e89\",\"file:size\":53931,\"roles\":[\"data\",\"snow-ice\"]},\"preview\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/L2A_PVI.tif\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"True color preview\",\"eo:bands\":[{\"name\":\"B04\",\"common_name\":\"red\",\"center_wavelength\":0.665,\"full_width_half_max\":0.038},{\"name\":\"B03\",\"common_name\":\"green\",\"center_wavelength\":0.56,\"full_width_half_max\":0.045},{\"name\":\"B02\",\"common_name\":\"blue\",\"center_wavelength\":0.49,\"full_width_half_max\":0.098}],\"file:checksum\":\"12202c06c1318656515231e3cdbfbccb2c188afd7cf167c9b606a1c533653a899ab8\",\"file:size\":5988,\"roles\":[\"overview\"]},\"granule_metadata\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/metadata.xml\",\"type\":\"application/xml\",\"file:checksum\":\"12202178e48f6281514462a2dee206b03e19635d11756a768783381432b6cb74227c\",\"file:size\":178686,\"roles\":[\"metadata\"]},\"tileinfo_metadata\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/tileInfo.json\",\"type\":\"application/json\",\"file:checksum\":\"1220b6e3ca4f3a19cd53d5b12da96334cf8aaf6d2f9a89be5df5bc2b21fd64609da8\",\"file:size\":1570,\"roles\":[\"metadata\"]},\"product_metadata\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/product_metadata.xml\",\"type\":\"application/xml\",\"file:checksum\":\"1220b88468110cb32bb990e0eebfec25c3fdff7b5bc589905b5a1ae3c04813ceadaf\",\"file:size\":54676,\"roles\":[\"metadata\"]},\"thumbnail\":{\"href\":\"https://e84-earth-search-sentinel-data.s3.us-west-2.amazonaws.com/sentinel-2-c1-l2a/25/L/BG/2024/8/S2B_T25LBG_20240809T124253_L2A/L2A_PVI.jpg\",\"type\":\"image/jpeg\",\"title\":\"Thumbnail
        of preview image\",\"file:checksum\":\"1220ced4272b67aaa92e42cfce63a963aa95932190560bee5887db2d4be021b82b4c\",\"file:size\":2697,\"roles\":[\"thumbnail\"]}},\"bbox\":[-34.949399,-11.802573,-34.74559,-11.752851],\"stac_extensions\":[\"https://stac-extensions.github.io/eo/v1.1.0/schema.json\",\"https://stac-extensions.github.io/file/v2.1.0/schema.json\",\"https://stac-extensions.github.io/grid/v1.1.0/schema.json\",\"https://stac-extensions.github.io/mgrs/v1.0.0/schema.json\",\"https://stac-extensions.github.io/processing/v1.1.0/schema.json\",\"https://stac-extensions.github.io/projection/v1.1.0/schema.json\",\"https://stac-extensions.github.io/raster/v1.1.0/schema.json\",\"https://stac-extensions.github.io/sentinel-2/v1.0.0/schema.json\",\"https://stac-extensions.github.io/storage/v1.0.0/schema.json\",\"https://stac-extensions.github.io/view/v1.0.0/schema.json\"],\"collection\":\"sentinel-2-c1-l2a\"},{\"type\":\"Feature\",\"stac_version\":\"1.0.0\",\"id\":\"S2B_25LBG_20240809_0_L2A\",\"properties\":{\"created\":\"2024-08-09T14:45:33.578Z\",\"platform\":\"sentinel-2b\",\"constellation\":\"sentinel-2\",\"instruments\":[\"msi\"],\"eo:cloud_cover\":0.548947,\"proj:epsg\":32725,\"mgrs:utm_zone\":25,\"mgrs:latitude_band\":\"L\",\"mgrs:grid_square\":\"BG\",\"grid:code\":\"MGRS-25LBG\",\"view:sun_azimuth\":42.5382791576093,\"view:sun_elevation\":52.5743732723472,\"s2:degraded_[...]
- request:
    body: '{"next": "2024-08-09T12:44:45.929000Z,S2B_T25LDJ_20240809T124253_L2A,sentinel-2-c1-l2a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"stac_version\":\"1.0.0\",\"stac_extensions\":[],\"context\":{\"limit\":10,\"matched\":96445656,\"returned\":10},\"numberMatched\":96445656,\"numberReturned\":10,\"features\":[{\"type\":\"Feature\",\"stac_version\":[...]
