interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","https://api.stacspec.org/v1.0.0/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","https://api.stacspec.org/v1.0.0/item-search#fields","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/ogcapi-features","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2"],"links":[{"rel":"self","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"data","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections"},{"rel":"conformance","type":"application/json","title":"STAC/OGC
        conformance classes implemented by this server","href":"https://planetarycomputer.microsoft.com/api/stac/v1/conformance"},{"rel":"search","type":"applicat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.openg[...]
- request:
    body: '{"collections": ["landsat-8-c2-l2"], "intersects": {"type": "Polygon",
      "coordinates": [[[6.42425537109375, 53.174765470134616], [7.344360351562499,
      53.174765470134616], [7.344360351562499, 53.67393435835391], [6.42425537109375,
      53.67393435835391], [6.42425537109375, 53.174765470134616]]]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"LC08_L2SP_197023_20220324_02_T1","type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-8-c2-l2"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-8-c2-l2"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-8-c2-l2/items/LC08_L2SP_197023_20220324_02_T1"},{"rel":"alternate","href":"https://landsatlook.usgs.gov/stac-browser/collection02/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_02_T1","type":"text/html","title":"USGS
        stac-browser page"}],"assets":{"ANG":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_ANG.txt","type":"text/plain","title":"Angle
        Coefficients File","description":"Collection 2 Level-1 Angle Coefficients
        File (ANG)"},"SR_B1":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_SR_B1.TIF","proj:shape":[8151,8061],"proj:transform":[30.0,0.0,263085.0,0.0,-30.0,6006915.0],"gsd":30.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Coastal/Aerosol Band
        (B1)","eo:bands":[{"gsd":30,"name":"SR_B1","common_name":"coastal","center_wavelength":0.44,"full_width_half_max":0.02}],"description":"Collection
        2 Level-2 Coastal/Aerosol Band (B1) Surface Reflectance"},"SR_B2":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_SR_B2.TIF","proj:shape":[8151,8061],"proj:transform":[30.0,0.0,263085.0,0.0,-30.0,6006915.0],"gsd":30.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Blue Band (B2)","eo:bands":[{"gsd":30,"name":"SR_B2","common_name":"blue","center_wavelength":0.48,"full_width_half_max":0.06}],"description":"Collection
        2 Level-2 Blue Band (B2) Surface Reflectance"},"SR_B3":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_SR_B3.TIF","proj:shape":[8151,8061],"proj:transform":[30.0,0.0,263085.0,0.0,-30.0,6006915.0],"gsd":30.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Green Band (B3)","eo:bands":[{"gsd":30,"name":"SR_B3","common_name":"green","center_wavelength":0.56,"full_width_half_max":0.06}],"description":"Collection
        2 Level-2 Green Band (B3) Surface Reflectance"},"SR_B4":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_SR_B4.TIF","proj:shape":[8151,8061],"proj:transform":[30.0,0.0,263085.0,0.0,-30.0,6006915.0],"gsd":30.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Red Band (B4)","eo:bands":[{"gsd":30,"name":"SR_B4","common_name":"red","center_wavelength":0.65,"full_width_half_max":0.04}],"description":"Collection
        2 Level-2 Red Band (B4) Surface Reflectance"},"SR_B5":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_SR_B5.TIF","proj:shape":[8151,8061],"proj:transform":[30.0,0.0,263085.0,0.0,-30.0,6006915.0],"gsd":30.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Near Infrared Band
        0.8 (B5)","eo:bands":[{"gsd":30,"name":"SR_B5","common_name":"nir08","center_wavelength":0.86,"full_width_half_max":0.03}],"description":"Collection
        2 Level-2 Near Infrared Band 0.8 (B5) Surface Reflectance"},"SR_B6":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_SR_B6.TIF","proj:shape":[8151,8061],"proj:transform":[30.0,0.0,263085.0,0.0,-30.0,6006915.0],"gsd":30.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Short-wave Infrared
        Band 1.6 (B6)","eo:bands":[{"gsd":30,"name":"SR_B6","common_name":"swir16","center_wavelength":1.6,"full_width_half_max":0.08}],"description":"Collection
        2 Level-2 Short-wave Infrared Band 1.6 (B6) Surface Reflectance"},"SR_B7":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_SR_B7.TIF","proj:shape":[8151,8061],"proj:transform":[30.0,0.0,263085.0,0.0,-30.0,6006915.0],"gsd":30.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Short-wave Infrared
        Band 2.2 (B7)","eo:bands":[{"gsd":30,"name":"SR_B7","common_name":"swir22","center_wavelength":2.2,"full_width_half_max":0.2}],"description":"Collection
        2 Level-2 Short-wave Infrared Band 2.2 (B7) Surface Reflectance"},"ST_QA":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_ST_QA.TIF","proj:shape":[8151,8061],"proj:transform":[30.0,0.0,263085.0,0.0,-30.0,6006915.0],"gsd":30.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Surface Temperature
        Quality Assessment Band","description":"Landsat Collection 2 Level-2 Surface
        Temperature Band Surface Temperature Product"},"ST_B10":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_ST_B10.TIF","proj:shape":[8151,8061],"proj:transform":[30.0,0.0,263085.0,0.0,-30.0,6006915.0],"gsd":100.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Surface Temperature
        Band (B10)","eo:bands":[{"gsd":100.0,"name":"ST_B10","common_name":"lwir11","center_wavelength":10.9,"full_width_half_max":0.8}],"description":"Landsat
        Collection 2 Level-2 Surface Temperature Band (B10) Surface Temperature Product"},"MTL.txt":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_MTL.txt","type":"text/plain","title":"Product
        Metadata File","description":"Collection 2 Level-1 Product Metadata File (MTL)"},"MTL.xml":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_MTL.xml","type":"application/xml","title":"Product
        Metadata File (xml)","description":"Collection 2 Level-1 Product Metadata
        File (xml)"},"ST_DRAD":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_ST_DRAD.TIF","proj:shape":[8151,8061],"proj:transform":[30.0,0.0,263085.0,0.0,-30.0,6006915.0],"gsd":30.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Downwelled Radiance
        Band","eo:bands":[{"gsd":30,"name":"ST_DRAD","description":"downwelled radiance"}],"description":"Landsat
        Collection 2 Level-2 Downwelled Radiance Band Surface Temperature Product"},"ST_EMIS":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_ST_EMIS.TIF","proj:shape":[8151,8061],"proj:transform":[30.0,0.0,263085.0,0.0,-30.0,6006915.0],"gsd":30.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Emissivity Band","eo:bands":[{"gsd":30,"name":"ST_EMIS","description":"emissivity"}],"description":"Landsat
        Collection 2 Level-2 Emissivity Band Surface Temperature Product"},"ST_EMSD":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_ST_EMSD.TIF","proj:shape":[8151,8061],"proj:transform":[30.0,0.0,263085.0,0.0,-30.0,6006915.0],"gsd":30.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Emissivity Standard
        Deviation Band","eo:bands":[{"gsd":30,"name":"ST_EMSD","description":"emissivity
        standard deviation"}],"description":"Landsat Collection 2 Level-2 Emissivity
        Standard Deviation Band Surface Temperature Product"},"ST_TRAD":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_ST_TRAD.TIF","proj:shape":[8151,8061],"proj:transform":[30.0,0.0,263085.0,0.0,-30.0,6006915.0],"gsd":30.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Thermal Radiance Band","eo:bands":[{"gsd":30,"name":"ST_TRAD","description":"thermal
        radiance"}],"description":"Landsat Collection 2 Level-2 Thermal Radiance Band
        Surface Temperature Product"},"ST_URAD":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_ST_URAD.TIF","proj:shape":[8151,8061],"proj:transform":[30.0,0.0,263085.0,0.0,-30.0,6006915.0],"gsd":30.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Upwelled Radiance Band","eo:bands":[{"gsd":30,"name":"ST_URAD","description":"upwelled
        radiance"}],"description":"Landsat Collection 2 Level-2 Upwelled Radiance
        Band Surface Temperature Product"},"MTL.json":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_MTL.json","type":"application/json","title":"Product
        Metadata File (json)","description":"Collection 2 Level-1 Product Metadata
        File (json)"},"QA_PIXEL":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_QA_PIXEL.TIF","proj:shape":[8151,8061],"proj:transform":[30.0,0.0,263085.0,0.0,-30.0,6006915.0],"gsd":30.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Pixel Quality Assessment
        Band","description":"Collection 2 Level-1 Pixel Quality Assessment Band"},"ST_ATRAN":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_ST_ATRAN.TIF","proj:shape":[8151,8061],"proj:transform":[30.0,0.0,263085.0,0.0,-30.0,6006915.0],"gsd":30.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Atmospheric Transmittance
        Band","eo:bands":[{"gsd":30,"name":"ST_ATRAN","description":"atmospheric transmission"}],"description":"Landsat
        Collection 2 Level-2 Atmospheric Transmittance Band Surface Temperature Product"},"ST_CDIST":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_ST_CDIST.TIF","proj:shape":[8151,8061],"proj:transform":[30.0,0.0,263085.0,0.0,-30.0,6006915.0],"gsd":30.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Cloud Distance Band","eo:bands":[{"gsd":30,"name":"ST_CDIST","description":"distance
        to nearest cloud"}],"description":"Landsat Collection 2 Level-2 Cloud Distance
        Band Surface Temperature Product"},"QA_RADSAT":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_QA_RADSAT.TIF","proj:shape":[8151,8061],"proj:transform":[30.0,0.0,263085.0,0.0,-30.0,6006915.0],"gsd":30.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Radiometric Saturation
        Quality Assessment Band","description":"Collection 2 Level-1 Radiometric Saturation
        Quality Assessment Band"},"thumbnail":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_thumb_small.jpeg","type":"image/jpeg","title":"Thumbnail
        image"},"SR_QA_AEROSOL":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_SR_QA_AEROSOL.TIF","proj:shape":[8151,8061],"proj:transform":[30.0,0.0,263085.0,0.0,-30.0,6006915.0],"gsd":30.0,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Aerosol Quality Analysis
        Band","description":"Collection 2 Level-2 Aerosol Quality Analysis Band (ANG)
        Surface Reflectance"},"reduced_resolution_browse":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2022/197/023/LC08_L2SP_197023_20220324_20220330_02_T1/LC08_L2SP_197023_20220324_20220330_02_T1_thumb_large.jpeg","type":"image/jpeg","title":"Reduced
        resolution browse image"}},"geometry":{"type":"Polygon","coordinates":[[[6.2661024,54.2077659],[9.0724345,53.6855485],[8.1759883,51.9629194],[5.3740822,52.4936092],[6.2661024,54.2077659]]]},"collection":"landsat-8-c2-l2","properties":{"datetime":"2022-03-24T10:27:05.856308Z","platform":"landsat-8","proj:bbox":[263085.0,5762385.0,504915.0,6006915.0],"proj:epsg":32632,"description":"Landsat
        Collection 2 Level-2 Surface Reflectance Product","instruments":["oli","tirs"],"eo:cloud_cover":0.99,"view:off_nadir":0,"landsat:wrs_row":"023","landsat:scene_id":"LC81970232022083LGN00","landsat:wrs_path":"197","landsat:wrs_type":"2","view:sun_azimuth":158.04122582,"view:sun_elevation":36.37993604,"landsat:cloud_cover_land":0.59,"landsat:processing_level":"L2SP","landsat:collection_number":"02","landsat:collection_category":"T1"},"stac_extensions":["https://stac-extensions.github.io/eo/v1.0.0/schema.json","https://stac-extensions.github.io/view/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.0.0/schema.json","https://landsat.usgs.gov/stac/landsat-extension/v1.1.0/schema.json"],"stac_version":"1.0.0"},{"id":"LC08_L2SP_197022_20220324_02_T1","type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-8-c2-l2"},{"rel":"parent","ty[...]
