interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1/collections
  response:
    body:
      string: '{"collections":[{"id":"cop-dem-glo-30","type":"Collection","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30"},{"rel":"license","href":"https://spacedata.copernicus.eu/documents/20126/0/CSCDA_ESA_Mission-specific+Annex.pdf","title":"Copernicus
        DEM License"},{"rel":"parent","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"items","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30/items"},{"rel":"http://www.opengis.net/def/rel/ogc/1.0/queryables","type":"application/schema+json","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30/queryables"},{"rel":"aggregate","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30/aggregate","method":"GET"},{"rel":"aggregations","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30/aggregations"}],"title":"Copernicus
        DEM GLO-30","extent":{"spatial":{"bbox":[[-180,-90,180,90]]},"temporal":{"interval":[["2021-04-22T00:00:00Z","2021-04-22T00:00:00Z"]]}},"license":"proprietary","keywords":["Copernicus","DEM","DSM","Elevation"],"providers":[{"url":"https://spacedata.copernicus.eu/documents/20123/121286/CSCDA_ESA_Mission-specific+Annex_31_Oct_22.pdf","name":"European
        Space Agency","roles":["licensor"]},{"url":"https://registry.opendata.aws/copernicus-dem/","name":"Sinergise","roles":["producer","processor"]},{"url":"https://doi.org/10.5069/G9028PQB","name":"OpenTopography","roles":["host"]},{"name":"AWS","roles":["host"],"url":"https://registry.opendata.aws/sentinel-1"},{"name":"Element
        84","roles":["processor"],"url":"https://element84.com"}],"summaries":{"gsd":[30],"platform":["tandem-x"],"proj:epsg":[4326],"storage:platform":["AWS"],"storage:region":["eu-central-1"],"storage:requester_pays":[false]},"description":"The
        Copernicus DEM is a Digital Surface Model (DSM) which represents the surface
        of the Earth including buildings, infrastructure and vegetation. GLO-30 Public
        provides limited worldwide coverage at 30 meters because a small subset of
        tiles covering specific countries are not yet released to the public by the
        Copernicus Programme.","item_assets":{"data":{"type":"image/tiff; application=geotiff;
        profile=cloud-optimized","roles":["data"],"title":"Data","raster:bands":[{"sampling":"point","data_type":"float32","spatial_resolution":30,"unit":"meter"}]}},"stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/item-assets/v1.0.0/schema.json"]},{"id":"naip","type":"Collection","description":"The
        [National Agriculture Imagery Program](https://www.fsa.usda.gov/programs-and-services/aerial-photography/imagery-programs/naip-imagery/)
        (NAIP) provides U.S.-wide, high-resolution aerial imagery, with four spectral
        bands (R, G, B, IR).  NAIP is administered by the [Aerial Field Photography
        Office](https://www.fsa.usda.gov/programs-and-services/[...]
