interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: '{"collections": ["cop-dem-glo-30"], "limit": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":1,"matched":26450,"returned":1},"numberMatched":26450,"numberReturned":1,"features":[{"type":"Feature","stac_version":"1.0.0","id":"Copernicus_DSM_COG_10_S90_00_W180_00_DEM","properties":{"platform":"tandem-x","gsd":30,"proj:epsg":4326,"proj:transform":[0.002777777777777778,0,-180.0013888888889,0,-0.0002777777777777778,-88.99986111111112],"proj:shape":[3600,360],"proj:centroid":{"lat":-89.5,"lon":-179.5},"grid:code":"CDEM-S90W180","storage:platform":"AWS","storage:region":"eu-central-1","storage:requester_pays":false,"earthsearch:payload_id":"cop-dem-glo/workflow-cop-dem-glo-to-stac/c535d071376a7c60ed297e65c490d41a","datetime":"2021-04-22T00:00:00Z","processing:software":{"cop-dem-glo-to-stac":"2023.03.28"},"created":"2023-03-28T15:22:58.882Z","updated":"2023-04-20T18:14:07.025Z"},"geometry":{"type":"Polygon","coordinates":[[[-179.0013888888889,-89.99986111111112],[-179.0013888888889,-88.99986111111112],[-180.0013888888889,-88.99986111111112],[-180.0013888888889,-89.99986111111112],[-179.0013888888889,-89.99986111111112]]]},"links":[{"rel":"self","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30/items/Copernicus_DSM_COG_10_S90_00_W180_00_DEM"},{"rel":"canonical","href":"s3://earthsearch-data/cop-dem-glo-30/Copernicus_DSM_COG_10_S90_00_W180_00_DEM/Copernicus_DSM_COG_10_S90_00_W180_00_DEM.json","type":"application/json"},{"rel":"handbook","href":"https://object.cloud.sdsc.edu/v1/AUTH_opentopography/www/metadata/Copernicus_metadata.pdf","type":"application/pdf","title":"Copernicus
        DEM User handbook","description":"Also includes data usage information"},{"rel":"parent","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30"},{"rel":"collection","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"thumbnail","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30/items/Copernicus_DSM_COG_10_S90_00_W180_00_DEM/thumbnail"}],"assets":{"data":{"href":"s3://copernicus-dem-30m/Copernicus_DSM_COG_10_S90_00_W180_00_DEM/Copernicus_DSM_COG_10_S90_00_W180_00_DEM.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Data","raster:bands":[{"sampling":"point","data_type":"float32","spatial_resolution":30,"unit":"meter"}],"roles":["data"]}},"bbox":[-180.0013888888889,-89.99986111111112,-179.0013888888889,-88.99986111111112],"stac_extensions":["https://stac-extensions.github.io/storage/v1.0.0/schema.json","https://stac-extensions.github.io/processing/v1.1.0/schema.json","https://stac-extensions.github.io/raster/v1.1.0/schema.json","https://stac-extensions.github.io/grid/v1.1.0/schema.json","https://stac-extensions.github.io/projection/v1.1.0/schema.json"],"collection":"cop-dem-glo-30"}],"links":[{"rel":"next","title":"Next
        page of Items","method":"POST","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","merge":false,"body":{"collections":["cop-dem-glo-30"],"limit":1,"next":"2021-04-22T00:00:00Z,Copernicus_DSM_COG_10_S90_00_W180_00_DEM,cop-dem-glo-30"}},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"}]}'
    headers:
      Content-Type:
      - application/geo+json; charset=utf-8
      etag:
      - W/"d52-kZRavcSAvRPx0vigsOjB/Kx7RWY"
      x-amz-apigw-id:
      - OMU35F1qvHcEYig=
      x-amzn-Remapped-content-length:
      - '3410'
      x-amzn-RequestId:
      - b658afd3-07d5-48a9-aa7e-ee75c879f733
    status:
      code: 200
      message: OK
version: 1
