interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: '{"filter": {"op": "lte", "args": [{"property": "eo:cloud_cover"}, 40]},
      "filter-lang": "cql2-json"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"stac_version\":\"1.0.0\",\"stac_extensions\":[],\"context\":{\"limit\":10,\"matched\":115240404,\"returned\":10},\"numberMatched\":115240404,\"numberReturned\":10,\"features\":[{\"type\":\"Feature\",\"stac_version\":\"1.0.0\",\"id\":\"S1C_EW_GRDM_1SSH_20250717T113918_20250717T114012_003259_00694E\",\"properties\":{\"sar:frequency_band\":\"C\",\"sar:center_frequency\":5.405,\"sar:observation_direction\":\"right\",\"sar:instrument_mode\":\"EW\",\"sar:polarizations\":[\"HH\"],\"sar:product_type\":\"GRD\",\"sar:resolution_range\":93,\"sar:resolution_azimuth\":87,\"sar:pixel_spacing_range\":40,\"sar:pixel_spacing_azimuth\":40,\"sar:looks_range\":6,\"sar:looks_azimuth\":2,\"sar:looks_equivalent_number\":10.7,\"sat:platform_international_designator\":\"2024-235A\",\"sat:orbit_state\":\"ascending\",\"sat:absolute_orbit\":3259,\"sat:relative_orbit\":113,\"proj:epsg\":4326,\"proj:bbox\":[114.467918,-64.427773,124.722733,-59.791134],\"proj:shape\":[10450,9036],\"proj:transform\":[0.0011348843514829578,0,114.467918,0,-0.0004436975119617227,-59.791134],\"proj:centroid\":{\"lat\":-62.09164,\"lon\":119.47984},\"platform\":\"sentinel-1c\",\"constellation\":\"sentinel-1\",\"start_datetime\":\"2025-07-17T11:39:18.861689Z\",\"end_datetime\":\"2025-07-17T11:40:12.347528Z\",\"s1:instrument_configuration_ID\":\"5\",\"s1:datatake_id\":\"26958\",\"s1:product_timeliness\":\"Fast-24h\",\"s1:processing_level\":\"1\",\"s1:resolution\":\"medium\",\"s1:orbit_source\":\"RESORB\",\"s1:slice_number\":\"2\",\"s1:total_slices\":\"2\",\"s1:shape\":[10450,9036],\"s1:product_identifier\":\"S1C_EW_GRDM_1SSH_20250717T113918_20250717T114012_003259_00694E_32F5\",\"s1:processing_datetime\":\"2025-07-17T12:31:39.000000Z\",\"storage:platform\":\"AWS\",\"storage:region\":\"eu-central-1\",\"storage:requester_pays\":true,\"datetime\":\"2025-07-17T11:39:45.604609Z\",\"processing:software\":{\"sentinel1-to-stac\":\"2025.05.13\"},\"created\":\"2025-07-17T12:42:20.044Z\",\"updated\":\"2025-07-17T12:42:20.044Z\"},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[117.3590313,-64.4190946],[121.0864923,-63.5974738],[124.6790868,-62.6569576],[121.2710464,-59.8123396],[114.5924939,-61.5647165],[116.1434584,-63.242562],[117.3590313,-64.4190946]]]},\"links\":[{\"rel\":\"self\",\"type\":\"application/geo+json\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-1-grd/items/S1C_EW_GRDM_1SSH_20250717T113918_20250717T114012_003259_00694E\"},{\"rel\":\"canonical\",\"href\":\"s3://earthsearch-data/sentinel-1-grd/2025/7/17/EW/S1C_EW_GRDM_1SSH_20250717T113918_20250717T114012_003259_00694E/S1C_EW_GRDM_1SSH_20250717T113918_20250717T114012_003259_00694E.json\",\"type\":\"application/json\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-1-grd\"},{\"rel\":\"collection\",\"type\":\"application/json\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-1-grd\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://earth-search.aws.element84.com/v1\"},{\"rel\":\"thumbnail\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-1-grd/items/S1C_EW_GRDM_1SSH_20250717T113918_20250717T114012_003259_00694E/thumbnail\"}],\"assets\":{\"safe-manifest\":{\"href\":\"s3://sentinel-s1-l1c/GRD/2025/7/17/EW/SH/S1C_EW_GRDM_1SSH_20250717T113918_20250717T114012_003259_00694E_32F5/manifest.safe\",\"type\":\"application/xml\",\"title\":\"Manifest
        File\",\"description\":\"General product metadata in XML format. Contains
        a high-level textual description of the product and references to all of product's
        components, the product metadata, including the product identification and
        the resource references, and references to the physical location of each component
        file contained in the product.\",\"roles\":[\"metadata\"]},\"schema-product-hh\":{\"href\":\"s3://sentinel-s1-l1c/GRD/2025/7/17/EW/SH/S1C_EW_GRDM_1SSH_20250717T113918_20250717T114012_003259_00694E_32F5/annotation/rfi/rfi-ew-hh.xml\",\"type\":\"application/xml\",\"title\":\"HH
        Product Schema\",\"description\":\"Describes the main characteristics corresponding
        to the band: state of the platform during acquisition, image properties, Doppler
        information, geographic location, etc.\",\"roles\":[\"metadata\"]},\"schema-calibration-hh\":{\"href\":\"s3://sentinel-s1-l1c/GRD/2025/7/17/EW/SH/S1C_EW_GRDM_1SSH_20250717T113918_20250717T114012_003259_00694E_32F5/annotation/calibration/calibration-ew-hh.xml\",\"type\":\"application/xml\",\"title\":\"HH
        Calibration Schema\",\"description\":\"Calibration metadata including calibration
        information and the beta nought, sigma nought, gamma and digital number look-up
        tables that can be used for absolute product calibration.\",\"roles\":[\"metadata\"]},\"schema-noise-hh\":{\"href\":\"s3://sentinel-s1-l1c/GRD/2025/7/17/EW/SH/S1C_EW_GRDM_1SSH_20250717T113918_20250717T114012_003259_00694E_32F5/annotation/calibration/noise-ew-hh.xml\",\"type\":\"application/xml\",\"title\":\"HH
        Noise Schema\",\"description\":\"Estimated thermal noise look-up tables\",\"roles\":[\"metadata\"]},\"thumbnail\":{\"href\":\"s3://sentinel-s1-l1c/GRD/2025/7/17/EW/SH/S1C_EW_GRDM_1SSH_20250717T113918_20250717T114012_003259_00694E_32F5/preview/quick-look.png\",\"type\":\"image/png\",\"title\":\"Preview
        Image\",\"description\":\"An averaged, decimated preview image in PNG format.
        Single polarization products are represented with a grey scale image. Dual
        polarization products are represented by a single composite colour image in
        RGB with the red channel (R) representing the  co-polarization VV or HH),
        the green channel (G) represents the cross-polarization (VH or HV) and the
        blue channel (B) represents the ratio of the cross an co-polarizations.\",\"roles\":[\"thumbnail\"]},\"hh\":{\"href\":\"s3://sentinel-s1-l1c/GRD/2025/7/17/EW/SH/S1C_EW_GRDM_1SSH_20250717T113918_20250717T114012_003259_00694E_32F5/measurement/ew-hh.tiff\",\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"title\":\"HH Data\",\"description\":\"Actual
        SAR data that have been processed into an image\",\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\"}],\"roles\":[\"data\"]}},\"bbox\":[114.5924939,-64.4190946,124.6790868,-59.8123396],\"stac_extensions\":[\"https://stac-extensions.github.io/storage/v1.0.0/schema.json\",\"https://stac-extensions.github.io/processing/v1.1.0/schema.json\",\"https://stac-extensions.github.io/raster/v1.1.0/schema.json\",\"https://stac-extensions.github.io/sar/v1.0.0/schema.json\",\"https://stac-extensions.github.io/projection/v1.1.0/schema.json\",\"https://stac-extensions.github.io/sat/v1.0.0/schema.json\"],\"collection\":\"sentinel-1-grd\"},{\"type\":\"Feature\",\"stac_version\":\"1.0.0\",\"id\":\"S1A_IW_GRDH_1SDH_20250717T113922_20250717T113952_060123_077867\",\"properties\":{\"sar:frequency_band\":\"C\",\"sar:center_frequency\":5.405,\"sar:observation_direction\":\"right\",\"sar:instrument_mode\":\"IW\",\"sar:polarizations\":[\"HH\",\"HV\"],\"sar:product_type\":\"GRD\",\"sar:resolution_range\":20,\"sar:resolution_azimuth\":22,\"sar:pixel_spacing_range\":10,\"sar:pixel_spacing_azimuth\":10,\"sar:looks_range\":5[...]
- request:
    body: '{"next": "2025-07-17T11:24:34.857000Z,S2B_32VKL_20250717_0_L2A,sentinel-2-l2a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"stac_version\":\"1.0.0\",\"stac_extensions\":[],\"context\":{\"limit\":10,\"matched\":115240405,\"returned\":10},\"numberMatched\":115240405,\"numberReturned\":10,\"features\":[{\"type\":\"Feature\",\"stac_version\":\"1.0.0\",\"stac_extensions\":[\"https://stac-extensions.github.io/raster/v1.1.0/schema.json\",\"https://stac-extensions.github.io/eo/v1.1.0/schema.json\",\"https://stac-extensions.github.io/projection/v1.1.0/schema.json\",\"https://stac-extensions.github.io/view/v1.0.0/schema.json\",\"https://stac-extensions.github.io/sentinel-2/v1.0.0/schema.json\",\"https://stac-extensions.github.io/mgrs/v1.0.0/schema.json\",\"https://stac-extensions.github.io/processing/v1.1.0/schema.json\",\"https://stac-extensions.github.io/grid/v1.1.0/schema.json\"],\"id\":\"S2B_32VKL_20250717_0_L1C\",\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[3.7080564855974103,59.43109732998165],[3.7260482578760445,59.31570302641626],[3.817529817454556,59.43549885945435],[3.7080564855974103,59.43109732998165]]]},\"bbox\":[3.708056,59.315703,3.81753,59.435499],\"properties\":{\"created\":\"2025-07-17T12:44:21.183Z\",\"platform\":\"sentinel-2b\",\"constellation\":\"sentinel-2\",\"instruments\":[\"msi\"],\"eo:cloud_cover\":98.5441075120606,\"proj:epsg\":32632,\"proj:centroid\":{\"lat\":59.3941,\"lon\":3.75054},\"mgrs:utm_zone\":32,\"mgrs:latitude_band\":\"V\",\"mgrs:grid_square\":\"KL\",\"grid:code\":\"MGRS-32VKL\",\"view:azimuth\":297.9578145890109,\"view:incidence_angle\":11.617152483068454,\"view:sun_azimuth\":171.450264156544,\"view:sun_elevation\":51.9101661210558,\"s2:tile_id\":\"S2B_OPER_MSI_L1C_TL_2BPS_20250717T120258_A043678_T32VKL_N05.11\",\"s2:degraded_msi_data_percentage\":0,\"s2:product_type\":\"S2MSI1C\",\"s2:processing_baseline\":\"05.11\",\"s2:product_uri\":\"S2B_MSIL1C_20250717T112119_N0511_R037_T32VKL_20250717T120258.SAFE\",\"s2:generation_time\":\"2025-07-17T12:02:58.000000Z\",\"s2:datatake_id\":\"GS2B_20250717T112119_043678_N05.11\",\"s2:datatake_type\":\"INS-NOBS\",\"s2:datastrip_id\":\"S2B_OPER_MSI_L1C_DS_2BPS_20250717T120258_S20250717T112116_N05.11\",\"s2:reflectance_conversion_factor\":0.967718180845495,\"datetime\":\"2025-07-17T11:24:34.857000Z\",\"s2:sequence\":\"0\",\"earthsearch:s3_path\":\"s3://earthsearch-data/sentinel-2-l1c/32/V/KL/2025/7/S2B_32VKL_20250717_0_L1C\",\"earthsearch:payload_id\":\"roda-sentinel2/workflow-sentinel2-to-stac/f41bae555f12fd9447647e1236aa493e\",\"processing:software\":{\"sentinel2-to-stac\":\"2025.03.06\"},\"updated\":\"2025-07-17T12:44:21.183Z\"},\"links\":[{\"rel\":\"self\",\"type\":\"application/geo+json\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-2-l1c/items/S2B_32VKL_20250717_0_L1C\"},{\"rel\":\"canonical\",\"href\":\"s3://earthsearch-data/sentinel-2-l1c/32/V/KL/2025/7/S2B_32VKL_20250717_0_L1C/S2B_32VKL_20250717_0_L1C.json\",\"type\":\"application/json\"},{\"rel\":\"license\",\"href\":\"https://sentinel.esa.int/documents/247904/690755/Sentinel_Data_Legal_Notice\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-2-l1c\"},{\"rel\":\"collection\",\"type\":\"application/json\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-2-l1c\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://earth-search.aws.element84.com/v1\"},{\"rel\":\"thumbnail\",\"href\":\"https://earth-search.aws.element84.com/v1/collections/sentinel-2-l1c/items/S2B_32VKL_20250717_0_L1C/thumbnail\"}],\"assets\":{\"blue\":{\"href\":\"s3://sentinel-s2-l1c/tiles/32/V/KL/2025/7/17/0/B02.jp2\",\"type\":\"image/jp2\",\"title\":\"Blue
        - 10m\",\"eo:bands\":[{\"name\":\"B02\",\"common_name\":\"blue\",\"center_wavelength\":0.49,\"full_width_half_max\":0.098}],\"gsd\":10,\"proj:shape\":[10980,10980],\"proj:transform\":[10,0,199980,0,-10,6600000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":10,\"scale\":0.0001,\"offset\":-0.1}],\"roles\":[\"data\",\"reflectance\"]},\"cirrus\":{\"href\":\"s3://sentinel-s2-l1c/tiles/32/V/KL/2025/7/17/0/B10.jp2\",\"type\":\"image/jp2\",\"title\":\"Cirrus
        - 60m\",\"eo:bands\":[{\"name\":\"B10\",\"common_name\":\"cirrus\",\"center_wavelength\":1.3735,\"full_width_half_max\":0.075}],\"gsd\":60,\"proj:shape\":[1830,1830],\"proj:transform\":[60,0,199980,0,-60,6600000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":60,\"scale\":0.0001,\"offset\":-0.1}],\"roles\":[\"data\",\"reflectance\"]},\"coastal\":{\"href\":\"s3://sentinel-s2-l1c/tiles/32/V/KL/2025/7/17/0/B01.jp2\",\"type\":\"image/jp2\",\"title\":\"Coastal
        - 60m\",\"eo:bands\":[{\"name\":\"B01\",\"common_name\":\"coastal\",\"center_wavelength\":0.443,\"full_width_half_max\":0.027}],\"gsd\":60,\"proj:shape\":[1830,1830],\"proj:transform\":[60,0,199980,0,-60,6600000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":60,\"scale\":0.0001,\"offset\":-0.1}],\"roles\":[\"data\",\"reflectance\"]},\"granule_metadata\":{\"href\":\"s3://sentinel-s2-l1c/tiles/32/V/KL/2025/7/17/0/metadata.xml\",\"type\":\"application/xml\",\"roles\":[\"metadata\"]},\"green\":{\"href\":\"s3://sentinel-s2-l1c/tiles/32/V/KL/2025/7/17/0/B03.jp2\",\"type\":\"image/jp2\",\"title\":\"Green
        - 10m\",\"eo:bands\":[{\"name\":\"B03\",\"common_name\":\"green\",\"center_wavelength\":0.56,\"full_width_half_max\":0.045}],\"gsd\":10,\"proj:shape\":[10980,10980],\"proj:transform\":[10,0,199980,0,-10,6600000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":10,\"scale\":0.0001,\"offset\":-0.1}],\"roles\":[\"data\",\"reflectance\"]},\"nir\":{\"href\":\"s3://sentinel-s2-l1c/tiles/32/V/KL/2025/7/17/0/B08.jp2\",\"type\":\"image/jp2\",\"title\":\"NIR
        1 - 10m\",\"eo:bands\":[{\"name\":\"B08\",\"common_name\":\"nir\",\"center_wavelength\":0.842,\"full_width_half_max\":0.145}],\"gsd\":10,\"proj:shape\":[10980,10980],\"proj:transform\":[10,0,199980,0,-10,6600000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":10,\"scale\":0.0001,\"offset\":-0.1}],\"roles\":[\"data\",\"reflectance\"]},\"nir08\":{\"href\":\"s3://sentinel-s2-l1c/tiles/32/V/KL/2025/7/17/0/B8A.jp2\",\"type\":\"image/jp2\",\"title\":\"NIR
        2 - 20m\",\"eo:bands\":[{\"name\":\"B8A\",\"common_name\":\"nir08\",\"center_wavelength\":0.865,\"full_width_half_max\":0.033}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,199980,0,-20,6600000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"roles\":[\"data\",\"reflectance\"]},\"nir09\":{\"href\":\"s3://sentinel-s2-l1c/tiles/32/V/KL/2025/7/17/0/B09.jp2\",\"type\":\"image/jp2\",\"title\":\"NIR
        3 - 60m\",\"eo:bands\":[{\"name\":\"B09\",\"common_name\":\"nir09\",\"center_wavelength\":0.945,\"full_width_half_max\":0.026}],\"gsd\":60,\"proj:shape\":[1830,1830],\"proj:transform\":[60,0,199980,0,-60,6600000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":60,\"scale\":0.0001,\"offset\":-0.1}],\"roles\":[\"data\",\"reflectance\"]},\"product_metadata\":{\"href\":\"s3://sentinel-s2-l1c/tiles/32/V/KL/2025/7/17/0/product_metadata.xml\",\"type\":\"application/xml\",\"roles\":[\"metadata\"]},\"red\":{\"href\":\"s3://sentinel-s2-l1c/tiles/32/V/KL/2025/7/17/0/B04.jp2\",\"type\":\"image/jp2\",\"title\":\"Red
        - 10m\",\"eo:bands\":[{\"name\":\"B04\",\"common_name\":\"red\",\"center_wavelength\":0.665,\"full_width_half_max\":0.038}],\"gsd\":10,\"proj:shape\":[10980,10980],\"proj:transform\":[10,0,199980,0,-10,6600000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":10,\"scale\":0.0001,\"offset\":-0.1}],\"roles\":[\"data\",\"reflectance\"]},\"rededge1\":{\"href\":\"s3://sentinel-s2-l1c/tiles/32/V/KL/2025/7/17/0/B05.jp2\",\"type\":\"image/jp2\",\"title\":\"Red
        Edge 1 - 20m\",\"eo:bands\":[{\"name\":\"B05\",\"common_name\":\"rededge\",\"center_wavelength\":0.704,\"full_width_half_max\":0.019}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,199980,0,-20,6600000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"roles\":[\"data\",\"reflectance\"]},\"rededge2\":{\"href\":\"s3://sentinel-s2-l1c/tiles/32/V/KL/2025/7/17/0/B06.jp2\",\"type\":\"image/jp2\",\"title\":\"Red
        Edge 2 - 20m\",\"eo:bands\":[{\"name\":\"B06\",\"common_name\":\"rededge\",\"center_wavelength\":0.74,\"full_width_half_max\":0.018}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,199980,0,-20,6600000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"roles\":[\"data\",\"reflectance\"]},\"rededge3\":{\"href\":\"s3://sentinel-s2-l1c/tiles/32/V/KL/2025/7/17/0/B07.jp2\",\"type\":\"image/jp2\",\"title\":\"Red
        Edge 3 - 20m\",\"eo:bands\":[{\"name\":\"B07\",\"common_name\":\"rededge\",\"center_wavelength\":0.783,\"full_width_half_max\":0.028}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,199980,0,-20,6600000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"roles\":[\"data\",\"reflectance\"]},\"swir16\":{\"href\":\"s3://sentinel-s2-l1c/tiles/32/V/KL/2025/7/17/0/B11.jp2\",\"type\":\"image/jp2\",\"title\":\"SWIR
        1.6\u03BCm - 20m\",\"eo:bands\":[{\"name\":\"B11\",\"common_name\":\"swir16\",\"center_wavelength\":1.61,\"full_width_half_max\":0.143}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,199980,0,-20,6600000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"roles\":[\"data\",\"reflectance\"]},\"swir22\":{\"href\":\"s3://sentinel-s2-l1c/tiles/32/V/KL/2025/7/17/0/B12.jp2\",\"type\":\"image/jp2\",\"title\":\"SWIR
        2.2\u03BCm - 20m\",\"eo:bands\":[{\"name\":\"B12\",\"common_name\":\"swir22\",\"center_wavelength\":2.19,\"full_width_half_max\":0.242}],\"gsd\":20,\"proj:shape\":[5490,5490],\"proj:transform\":[20,0,199980,0,-20,6600000],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"uint16\",\"spatial_resolution\":20,\"scale\":0.0001,\"offset\":-0.1}],\"roles\":[\"data\",\"reflectance\"]},\"tileinfo_metadata\":{\"href\":\"s3://sentinel-s2-l1c/tiles/32/V/KL/2025/7/17/0/tileInfo.json\",\"type\":\"application/json\",\"roles\":[\"metadata\"]},\"visual\":{\"href\":\"s3://sentinel-s2-l1c/tiles/32/V/KL/2025/7/17/0/TCI.jp2\",\"type\":\"image/jp2\",\"title\":\"True
        color image\",\"eo:bands\":[{\"name\":\"B04\",\"common_name\":\"red\",\"center_wavelength\":0.665,\"full_width_half_max\":0.038},{\"name\":\"B03\",\"common_name\":\"green\",\"center_wavelength\":0.56,\"full_width_half_max\":0.045},{\"name\":\"B02\",\"common_name\":\"blue\",\"center_wavelength\":0.49,\"full_width_half_max\":0.098}],\"raster:bands\":[{\"nodata\":0,\"data_type\":\"ui[...]
