name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
#          - "3.11-dev"
        os:
          - ubuntu-latest
#          - windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: 'setup.py'

      - name: Execute linters and test suites
        run: ./scripts/cibuild

      - name: Upload All coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          fail_ci_if_error: false 

  min-versions:
    name: min-versions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v3
        with:
          python-version: 3.9
          cache: 'pip'
          cache-dependency-path: 'requirements-min.txt'
      - name: Install minimum requirements
        run: pip install -r requirements-min.txt
      - name: Install
        run: pip install .
      - name: Install dev requirements
        run: pip install -r requirements-dev.txt
      - name: Test
        run: ./scripts/test

  docs:
    name: docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v3
        with:
          python-version: 3.9
          cache: 'pip'
          cache-dependency-path: 'requirements-docs.txt'
      - name: Install pandoc
        run: sudo apt-get update && sudo apt-get -y install pandoc
      - name: Install docs requirements
        run: pip install -r requirements-docs.txt
      - name: Install pystac_client
        run: pip install .
      - name: Build docs
        run: ./scripts/build-docs

  pre-release:
    name: pre-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v3
        with:
          python-version: 3.9
          cache: 'pip'
          cache-dependency-path: 'setup.py'
      - name: Install
        run: pip install .
      - name: Install any pre-releases of pystac
        run: pip install -U --pre pystac
      - name: Install dev requirements
        run: pip install -r requirements-dev.txt
      - name: Test
        run: ./scripts/test
